<div id="become_lawyer_dialog">
    <center>
        Чтобы записаться юристом укажите какую организацию вы представляете.
        <br/><br/>
        <form id="become_lawyer_form" method="post" action="{% url become_lawyer %}">
            {% csrf_token %}
            <input type="text" name="data" value="" size="50" maxlength="50" />
            <input type="hidden" name="tik" value="{{ current_location.id }}" />
        </form>
    </center>
</div>

<script type="text/javascript">
    function become_lawyer_dialog_init(){
        $("#become_lawyer_dialog").dialog("open");
        prevent_enter_work("#become_lawyer_form input");
    }

    $("#become_lawyer_dialog").dialog({width:650, height:250, modal: true, title: "Стать юристом",
        buttons: {
            "Записаться": function(){signup_for_role("lawyer", "{{ request.path }}");},
            "Отмена": function(){$("#become_lawyer_dialog").dialog("close");}
        }
    }).dialog("close");
</script>
