<div id="become_authority_dialog">
    Чтобы записаться кандидатом, депутатом, членом городской/районной администрации или другим представителем власти, напишите нам по адресу
    <a href="mailto:admin@grakon.org">admin@grakon.org</a>. В письме укажите Ваше имя пользователя и приложите доказательство статуса (скан документа или ссылка на сайт, куда мы сможем отправить код для подтверждения доступа).
</div>

<script type="text/javascript">
    function become_authority_dialog_init(){
        $("#become_authority_dialog").dialog("open");
    }

    $("#become_authority_dialog").dialog({width:650, height:250, modal: true,
        title: "Стать представителем власти",
        buttons: {
            "Отмена": function(){$("#become_authority_dialog").dialog("close");}
        }
    }).dialog("close");
</script>
