<div id="become_voter_dialog">
    Записаться избирателем на выбранном округе?
    <form id="become_voter_form" method="post" action="{% url become_voter %}">
        {% csrf_token %}
        <input type="hidden" name="uik" value="{{ current_location.id }}" />
    </form>
</div>

<script type="text/javascript">
    function become_voter_dialog_init(){
        $("#become_voter_dialog").dialog("open");
    }

    $("#become_voter_dialog").dialog({width:650, height:250, modal: true,
        title: "Стать избирателем",
        buttons: {
            "Записаться": function(){
                {% with yandex_target="voter" %}
                    {% include "services/yandex-target.html" %}
                {% endwith %}
                signup_for_role("voter", "{{ request.path }}");
            },
            "Отмена": function(){$("#become_voter_dialog").dialog("close");}
        }
    }).dialog("close");

    /*if (data=="ok"){
            $("#become_voter_dialog").trigger("become_voter_event", [form_location_id("become_voter_form")]);
            $("#become_voter_dialog").dialog("close");
            $("#become_voter_form").attr("action", "{% url goto_location %}")
                    .attr("method", "get").submit();
        } else
            alert(data);*/
</script>
