{% load elements %}

<div id="become_observer_dialog">
    <!--div class="center">
        <span class="dialog_switch_button dialog_switch_button_active" id="grakon_btn">На площадке</span>
        <span class="dialog_switch_button" id="partner_btn">Оформить документы</span>
    </div>

    <br/-->

    <div id="grakon_tab">
        <b>Если вы уже записались в наблюдатели</b>, выберите соответствущую организацию/партию/кандидата:

        <div class="center">
            <form id="become_observer_form" method="post" action="{% url become_observer %}">
                {% csrf_token %}
                <select name="organization">
                    {% for organization in organizations %}
                        {% if organization.signup_observers and organization.verified %}
                            <option value="{{ organization.name }}">{{ organization.title }}</option>
                        {% endif %}
                    {% endfor %}
                    <option value="">Другая организация</option>
                </select>
                <div id="other_observer_organization">
                    <br/>
                    <input type="text" name="data" value="" size="50" maxlength="50" />
                </div>
                <input type="hidden" name="tik" value="{{ current_location.id }}" />
            </form>
        </div>

        После нажатия кнопки "Записаться", вы появитесь в списке наблюдателей, однако этот статус
        не будет являться подтвержденным. В ближайшее время мы введем возможность верифицировать этот статус.
    </div>

    <div id="partner_tab" style="display:none;">
        <b>Если вы еще не записались в наблюдатели</b>, мы рекоммендуем зарегистрироваться
        на сайте одной из следующих организаций:

        <ul>
            {% for organization in organizations %}
                {% if organization.signup_observers and organization.is_partner %}
                    <li>
                        <b><a href="{{ organization.get_absolute_url }}" target="_blank">{{ organization }}</a></b><br/>
                        <!--{{ organization.about|safe }}-->
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        Если вы хотите, чтобы здесь отображалась ваша организация, пожалуйста,
        <a href="{% url create_organization %}">зарегистрируйте</a> ее и свяжитесь с нами.
    </div>
</div>

<script type="text/javascript">
    var signup_button = {
        text: "Записаться",
        click: function signup(){
            {% with yandex_target="observer" %}
                {% include "services/yandex-target.html" %}
            {% endwith %}
            signup_for_role("observer", "{{ request.path }}");
        }
    };

    var cancel_button = {text: "Отмена", click: function(){
        $("#become_observer_dialog").dialog("close");
    }};

    function become_observer_dialog_init(){
        $("#become_observer_dialog").dialog("open");

        $("#grakon_btn").click(function(){
            $("#become_observer_dialog").dialog("option", "buttons",
                    [signup_button, cancel_button]);
        });
        $("#partner_btn").click(function(){
            $("#become_observer_dialog").dialog("option", "buttons", [cancel_button]);
        });
    }

    $("#become_observer_dialog").dialog({width:650, height:450, modal: true,
            title: "Записаться в наблюдатели", buttons: [signup_button, cancel_button]
    }).dialog("close");

    function sync_observer_organization_input(){
        if ($("#become_observer_form select").val()=="")
            $("#other_observer_organization").show();
        else
            $("#other_observer_organization").hide();
    }

    $("#become_observer_form select").change(sync_observer_organization_input);
    sync_observer_organization_input();
</script>
