<div id="find_uik_dialog">
    <div class="addressFields"></div>
    <h4 class="addressResult"></h4>
    <div style="margin:1em;">
        Мы не сохраняем ваш адрес. Этот инструмент предназначен только для того,
        чтобы помочь вам найти свой избирательный участок.

        Альтернативно, вы можете воспользоваться функцией
        "<a href="http://cikrf.ru/uiksearch.html" target="_blank">Найди свой участок</a>"
        на сайте ЦИК.
    </div>
</div>

<script type="text/javascript" src="{{ STATIC_URL }}js/uiks.js"></script>

<script type="text/javascript">
    function find_uik_dialog_init(){
        $("#find_uik_dialog").dialog("open");
        init_find_uik();
    }

   $(function (){ $(function (){ $("#find_uik_dialog").dialog({autoOpen: false, width: 650, height: 470, modal: true,
        title: "Найти свой избирательный участок (УИК)", buttons: {
            "Отмена": function(){$("#find_uik_dialog").dialog("close");}
    }}).dialog("close");});});
</script>
