<div id="login_dialog">
    <span id="login_intro_span"></span>

    <table class="login_dialog_table">
        <tr>
            <td>
                <form id="login_form" method="post" action="{% url login %}?next={{ request.get_full_path }}">
                    {% csrf_token %}
                    <table>
                    <tr>
                        <td><label for="id_username">Логин/email:</label></td>
                        <td><input id="id_username" type="text" name="username" /></td>
                    </tr>
                    <tr>
                        <td><label for="id_password">Пароль:</label></td>
                        <td><input id="id_password" type="password" name="password" /></td>
                    </tr>
                    </table>

                    <input id="login_form_submit" type="submit" value="Войти" />
                    <a id="login_dialog_register" href="{% url register %}">Регистрация</a>
                </form>

                <a href="{% url password_reset %}">Забыли пароль?</a><br/><br/>
                <a href="{% url password_reset %}">Раньше входили через соцсети, но сейчас по какой-то причине не можете?</a>&nbsp;&nbsp;&nbsp;
            </td>
            <td style="border-left: 1px solid #AAA;">
                {% include "elements/loginza-lazy.html" %}
            </td>
        </tr>
    </table>

<script type="text/javascript">
    // Login dialog
    $("#login_dialog").dialog({width: 670, height: 380, modal: true, title: "Войдите в систему", buttons: {
        //"Войти": function(){window.location.href=LOGIN_URL+"?next="+window.location.href;},
        "Отмена": function(){$("#login_dialog").dialog("close");}
    }}).dialog("close");

    $("#login_form_submit").button();
    $("#login_dialog_register").button();

    function login_dialog_init(message){
        load_lazy_loginza();
        $("#login_intro_span").text(message);
        $("#login_form_submit").button();
        $("#login_dialog").dialog("open");
    }
</script>
