{% if user.is_authenticated %}
    <div id="remove_from_contacts_dialog">
        <center>
            Удалить пользователя <span id="remove_from_contacts_user" class="dialog_user_span"></span> из контактов?
            <form id="remove_from_contacts_form" method="post" action="{% url remove_from_contacts %}">
                {% csrf_token %}
                <input type="hidden" name="username" value="" />
            </form>
        </center>
    </div>
{% endif %}

<script type="text/javascript">
    // Remove user from contacts dialog
    {% if user.is_authenticated %}
        $("#remove_from_contacts_dialog").dialog({width:650, height:250, modal: true, title: "Удалить из контактов",
            buttons: {
                "Удалить": function(){
                    $.post($("#remove_from_contacts_form").attr("action"),
                        $("#remove_from_contacts_form").serialize(), function(data){
                            $("#remove_from_contacts_dialog").dialog("close");
                            if (data=="ok"){
                                var username = $('#remove_from_contacts_form input[name="username"]').val();
                                var index = $.inArray(username, CONTACTS);
                                if (index != -1)
                                    CONTACTS.splice(index, 1); // TODO: check if it works

                                $("#remove_from_contacts_dialog").trigger("remove_from_contacts_event", [username]);
                                alert("Пользователь "+username+" удален из списка ваших контактов");
                            } else
                                alert(data);
                        }
                    );
                },
                "Отмена": function(){$("#remove_from_contacts_dialog").dialog("close");}
            }
        }).dialog("close");

        function remove_from_contacts_init(username){
            $("#remove_from_contacts_user").text(username);
            $('#remove_from_contacts_form input[name="username"]').val(username);
            $("#remove_from_contacts_dialog").dialog("open");
        }
    {% else %}
        function remove_from_contacts_init(username){
            login_dialog_init("Чтобы пожаловаться на пользователя, пожалуйста, войдите в систему");
        }
    {% endif %}
</script>
