{% load uni_form_tags %}
{% if user.is_authenticated %}
    <div id="send_message_dialog">
        <div class="center">
            Отправить сообщение пользователю <span id="send_message_dialog_user" class="dialog_user_span"></span>
        </div>

		{% uni_form message_form message_form.helper %}
		{% comment %}
        <form id="send_message_form" method="post" action="{% url send_message %}">
            {% csrf_token %}
            <table>
                <tr>
                    <td><label for="message_title">Тема:</label></td>
                    <td><input type="text" name="message_title" value="" size="60" /></td>
                </tr>
                <tr>
                    <td><label for="message_body">Сообщение:</label></td>
                    <td><textarea name="message_body" rows="4" cols="60"></textarea></td>
                </tr>
            </table>
            <input type="hidden" name="username" value="" />
        </form>
        {% endcomment %}
    </div>
{% endif %}

<script type="text/javascript">
    // Send message dialog
    {% if user.is_authenticated %}
        $("#send_message_dialog").dialog({width: 650, height: 500, modal: true, title: "Отправить сообщение", buttons: {
            "Отправить": function(){
                $.post("{% url send_message %}", $("#send_message_form").serialize(), function(data){
                    $("#send_message_dialog").dialog("close");
                    if (data=="ok"){
                        alert("Сообщение успешно отправлено на email пользователя");
                    }else{
                        alert(data);
                    }
                });
            },
            "Отмена": function(){$("#send_message_dialog").dialog("close");}
        }}).dialog("close");

        function send_message_dialog_init(username, pk){
            $("#send_message_dialog_user").text(username);
            $('#send_message_form input[name="to_user"]').val(pk);
            $("#send_message_dialog").dialog("open");
        }
    {% else %}
        function send_message_dialog_init(){
            login_dialog_init("Чтобы отправить сообщение, пожалуйста, войдите в систему");
        }
    {% endif %}
</script>
