<div id="submit_complaint_dialog">
    <p>Вы можете пройти процедуру автоматического составления официальной жалобы на сайте
    <a href="http://kuda-komu.net/voting/" target="_blank">Куда? Кому?</a>.</p>
</div>

<script type="text/javascript">
    function submit_complaint_dialog_init(){
        $("#submit_complaint_dialog").dialog("open");
    }

    $("#submit_complaint_dialog").dialog({width:650, height:250, modal: true, title: "Составить жалобу",
        buttons: {
            "Составить жалобу": function(){
                window.open("http://kuda-komu.net/voting/", "_blank");
            },
            "Отмена": function(){$("#submit_complaint_dialog").dialog("close");}
        }
    }).dialog("close");
</script>
