{% extends "base.html" %}

{% load elements %}

{% block title %}
{% if current_location.region %}{{ current_location.region }} - {% endif %}
{% if current_location.tik %}{{ current_location.tik }} - {% endif %}
{{ current_location }} - Гракон
{% endblock %}

{% block head %}
    <!--script type="text/javascript">
        VK.init({apiId: {{ VK_APP_ID }}, onlyWidgets: true});
    </script-->
    <style type="text/css">
        .ym-col3 .ym-cbox {display: none;}
    </style>
{% endblock %}

{% block breadcrumbs %}
    {% include "elements/breadcrumbs.html" %}

    {% include "elements/results_table.html" %}
{% endblock %}

{% block left_column %}
    <h3 class="column_header">Участники</h3>

    <div class="ym-clearfix">
        <div class="side_block_header">
            <h4>Избиратели</h4>
        </div>

        <div class="content_block">
            <ul id="voters_ul" class="side_list">
                {% for voter in participants.voter %}
                    <li><a href="{{ voter.get_absolute_url }}">{{ voter.username }}</a></li>
                {% endfor %}
            </ul>
            {% if is_voter_here %}
                {% button "arrowreturnthick-1-e" "Сменить избирательный округ" "become_voter" %}
            {% else %}
                {% if request.user.is_authenticated %}
                    {% button "check" "Сменить избирательный округ" "become_voter" %}
                {% else %}
                    {% button "check" "Записаться в избиратели" "become_voter" %}
                {% endif %}
            {% endif %}
        </div>

        {% include "elements/left_panel.html" %}
    </div>

    {% include "dialogs/become_voter.html" %}

    {% include "dialogs/become_observer.html" %}

    {% include "dialogs/report.html" %}

    {% if user.is_authenticated %}
        {% include "dialogs/add_to_contacts.html" %}

        <script type="text/javascript">
            // Become voter
            /*$("#become_voter_dialog").on("become_voter_event", function(event, location_id){
                var user_voter_li = $('#voters_ul li a[href="{{ user.get_absolute_url }}"]').parent();
                if (location_id=={{ current_location.id }}){
                    $("#become_voter .ui-button-text").text("Сменить избирательный округ");
                    if (user_voter_li.length==0)
                        $("#voters_ul").append($("<li/>").append(
                            $("<a/>").attr("href", "{{ user.get_absolute_url }}").text("{{ user.username }}")
                        ));
                } else {
                    $("#become_voter .ui-button-text").text("Записаться в избиратели");
                    user_voter_li.remove();
                }
            });*/
        </script>
    {% endif %}

    <script type="text/javascript">
        // TODO: move it inside become_voter.html
        /*$("#voters_ul li").each(function(index){
            new UserListItem($(this));
        });

        $("#add_to_contacts_dialog").on("add_to_contacts_event", function(event, username){
            // TODO: explicit use of url (use global variable instead) - everywhere
            $('#voters_ul li a[href="/users/'+username+'/"]').parent().children(".ui-icon-plus").css("visibility", "hidden");
        });

        $("#report_dialog").on("report_dialog_event", function(event, username){
            $('#voters_ul li a[href="/users/'+username+'/"]').parent().children(".ui-icon-notice").css("visibility", "hidden");
        });*/
    </script>
{% endblock %}

{% block right_column %}
    <h3 class="column_header">Инструменты</h3>

    <div class="ym-clearfix">
        <div class="side_block_header">
            <h4>Полезные ресурсы</h4>
        </div>

        <div class="content_block">
            <ul id="links_ul" class="side_list">
                {% for link in links %}
                <li><a href="{{ link.url }}" target="_blank">{{ link.name }}</a></li>
                {% endfor %}
            </ul>
            {% button "circle-plus" "Добавить ссылку" "add_link" %}
        </div>

        {% include "elements/right_panel.html" %}
    </div>

    {% include "elements/yandex_share.html" %}

    {% include "dialogs/add_link.html" %}

    {% include "dialogs/submit_complaint.html" %}

    {% if user.is_authenticated %}
        <script type="text/javascript">
            // Add link
            $("#add_link_dialog").on("add_link_event", function(){
                $("#links_ul").append($("<li/>").append(
                    $("<a/>").attr("target", "_blank").attr("href", $("#link_url_input").val())
                        .text($("#link_name_input").val())
                ));
            });

            /*$("#report_link").click(function(){
                // TODO: depricate it
                $("#links_ul li").each(function(index){
                    var url = $(this).children("a").attr("href");
                    var text = $(this).text();
                    var a_copy = $("<a/>").attr("href", url).text(text);
                    var radio_btn = $("<input/>").attr("type", "radio").attr("name", "report_link_radio").attr("value", url);
                    $("#report_link_ul").append($("<li/>").append(radio_btn).append(a_copy));
                });
            });*/
        </script>
    {% endif %}
{% endblock %}

{% block content_header %}
    <h2 class="location_header">{{ current_location }}</h2>

    {% tabs "tabs" view "loc_id" loc_id "Информация" "location_info" "locations/info.html" "Стена" "location_wall" "locations/wall.html" "Карта" "location_map" "locations/map.html" "Помощь" "location_help" "locations/help.html" %}

    <script type="text/javascript">
        var disqus_shortname = "{{ DISQUS_SHORTNAME }}";
        var disqus_identifier = "location/{{ current_location.id }}";

        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>

{% endblock %}
