{% extends "base.html" %}

{% load elements %}

{% block title %}
{% if current_location.region %}{{ current_location.region }} - {% endif %}
{% if current_location.tik %}{{ current_location.tik }} - {% endif %}
{{ current_location }} - Гракон
{% endblock %}

{% block head %}
    <style type="text/css">
        .ym-col3 .ym-cbox {display: none;}
    </style>
{% endblock %}

{% block breadcrumbs %}
    {% include "elements/breadcrumbs.html" %}

    {% include "elements/results_table.html" %}

    {% if user.is_authenticated and not signed_up_in_uik %}
        <center>
            <span style="background-color:#F72F50; color:white; font-weight: bold; padding: 0.3em;">
                Вы еще не записались избирателем на свой УИК. Вы можете найти УИК по адресу
                проживания <a href="{% url uik_search %}" target="_blank">здесь</a>.
            </span>
        </center>
    {% endif %}
{% endblock %}

{% block left_column %}
    <h3 class="column_header">Участники</h3>

    <div class="ym-clearfix">
        {% include "elements/left_panel.html" %}
    </div>
{% endblock %}

{% block right_column %}
    <h3 class="column_header">Инструменты</h3>

    <div class="ym-clearfix">
        <div class="side_block_header">
            <h4>Полезные ресурсы</h4>
        </div>

        <div class="content_block">
            <ul id="links_ul" class="side_list">
                {% for link in links %}
                    <li><a href="{{ link.url }}" target="_blank">{{ link.name }}</a></li>
                {% endfor %}
            </ul>
            {% button "circle-plus" "Добавить ссылку" "add_link" %}
        </div>

        {% include "elements/right_panel.html" %}
    </div>

    {% include "dialogs/add_link.html" %}

    {% include "dialogs/submit_complaint.html" %}

    {% if user.is_authenticated %}
        <script type="text/javascript">
            // Add link
            $("#add_link_dialog").on("add_link_event", function(){
                $("#links_ul").append($("<li/>").append(
                    $("<a/>").attr("target", "_blank").attr("href", $("#link_url_input").val())
                        .text($("#link_name_input").val())
                ));
            });

            /*$("#report_link").click(function(){
                // TODO: depricate it
                $("#links_ul li").each(function(index){
                    var url = $(this).children("a").attr("href");
                    var text = $(this).text();
                    var a_copy = $("<a/>").attr("href", url).text(text);
                    var radio_btn = $("<input/>").attr("type", "radio").attr("name", "report_link_radio").attr("value", url);
                    $("#report_link_ul").append($("<li/>").append(radio_btn).append(a_copy));
                });
            });*/
        </script>
    {% endif %}
{% endblock %}

{% block content_header %}
    <h2 class="location_header">
        {% if current_location.is_uik %}
            УИК №
        {% endif %}
        {{ current_location }}
    </h2>

    {% if user.is_authenticated %}
        {% tabs "tabs" view "loc_id" loc_id "Информация" "location_info" "locations/info.html" "Стена" "location_wall" "locations/wall.html" "Карта" "location_map" "locations/map.html" "Помощь" "location_help" "locations/help.html" %}
    {% else %}
        {% tabs "tabs" view "loc_id" loc_id "Информация" "location_info" "locations/info.html" "Стена" "location_wall" "locations/wall.html" "Карта" "location_map" "locations/map.html" "Помощь" "location_help" "locations/help.html" "Регистрация" "location_register" "locations/register.html" %}
    {% endif %}

    <script type="text/javascript">
        var disqus_shortname = "{{ DISQUS_SHORTNAME }}";
        var disqus_identifier = "location/{{ current_location.id }}";

        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>

    {% if dialog %}
        <script type="text/javascript">
            become_{{ dialog }}_dialog_init();
        </script>
    {% endif %}
{% endblock %}
