<p>Найдите свой избирательный округ – и увидите, как проходят выборы в Вашем городе [стрелка наверх].</p>

<p>Посмотрите, кто будет наблюдателями, журналистами, юристами, членами УИК в вашем избирательном округе.
Присоединяйтесь – помогите удостовериться, что выборы на Вашем участке пройдут честно. [стрелка влево]</p>

<p>Если по Вашему участку ещё нет информации - станьте первым и пригласите своих знакомых.
Ссылка на эту страницу: [правильная ссылка].
Помогите подготовить Ваш избирательный округ к выборам - добавляйте ссылки на полезные местные ресурсы.
Внесите вклад в проведение общественного освещения хода выборов - сообщайте об обнаруженных нарушениях.
[стрелка вправо]</p>

<p>В течение оставшегося времени до выборов 4 марта на площадку будут добавляться новые типы участников:
члены УИК, представители СМИ и полиции. Появятся новые эффективные инструменты: обжаловать нарушения,
выложить списки членов УИК, выложить копии протоколов и сравнить с официальными результатами ЦИК и другие.
Заходите на площадку почаще и зарегистрируйтесь, чтобы получать новости проекта: [кнопка “Войти”].</p>

<p>Наглядная презентация площадки с помощью диаграмм: [ссылка на pdf презентации]</p>

<p>Подробнее о проекте: [ссылка на страницу “о проекте”]</p>
