{% load elements %}

<p>Найдите свой избирательный округ – и увидите, как проходят выборы в Вашем городе (<b>навигация наверху</b>).</p>

<p>Посмотрите, кто будет наблюдателями, журналистами, юристами, членами УИК в вашем избирательном округе.
Присоединяйтесь – помогите удостовериться, что выборы на Вашем участке пройдут честно (<b>левая панель</b>).</p>

<p>Если по Вашему участку ещё нет информации - станьте первым и пригласите своих знакомых.</p>

<center>
    {% include "elements/yandex_share.html" %}
</center>

<p>Помогите подготовить Ваш избирательный округ к выборам - добавляйте ссылки на полезные местные ресурсы.
Внесите вклад в проведение общественного освещения хода выборов - сообщайте об обнаруженных нарушениях (<b>правая панель</b>).
</p>

<p>В течение оставшегося времени до выборов 4 марта на площадку будут добавляться новые типы участников:
члены УИК, представители СМИ и полиции. Появятся новые эффективные инструменты: обжаловать нарушения,
выложить списки членов УИК, выложить копии протоколов и сравнить с официальными результатами ЦИК и другие.
Заходите на площадку почаще и зарегистрируйтесь, чтобы получать новости проекта.</p>

{% if not request.user.is_authenticated %}
    <p>Присоединяйтесь – помогите удостовериться, что выборы пройдут честно.</p>
    <center>
        {% button "arrowreturnthick-1-e" "Войти" "login_btn2" "" "" %}
    </center>
{% endif %}

<p>Вы можете посмотреть <a href="http://bit.ly/elections_pdf">наглядную презентацию</a> площадки в диаграммах.</p>

<p>Подробнее о проекте можно прочитать <a href="{% url about %}">здесь</a>.</p>

<script type="text/javascript">
    $("#login_btn2").click(function(){
        login_dialog_init();
    });
</script>