{% load elements %}

<p>
    <b>Адрес</b>: {{ current_location.postcode|default:"" }} {{ current_location.address|default:"Адрес недоступен" }}
</p>

<p>
    <b>Телефон</b>: {{ current_location.telephone|default:"Телефон недоступен" }}
</p>

{% if current_location.email %}
<p>
    <b>Email</b>: <a href="mailto:{{ current_location.email }}">{{ current_location.email }}</a>
</p>
{% endif %}

{% if not current_location.is_foreign %}
    <p>
        <b>Информация на сайте Центризбиркома:</b>
        <br/>
        {% if current_location.info_url %}
            <a href="{{ current_location.info_url }}" target="_blank">Информация о комиссии</a>
            <br/>
        {% endif %}
        <a href="{{ current_location.results_url }}" target="_blank">Официальные результаты выборов</a>
    </p>
{% endif %}

<p>
    <b>Состав комиссии:</b>
    <br/>

    <ul>
        {% for commission_member in commission_members %}
            <li>
                <b>{{ commission_member.last_name }} {{ commission_member.first_name }} {{ commission_member.middle_name }}</b>
                <br/>
                <i>Должность:</i> {{ commission_member.get_role_display }}
                <br/>
                <i>Кем выдвинут:</i> {{ commission_member.get_party_display }}
                {% if commission_member.job %}
                <br/>
                <i>Место работы:</i> {{ commission_member.job }}
                {% endif %}
            </li>
        {% empty %}
            <li><i>Пока не добавлено ни одного члена комиссии</i></li>
        {% endfor %}
    </ul>

    {% button "" "Добавить члена комиссии" "add_commission_member1" %}
</p>
