<script src="http://api-maps.yandex.ru/1.1/index.xml?key={{ YANDEX_MAPS_KEY }}&modules=pmap" type="text/javascript"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/js/map.js"></script>

{% if current_location.x_coord %}

    <script type="text/javascript">
        var electionCommissions = new Array(
                new ElectionCommission({{ current_location.id }}, 1, "{{ current_location.name }}", "{{ current_location.name }}", "{{ current_location.address }}",
                {{ current_location.x_coord|floatformat:10 }}, {{ current_location.y_coord|floatformat:10 }}, {numVoters: 500, numObservers: 5} )
        );
    </script>

    <div id="publicElectionsMap" style="width: 400px; height:300px;"></div>

    <script type="text/javascript">
        $(document).ready(function(){
            ElectionMap.init();
        });
    </script>
{% else %}
    <i>Местоположение избирательной комиссии на карте не определено.</i>
{% endif %}
