    <script src="http://api-maps.yandex.ru/1.1/index.xml?key={{ YANDEX_MAPS_KEY }}&modules=pmap" type="text/javascript"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}libs/jquery.cookie.js"></script>
	<script src="{{ STATIC_URL }}js/OpenLayers.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/OL_Yandex.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/map.js"></script>

    <div class="center">
        <div id="publicElectionsMap" style="height:500px; min-width: 300px;"></div>
    </div>
    <a href="#" id="permalink">Постоянная ссылка на данный вид карты</a>

    <script type="text/javascript">
        $(document).ready(function(){
            Grakon.init("{{ current_location.x_coord }}", "{{ current_location.y_coord }}", Grakon.Utils.getZoomForLevel({{ current_location.level }}+1));
        });
    </script>
