{% load elements %}

<p>
    Чтобы записаться участником на этом избирательном округе,
    следить за новостями и общаться с другими участниками,
    вам необходимо <a href="{% url login %}?next={% url location_info current_location.id %}">войти в систему</a>
    или зарегистрироваться.
</p>

<p>Вы можете зарегистрироваться, с помощью электронного ящика,</p>
    {% button "check" "Зарегистрироваться" "register" "register" %}
<p>или используя аккаунты внешних сервисов</p>
    <center>
        {% include "elements/loginza.html" %}
    </center>

<p>
    При регистрации с помощью внешних сервисов вам не потребуется вводить пароль,
    однако мы можем попросить вас подтвердить ваш email.
    Вы всегда сможете <a href="{% url password_reset %}">установить или сбросить пароль</a>
    для имеющегося аккаунта.
</p>