{% load elements %}

<p>Чтобы принять участие в группе поддержки, придите со своими друзьями
в 8 часов вечера (сразу после завершения голосования) к избирательному участку.
Ваша задача - проследить, что наблюдатели получили заверенные копии протокола.</p>

<p>Известно, что после закрытия участков наблюдатели
остаются один на один с возможными нарушителями. Если вы будете снаружи,
то фальсификаторам будет сложнее убежать с мешком документов, печатями и т.д.,
а также выставить наблюдателей за дверь.</p>

<p>Подробнее о группах поддержки читайте <a href="{% url support_group_help %}">здесь</a>.</p>

<ul>
    {% for role in participants.supporter %}
        {% with participant=role.user %}
            <li>{% include "elements/participant.html" %}</li>
        {% endwith %}
    {% endfor %}
</ul>

{% button "" "Поддержать наблюдателей" "become_supporter1" %}