{% load elements %}
<p>
    Инструкцию о том, как стать веб-наблюдателем можно найти <a href="{% url web_observers_help %}">здесь</a>.
    <br/>
    После выборов мы позволим публиковать ссылки на видео, сделанные пользователями.
</p>

<p>
    <table class="web_observers_table">
        <tr>
            <th style="text-align:left;">Время</th>
            <th>Участник</th>
            <th>Захват видео</th>
        </tr>
        {% for time in times %}
        <tr>
            <td style="text-align:left;" width="30%">{{ time.start_time }}:00 &ndash; {{ time.end_time }}:00</td>
            <td width="35%">
                {% for web_observer in time.web_observers %}
                    {% with participant=web_observer.user %}
                        {% include "elements/participant.html" %}
                    {% endwith %}
                    <br/>
                {% endfor %}
            </td>
            <td>
                {% for web_observer in time.web_observers %}
                    {% if web_observer.capture_video %}+{% endif %}
                    <br/>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
</p>

{% button "" "Стать веб-наблюдателем" "become_web_observer1" %}
