{% load elements %}
<p>
    За ходом президентских выборов 4 марта на участках можно будет следить на сайте
    <a href="http://webvybory2012.ru" target="_blank">webvybory2012.ru</a>.
    <br/>
    О том, что за чем можно будет проследить с помощью видеокамер на избирательных участках
    можно прочитать <a href="http://improvegroup.ru/index.php?news&readtext=19" target="_blank">здесь</a>.
    Также смотрите <a href="http://improvegroup.ru/index.php?gold=content&readtext=4" target="_blank">пошаговую инструкцию веб-наблюдателя</a>.
    <br/>
    В ближайшее время мы опубликуем инструкции по захвату видео, которое может быть впоследствие использовано
    как доказательство нарушений на выборах.
</p>

<p>
    <table class="web_observers_table">
        <tr>
            <th>Время</th>
            <th>Участник</th>
            <th>Захват видео</th>
        </tr>
        {% for time in times %}
        <tr>
            <td>{{ time.start_time }}.00 - {{ time.end_time }}.00</td>
            <td>
                {% for web_observer in time.web_observers %}
                    {% with participant=web_observer.user %}
                        {% include "elements/participant.html" %}
                    {% endwith %}
                    <br/>
                {% endfor %}
            </td>
            <td>
                {% for web_observer in time.web_observers %}
                    {% if web_observer.capture_video %}+{% endif %}
                    <br/>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
</p>

{% button "" "Стать веб-наблюдателем" "become_web_observer1" %}
