{% extends "base.html" %}

{% block left_column %}
    <div class="ym-clearfix">
        <div class="side_block_header">
            <h4>Команда</h4>
        </div>

        <div class="content_block">
            <ul class="side_list">
                <li><a href="">Михаил Панько</a></li>
                <li><a href="">Сергей Копылов</a></li>
            </ul>
            <a href="">
                <button id="join_team">Присоединиться</button>
            </a>
        </div>
    </div>

    <div class="ym-clearfix">
        <div class="side_block_header">
            <h4>Волонтеры</h4>
        </div>

        <div class="content_block">
            <button id="become_voter">Записаться</button>
        </div>
    </div>

    <div class="ym-clearfix">
        <div class="side_block_header">
            <h4>Мы в интернете</h4>
        </div>

        <div class="content_block">
            <ul class="side_list">
                <li><a href="http://vkontakte.ru/club33572670">ВКонтакте</a></li>
                <li><a href="https://www.facebook.com/groups/297268326975464">Facebook</a></li>
            </ul>
        </div>
    </div>

    <script type="text/javascript">
        $("#join_team").button({icons: {primary: "ui-icon-check"}});
        //$("#become_voter").button({icons: {primary: "ui-icon-check"}});
    </script>
{% endblock %}

{% block right_column %}
    <div class="ym-clearfix">
        <div class="side_block_header">
            <h4>Наши цели</h4>
        </div>

        <div class="content_block">
            <ul id="links_ul" class="side_list">
                <li><a href="http://nabludatel.org" target="_blank">Гражданин Наблюдатель</a></li>
            </ul>
        </div>
    </div>

    <div class="ym-clearfix">
        <div class="side_block_header">
            <h4>Наши партнеры</h4>
        </div>

        <div class="content_block">
            <ul id="links_ul" class="side_list">
                <li><a href="http://nabludatel.org" target="_blank">Гражданин Наблюдатель</a></li>
                <li><a href="http://kuda-komu.net/" target="_blank">Куда? Кому?</a></li>
                <li><a href="http://sidorinlab.ru/" target="_blank">Sidorin.Lab</a></li>
                <li><a href="http://idemocracy.ru/" target="_blank">Фонд развития электронной демократии</a></li>
                <li><a href="http://www.kartanarusheniy.ru/" target="_blank">Карта Нарушений</a></li>
                <li><a href="https://lokolo.ru" target="_blank">Локоло</a></li>
            </ul>
            <a href="{% url partners %}">
                <button id="become_partner">Стать партнером</button>
            </a>
        </div>

        <script type="text/javascript">
            $("#become_partner").button({icons: {primary: "ui-icon-check"}});
        </script>
    </div>
{% endblock %}

{% block content %}
    {{ content|safe }}
{% endblock %}
