{% load elements %}

<h4>О себе</h4>
<div>
    {% if profile_user.profile.about %}
        {{ profile_user.profile.about|safe }}
    {% else %}
        {% if profile_user == user %}
            <i><a href="{% url edit_profile %}">Добавьте</a> информацию о себе.</i>
        {% else %}
            <i>Пользователь еще не добавил информацию о себе.</i>
        {% endif %}
    {% endif %}
</div>

<h4>Участие в выборах</h4>
<ul>
    {% include "elements/roles.html" %}
</ul>

{% if profile_user != user %}
    <div id="in_contacts"><i>Добавлен в контакты</i></div>
    <div id="is_reported" {% if not is_reported %}style="display:none;"{% endif %}><b>Вы пожаловались на этого пользователя</b></div>

    <div class="user_actions">
        {% button "mail-closed" "Отправить сообщение" "send_message" "" "" %}
        {% button "circle-plus" "Добавить в контакты" "add_to_contacts" "" "" %}
        {% button "circle-minus" "Удалить из контактов" "remove_from_contacts" "" "" %}
        {% button "alert" "Пожаловаться" "report_user" "" "" %}
    </div>

    <script type="text/javascript">
        // Create buttons
        $("#report_user").click(function(){
            report_dialog_init("user", {username: "{{ profile_user.username }}"});
        });

        if (!in_contacts("{{ profile_user.username }}")){
            $("#in_contacts").hide();
            $("#remove_from_contacts").hide();
        } else
            $("#add_to_contacts").hide();

        // Send message
        $("#send_message").click(function(){
            send_message_dialog_init("{{ profile_user.username }}", "{{ profile_user.pk }}");
        });

        // Add to contacts
        $("#add_to_contacts").click(function(){
            add_to_contacts_dialog_init("{{ profile_user.username }}");
        });

        // Remove from contacts
        $("#remove_from_contacts").click(function(){
            remove_from_contacts_init("{{ profile_user.username }}");
        });
    </script>

    {% if user.is_authenticated %}
        <script type="text/javascript">
            $("#report_dialog").on("report_dialog_event", function(event, username){
                // TODO: check that this is profile user
                $("#is_reported").show();
                $("#report_user").hide();
            });

            if ($.inArray("{{ profile_user.username }}", REPORTS["user"])!=-1)
                $("#report_user").hide();
        </script>
    {% endif %}
{% endif %}

{% if profile_user == user %}
    <div>
        Чтобы записаться участником в своем избирательном округе, перейдите на страницу
        округа и запишитесь, нажав соответсвующую кнопку в левой панели.
    </div>
    <div class="user_actions">
        {% button "circle-check" "Стать участником" "become_participant" "" "" %}
    </div>

    {% include "dialogs/become_observer.html" %}

    {% include "dialogs/become_voter.html" %}

    {% include "dialogs/change_location.html" %}

    <script type="text/javascript">
        $("#become_participant").click(function(){
            change_location_dialog_init("Стать участником", "Выберите ваш избирательный округ", "");
        });

        /*$("#become_voter_dialog").on("become_voter", function(event, location_id){
            var new_title =  (form_location_id("become_voter_form")!="") ? "Сменить избирательный округ" : "Записаться в избиратели";
            $("#become_voter .ui-button-text").text(new_title);
            $("#become_voter .ui-icon").toggleClass("ui-icon-circle-check").toggleClass("ui-icon-arrowreturnthick-1-e");
        });*/
    </script>
{% endif %}
