import os.path

PROJECT_PATH = os.path.abspath(os.path.dirname(__file__))

# Settings in this file must be edited before deployment

DEBUG = True # MUST be False in production
TEMPLATE_DEBUG = DEBUG

ADMINS = ()

MANAGERS = ADMINS

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',                # Add 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': os.path.join(PROJECT_PATH, 'database.sqlite'), # Or path to database file if using sqlite3.
        'USER': '',                                            # Not used with sqlite3.
        'PASSWORD': '',                                        # Not used with sqlite3.
        'HOST': '',                                            # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                                            # Set to empty string for default. Not used with sqlite3.
    }
}

DEFAULT_FROM_EMAIL = 'admin@grakon.org'

URL_PREFIX = 'http://127.0.0.1:8000' # put an appropriate domain name here

# Make this unique, and don't share it with anybody.
SECRET_KEY = ''

VIRTUALENV = "" # set to ".../env/lib/python2.7/site-packages" if you are using virtualenv

VK_APP_ID = 2798211 # set proper VKontakte app id for comments wall

GOOGLE_ANALYTICS_ID = 'UA-28992589-1'

YA_METRIKA_ID = 12237667 # Yandex Metrika id

ADMIN_PREFIX = 'admin' # prefix to access django admin interface (change for security reasons)

DISQUS_SHORTNAME = 'grakon'

YANDEX_MAPS_KEY = 'ADSyKU8BAAAAD-VBCwIA5ak5VGynqt5xp2tzedBMfAmF8-kAAAAAAAAAAAD_nM6wtAPq97uJHRvkF_aJL3gRVQ=='
