{% extends "base.html" %}

{% block left_column %}
    <div class="ym-clearfix">
        <div class="side_block_header">
            <h4>Команда</h4>
        </div>

        <div class="content_block">
            <ul class="side_list">
                <li><a href="https://www.facebook.com/mikpanko" target="_blank">Михаил Панько</a> <br/> <i>координатор проекта</i></li>
                <li><a href="https://www.facebook.com/sergey.kopylov"  target="_blank">Сергей Копылов</a> <br/> <i>главный разработчик</i></li>
                <li>Леонид Хайлов <br/> <i>разработка интерактивных карт</i></li>
                <li>Николай Письменный <br/> <i>продвижение и юзабилити</i></li>
                <li><a href="https://www.facebook.com/dukovsky"  target="_blank">Антон Дуковский</a> <br/> <i>позиционирование проекта</i></li>
            </ul>
        </div>
    </div>

{% endblock %}

{% block right_column %}
    <div class="ym-clearfix">
        <div class="side_block_header">
            <h4>Мы в интернете</h4>
        </div>

        <div class="content_block">
            <ul class="side_list">
                <li><a href="http://grakonteam.livejournal.com/">Livejournal</a></li>
                <li><a href="https://www.facebook.com/groups/grakon/">Facebook</a></li>
                <li><a href="http://vkontakte.ru/club33572670">ВКонтакте</a></li>
                <li><a href="https://twitter.com/#!/GrakonTeam">Twitter</a></li>
            </ul>
        </div>

        <div class="side_block_header">
            <h4>Документы</h4>
        </div>

        <div class="content_block">
            <ul class="side_list">
                <li><a href="http://bit.ly/elections_pdf">Презентация проекта</a></li>
                <li><a href="http://bit.ly/zOi7Fz">Подробная презентация проекта</a></li>
                <li><a href="{{ STATIC_URL }}images/projects_comparison.png">Таблица сравнения с другими проектами</a></li>
            </ul>
        </div>

    </div>
{% endblock %}

{% block content_header %}
    <h2 class="location_header">О проекте</h2>
{% endblock %}

{% block content %}
    <p>Идея создания этой интернет-площадки родилась в декабре 2011 года. Группа друзей-выпускников Физтеха,
    учась в аспирантуре за рубежом, напряжённо следила за развитием событий на Родине после выборов в Госдуму.
    Мы видели, как появляются в Интернете заметки, фото и видео, свидетельствующие о массовых нарушениях и
    фальсификациях на выборах. Многие россияне, включая наших друзей, вышли на митинги, чтобы выразить своё
    отношение к происходящему и бороться за свои права. Мы тоже хотели каким-то образом помочь и решили,
    что самым эффективным вкладом с нашей стороны будет создание интернет-площадки для общественного контроля за выборами.</p>
    <br/>

    <h3>Цель</h3>

    <p>Обеспечить прозрачность и честность президентских выборов-2012. В сложившейся ситуации поможет только
    <b>общественный контроль над их проведением</b></p>.

    <h3>Для кого эта площадка?</h3>

    <p><b>Для каждого гражданина России</b>. Каждому из нас виден только один кусочек паззла – свой город,
    свой избирательный участок. Но мы хотим видеть общую картину – реальную, а не ту, что показывают по ТВ.
    И для этого надо сложить наши кусочки паззла вместе. Именно так строится гражданское общество.</p>

    <p><u>Что здесь можно сделать ДО ВЫБОРОВ?</u></p>

    <ul>
        <li>найти небезразличных к происходящему на выборах избирателей, наблюдателей, юристов, журналистов,
        членов УИК <b>в своём городе</b></li>
        <li><b>скоординировать действия</b> друг с другом</li>
        <li>собрать в открытом доступе <b>имена членов избирательных комиссий</b></li>
        <li>узнать, <b>как стать наблюдателем</b></li>
        <li>узнать о защите своих <b>избирательных прав</b></li>
    </ul>

    <p><u>Что здесь можно сделать ВО ВРЕМЯ ВЫБОРОВ?</u></p>

    <ul>
        <li>узнать, как <b>действовать в ситуации</b> возникшего нарушения</li>
        <li>легко и оперативно <b>документировать</b> нарушение</li>
        <li><b>привлечь к нему внимание</b> широкой общественности</li>
    </ul>

    <p><u>Что здесь можно сделать ПОСЛЕ ВЫБОРОВ?</u></p>

    <ul>
        <li>с помощью сайта <b>легко оформить жалобу и заявление</b> о нарушении</li>
        <li><b>следить за ходом обжалования</b> в случае отказа</li>
        <li>выложить в открытый доступ копии <b>итоговых протоколов</b> по своему участку</li>
        <li>узнать <b>результаты выборов</b> по другим участкам</li>
        <li>сравнить эти результаты <b>с данными ЦИК</b></li>
    </ul>

    <br/>

    <h3>Что нового даёт эта площадка?</h3>

    <p>Многие из перечисленных функций в том или ином виде уже реализованы на других сайтах.
    Однако ни один из существующих ресурсов не обладает функционалом, который позволил бы людям
    <b>легко самоорганизоваться на местах</b>. Даже социальные сети не могут реализовать эту идею удобно и доступно
    в масштабах всей страны. Кроме того, на данный момент нет интернет-сервисов, которые <b>облегчают
    обжалование нарушений выборного законодательства</b>.</p>

    <br/>

    <h3>Принципы</h3>

    <br/>

    <ul>
        <li>содействие проведению прозрачных и честных выборов</li>
        <li>распространение информации о выборном законодательстве</li>
        <li>независимость от любых политических сил (надпартийность)</li>
        <li>участие как можно большего количества граждан России (инструмент гражданского общества)</li>
        <li>свободный доступ ко всем документам, данным и исходному коду (кроме базы данных пользователей)</li>
        <li>простота в использовании</li>
        <li>учёт особенностей российских выборов</li>
    </ul>
{% endblock %}
