{% extends "base.html" %}

{% block content_header %}
    <h2 class="location_header">Алгоритм подсчета результатов выборов по протоколам наблюдателей</h2>
{% endblock %}

{% block content %}
    <div class="static-content">
        <p>Корректно оценить результаты выборов, опираясь на копии протоколов, предоставленные наблюдателями, непросто. Это связано с тем, что доступных протоколов всего несколько процентов (тысячи) от общего числа (95 000) и они распределены по стране неравномерно. Больше всего протоколов из Москвы, где распределение голосов традиционно отличается от других регионов. Со многих ТИКов нет ни одного протокола.</p>

        <h4>Алгоритм</h4>
        <p>В связи с указанными сложностями мы оцениваем результаты по протоколам (проценты проголосовавших за кандидатов) при помощи следующего алгоритма:</p>
        <ul>
            <li>на уровне УИКов результаты берутся напрямую из доступных копий протоколов;</li>
            <li>на уровне ТИКов результаты формируются как среднее арифметическое от значений в протоколах УИКов данного ТИКа, взвешенных согласно количеству проголосовавших;</li>
            <li>на уровне субъектов РФ результаты формируются как среднее арифметическое от значений в протоколах УИКов данного субъекта, взвешенных согласно количеству проголосовавших; результаты ТИКов без протоколов не учитываются;</li>
            <li>на уровне России результаты формируются как среднее арифметическое от полученных выше значений по субъектам, взвешенных согласно количеству проголосовавших; результаты субъектов без протоколов не учитываются.</li>
        </ul>

        <h4>Предположения</h4>
        <p>Такой подсчет опирается на следующие предположения:</p>
        <ul>
            <li>внутри каждого субъекта РФ и ТИКа голоса по УИКам распределяются примерно одинаково;</li>
            <li>в отсутствие данных по протоколам из субъекта РФ нет возможности оценить фальсификации и мы не учитываем этот субъект в подсчете голосов</li>
            <li>на тех УИКах, где присутствовали наблюдатели, получившие и выложившие копии протоколов, уровень фальсификаций ниже и результаты ближе к реальным. Поэтому их можно экстраполировать для оценки результатов по вышестоящему избирательному округу.</li>
        </ul>

        <p>Разумеется, эти предположения верны <b>не во всех случаях</b> и дают только <b>грубые оценки</b>.
        Кроме того, подсчет результатов исключительно по протоколам наблюдателей не учитывает
        множество возможных “дневных” фальсификаций, не замеченных наблюдателями, таких как вбросы
        и нарушения при голосовании по открепительным и на дому.</p>

        <p>Мы начали процедуру <b>оценки уровня фальсификаций</b> на основе всей имеющейся информации
        и представим наши результаты в ближайшее время.</p>

        <p>Если у вас возникли какие-либо вопросы касательно описанного метода - пишите нам на
        <a href="mailto:admin@grakon.org">admin@grakon.org</a>.</p>
    </div>
{% endblock %}
