{% extends "base.html" %}

{% load elements %}

{% block title %}
    Акции Гракона - Гражданский контроль за президентскими выборами
{% endblock %}

{% block head %}
    <style type="text/css">
        /* for static pages */
        .ym-col2 {width: 0px;}
        .ym-col3 {padding-right: 0;}
    </style>
{% endblock %}

{% block left_column %}

    <h3 class="column_header" style="padding-left:10px">Контакты</h3>
    <div class="ym-clearfix">
        <div class="content_block">
        	<p style="margin: 0; padding: 10px;">Обращайтесь сюда, если на&nbsp;УИКе не&nbsp;хватает наблюдателей:</p>
            <ul class="side_list">
                 <li>Ассоциация &laquo;Голос&raquo;:<br />
                 	<i> +7 (495) 989-63-06, <a href="mailto:golos@golos.org" target="_blank">golos@golos.org</a>, <a href="http://golos.org/" target="_blank" rel="nofollow">http://golos.org/</a></i></li>
                <li>&laquo;Гражданин Наблюдатель&raquo;:<br />
	               	<i>
                    <a href="http://nabludatel.org/" target="_blank" rel="nofollow">http://nabludatel.org</a><br />
					<strong>Москва</strong>: +7 (915) 383-21-90,<br />
                    <a href="mailto:nabludatel-org@googlegroups.com" target="_blank"><small>nabludatel-org@googlegroups.com</small></a><br />
                    
                    <strong>Регионы</strong>: +7 (985) 764-17-05 <a href="mailto:citizen-observer-regions@googlegroups.com" target="_blank"><small>citizen-observer-regions@googlegroups.com</small></a>
                    </li>
                <li>&laquo;Лига Избирателей&raquo;: <br />	
                    <i><a href="mailto:info@ligaizbirateley.ru" target="_blank">info@ligaizbirateley.ru</a>, <a href="http://ligaizbirateley.ru/" target="_blank" rel="nofollow">http://ligaizbirateley.ru/</a>
                    </i>
                </li>
                <li>&laquo;РосВыборы&raquo;: <br />
                	<i><a href="mailto:rosvybory@gmail.com" target="_blank">rosvybory@gmail.com</a>, <a href="http://rosvybory.org/" target="_blank" rel="nofollow">http://rosvybory.org</a>
                    </i></li>
                <li>&laquo;Яблоко&raquo;: <br />
                	<i><a href="mailto:info@yabloko.ru" target="_blank">info@yabloko.ru</a>, <a href="http://www.yabloko.ru/" target="_blank" rel="nofollow">http://www.yabloko.ru</a>
                    </i></li>
                <li>Штаб Прохорова: 
                <i><nobr class="phone">8 (800) 510-00-05,</nobr> <a href="http://mdp2012.ru/" target="_blank" rel="nofollow">http://mdp2012.ru/</a></i></li>
               
            </ul>
        </div>
    </div>
{% endblock %}

{% block content_header %}
    <h2 class="location_header">Акции Гракона</h2>
{% endblock %}

{% block content %}
<div class="static-content">
	<h3 class="mt15">Собери команду на&nbsp;своем УИКе</h3>
    <p>Проект Гракон начинает свою первую акцию &laquo;Собери команду на&nbsp;своем УИКе&raquo;. Всего Гракон планирует провести 5&nbsp;акций&nbsp;&mdash; по&nbsp;одной в&nbsp;день&nbsp;&mdash; за&nbsp;неделю, предшествующую президентским выборам.</p>
    <p>Итак, до&nbsp;4&nbsp;марта&nbsp;&mdash; пожалуй, ключевого события последнего десятилетия&nbsp;&mdash; осталась неделя. Можно ещё успеть сделать очень многое. Концентрация и&nbsp;организация&nbsp;&mdash; вот главные цели на&nbsp;данном этапе, и&nbsp;Гракон поможет всем гражданам, готовым бороться и&nbsp;отстаивать честные выборы в&nbsp;Российской Федерации. Наша первая акция &laquo;Собери команду на&nbsp;своем УИКе&raquo; стартует сегодня, в&nbsp;понедельник, 27&nbsp;февраля.</p>
    <p>В&nbsp;чем суть? Обеспечить &laquo;полный комлект&raquo; гражданского контроля на&nbsp;каждой УИК в&nbsp;стране. В&nbsp;нашем понимании, это&nbsp;&mdash; 5&nbsp;избирателей, 3&nbsp;наблюдателя, 1&nbsp;юрист и&nbsp;1&nbsp;представитель СМИ, зарегистрированные на&nbsp;Граконе.</p>
    <p>Что мы&nbsp;хотим от&nbsp;вас? Зарегистрируйтесь на&nbsp;<a href="http://grakon.org/" rel="nofollow">http://grakon.org</a> и&nbsp;найдите ваш УИК (если вы&nbsp;уже зарегистрированный пользователь, то&nbsp;просто найдите свою избирательную комиссию по&nbsp;месту регистрации). Посмотрите, кто там уже зарегистрировался. Если в&nbsp;формуле 5+3+1+1 кого-то не&nbsp;хватает, то:</p>
    <ul>
        <li>пригласите друзей, которые обладают навыками юриста или имеют возможность быть представителями СМИ;</li>
    <li>обратитесь в&nbsp;организации типа &laquo;Гражданин Наблюдатель&raquo;, &laquo;Росвыборы&raquo;, &laquo;Голос&raquo; и&nbsp;другие, чтобы они сообщили вам, кто будет наблюдателем на&nbsp;вашем участке. Попробуйте связаться с&nbsp;этими людьми и&nbsp;пригласите зарегистрироваться. Таким образом, вы&nbsp;будете видеть, целиком&nbsp;ли охвачен ваш УИК.</li>
    </ul>
    <p>Чтобы провести честные выборы в&nbsp;Москве достаточно 10&nbsp;000&nbsp;наблюдателей. За&nbsp;последние три дня к&nbsp;проекту Гракон присоединились 2&nbsp;000&nbsp;человек. Приглашайте своих друзей и&nbsp;знакомых&nbsp;&mdash; и&nbsp;вместе мы&nbsp;сможем обеспечить честные президентские выборы 4&nbsp;марта. Кроме того, пригласите на&nbsp;площадку известные вам местные организации или группы активистов. Они могут создавать свои страницы, получать доступ к&nbsp;широкой целевой аудитории и&nbsp;проводить кампании на&nbsp;Граконе.</p>
    <p>Конечно, можно просто зайти на&nbsp;сайт, понажимать кнопочки и&nbsp;ссылочки и&nbsp;уйти&nbsp;&mdash; дескать, я&nbsp;опытный боец, не&nbsp;нужны мне все эти сайты. Но&nbsp;примеры думской кампании показывают, что один человек, пусть и&nbsp;знающий все законы, нормы и&nbsp;правила, не&nbsp;сможет противостоять председателям УИК и&nbsp;полиции в&nbsp;случае необходимости (<a href="http://vyrodok.livejournal.com/1600.html" target="_blank">http://vyrodok.livejournal.com/1600.html</a>), а&nbsp;вот сплоченная группа&nbsp;&mdash; может (<a href="http://marinastupakova.livejournal.com/3830.html" target="_blank">http://marinastupakova.livejournal.com/3830.html</a>). Да, будет тяжело, стоит готовиться к&nbsp;возможности серьезных нарушений (<a href="http://negovorisozlom.livejournal.com/8723.html" target="_blank">http://negovorisozlom.livejournal.com/8723.html</a>), но&nbsp;чем вас больше, тем сложнее игнорировать или выгнать с&nbsp;участка.</p>
    <p>Итак, давайте начнем собирать команду на&nbsp;УИКе и&nbsp;познакомимся с&nbsp;другими &laquo;защитниками&raquo;, зарегистрировавшись на&nbsp;сайте <a href="http://grakon.org/" rel="nofollow">http://grakon.org</a> и&nbsp;пригласив друзей присоединяться.</p>
</div>
{% endblock %}
