{% extends "base.html" %}

{% load elements %}

{% block left_column %}
    <!--div class="ym-clearfix">
        <div class="side_block_header">
            <h4>Команда</h4>
        </div>

        <div class="content_block">
            <ul class="side_list">
                <li><a href="">Михаил Панько</a></li>
                <li><a href="">Сергей Копылов</a></li>
            </ul>
            {% button "check" "Присоединиться" "join_team" %}
        </div>

        <div class="side_block_header">
            <h4>Волонтеры</h4>
        </div>

        <div class="side_block_header">
            <h4>Мы в интернете</h4>
        </div>

        <div class="content_block">
            <ul class="side_list">
                <li><a href="http://vkontakte.ru/club33572670">ВКонтакте</a></li>
                <li><a href="https://www.facebook.com/groups/297268326975464">Facebook</a></li>
            </ul>
        </div>
    </div-->
{% endblock %}

{% block right_column %}
    <!--div class="ym-clearfix">
        <div class="side_block_header">
            <h4>Наши цели</h4>
        </div>

        <div class="content_block">
            <ul class="side_list">
                <li><a href="http://nabludatel.org" target="_blank">Гражданин Наблюдатель</a></li>
            </ul>
        </div>

        <div class="side_block_header">
            <h4>Наши партнеры</h4>
        </div>

        <div class="content_block">
            <ul class="side_list">
                <li><a href="http://nabludatel.org" target="_blank">Гражданин Наблюдатель</a></li>
                <li><a href="http://kuda-komu.net/" target="_blank">Куда? Кому?</a></li>
                <li><a href="http://sidorinlab.ru/" target="_blank">Sidorin.Lab</a></li>
                <li><a href="http://idemocracy.ru/" target="_blank">Фонд развития электронной демократии</a></li>
                <li><a href="http://www.kartanarusheniy.ru/" target="_blank">Карта Нарушений</a></li>
                <li><a href="https://lokolo.ru" target="_blank">Локоло</a></li>
            </ul>
            <a href="{% url partners %}">
                <button id="become_partner">Стать партнером</button>
            </a>
        </div>
    </div-->
{% endblock %}

{% block content_header %}
    <h2 class="location_header">Контакты</h2>
{% endblock %}

{% block content %}
    <p>Чтобы следить за разработкой и участвовать в обсуждениях площадки “подружитесь” с нами:</p>
    <ul>
        <li><a href="http://grakonteam.livejournal.com/">Livejournal</a></li>
        <li><a href="https://www.facebook.com/groups/grakon/">группа на Facebook</a></li>
        <li><a href="http://vkontakte.ru/club33572670">группа ВКонтакте</a></li>
        <li><a href="https://twitter.com/#!/GrakonTeam">Twitter</a></li>
    </ul>

    <p>Чтобы оставить комментарий о работе площадки, воспользуйтесь зеленой кнопкой 
    <span style="color:green;">“Оставить отзыв”</span> в левом краю экрана</p>

    <p>Чтобы связаться с нами по любым другим вопросам отправьте нам <a href="mailto:admin@grakon.org">электронное письмо.</p>

{% endblock %}
