{% extends "base.html" %}

{% load elements %}

{% block title %}
    Часто задаваемые вопросы - Гракон - гражданский контроль за президентскими выборами
{% endblock %}

<!-- This style is used in a number of pages already - avoid it -->
<style type="text/css">
    .ym-col3 .ym-cbox:last-child {display: none;}
</style>
<style type="text/css">
/* for static pages */
    .ym-col1 {width: 0px;}
    .ym-col2 {width: 0px;}
    .ym-col3 {margin-left: 0; width: 100%; padding: 15px 0;}
    h2.location_header {margin-left: 15px;}
</style>


{% block content_header %}
    <h2 class="location_header">FAQ</h2>
{% endblock %}

{% block content %}
   <h4 style="margin-top: 5px;">Почему развелось так много разных площадок? И&nbsp;какой толк от&nbsp;Вашей?</h4>
    <p>Мы&nbsp;рады, что площадок много, потому что много людей неравнодушных к&nbsp;тому, как пройдут эти выборы. У&nbsp;каждой площадки есть свои преимущества. Преимущество Гракона в&nbsp;том, что он&nbsp;позволяет Вам самим найти единомышленников, обратиться к&nbsp;юристу за&nbsp;помощью и&nbsp;скоординировать свои действия с&nbsp;другими участники Гракона для того чтобы контроль над выборами был еще более эффективным. И&nbsp;даже если&nbsp;Вы предпочли не&nbsp;становиться наблюдателем, здесь&nbsp;Вы сможете найти альтернативные способы проявить свою гражданскую позицию. С&nbsp;более подробным сравнением функций Гракона с&nbsp;другими проектами, Вы&nbsp;можете ознакомиться <a href="/comparison">здесь</a>.</p>
    <h4>Какую политическую силу представляет Ваш проект?</h4>
    <p>Мы&nbsp;представляем самую крупную и&nbsp;единственную легитимную силу&nbsp;&mdash; граждан России.</h4>
    <h4>Что я&nbsp;могу здесь делать?</h4>
    <p>Очень многое. Но&nbsp;главным образом&nbsp;Вы можете:</p>
    <ul>
    <li>зарегистрироваться в&nbsp;качестве избирателя/наблюдателя/юриста/журналиста/представителя власти, чтобы потом найти друг друга и&nbsp;скоординировать свои действия, обменяться информацией;</li>
    <li>получить информацию о&nbsp;своих правах как избирателя;</li>
    <li>узнать как стать наблюдателем;</li>
    <li>помочь нам собрать имена членов Вашего УИК&nbsp;&mdash; информация, которая отсутствует в&nbsp;открытом доступе, но&nbsp;является очень важным ресурсом для проведения прозрачных выборов;</li>
    <li>оперативно документировать нарушение, и&nbsp;привлечь к&nbsp;нему внимание широкой общественности;</li>
    <li>оформить жалобу и&nbsp;заявление о&nbsp;нарушении, и&nbsp;следить за&nbsp;ходом обжалования в&nbsp;случае отказа;</li>
    <li>выложить в&nbsp;открытый доступ копии итоговых протоколов по&nbsp;своему участку;</li>
    <li>узнать результаты выборов по&nbsp;другим участкам и&nbsp;сравнить эти результаты с&nbsp;данными ЦИК.</li>
    </ul>
    <h4>Я&nbsp;уже зарегистрировался наблюдателем через ГН, Голос, РосВыборы и&nbsp;т.д. Зачем мне Гракон?</h4>
    <p>Гракон не&nbsp;выдает направления наблюдателями, а&nbsp;предоставляет площадку для общения и&nbsp;координации действий для всех, включая тех, кто уже записался наблюдателями. Гракон помогает активным гражданам, живущим поблизости, найти друг друга. Поэтому Гракон дополняет все остальные проекты.</p>
    <h4>Зачем мне знакомиться со&nbsp;всеми этими людьми? Чем мне это поможет?</h4>
    <p>И&nbsp;один в&nbsp;поле воин, но&nbsp;вместе работать не&nbsp;только веселее, но&nbsp;и&nbsp;эффективнее. Здесь Вы&nbsp;можете заручиться поддержкой друг друга, а&nbsp;также обменяться информацией. Гракон&nbsp;&mdash; это прежде всего гражданская инициатива. Здесь мы&nbsp;предоставляем платформу для общественного взаимодействия граждан нашей страны.</p>
    <h4>Как можно общаться с&nbsp;другими пользователями на&nbsp;сайте?</h4>
    <p>Вы&nbsp;можете посылать друг другу сообщения, предварительно найдя друг друга на&nbsp;сайте. Также, можно участвовать в&nbsp;форуме на&nbsp;&laquo;Стене&raquo; Вашего города, района и&nbsp;УИК. </p>
    <p></p>
    <h4>Безопасно&nbsp;ли выкладывать свою личную информацию? Куда она идет?</h4>
    <p>Мы&nbsp;собираем по&nbsp;минимуму личной информации. Только&nbsp;то, что необходимо для работы на&nbsp;площадке. По&nbsp;умолчанию другим пользователям площадки виден только ник участника. Вся остальная информация&nbsp;&mdash; только по&nbsp;согласию участника. Информация сохраняется в&nbsp;базе данных, но&nbsp;никогда не&nbsp;выдается третьим сторонам. Любой участник всегда может дать дополнительную информацию другим пользователям через текстовое поле &laquo;о&nbsp;себе&raquo; на&nbsp;личной странице.</p>
    <h4>Я&nbsp;не&nbsp;знаю свой УИК. Как его найти?</h4>
    <p>Свой УИК можно найти по&nbsp;этой <a href="/uik_search">ссылке</a>.</p>
    <h4>Что если я&nbsp;неправильно внес свою информацию или хочу ее&nbsp;удалить/удалить свой аккаунт?</h4>
    <p>Любую введенную информацию о&nbsp;себе можно менять на&nbsp;личной странице во&nbsp;вкладке &laquo;Редактировать&raquo;. Сейчас удалить аккаунт нельзя, но&nbsp;в&nbsp;будущем такая функция появится.</p>
    
    <h4>Зачем проходить верификацию?</h4>
    <p>Верификация&nbsp;&mdash; это способ защиты от&nbsp;спама и&nbsp;саботажа. Организации, а&nbsp;также все пользователи Гракона смогут знать кому доверять на&nbsp;площадке, а&nbsp;кому&nbsp;&mdash; нет. </p>
    <p></p>
    <h4>Можно&nbsp;ли загрузить на&nbsp;сайт протокол результатов по&nbsp;УИК?</h4>
    <p>Пока такого инструмента нет, (равно как и&nbsp;протоколов) но&nbsp;к&nbsp;выборам точно будет!</p>
    <h4>Можно&nbsp;ли <nobr>5-ого</nobr> марта на&nbsp;сайте узнать результаты голосования по&nbsp;моему участку?</h4>
    <p>Да. Все данные, опубликованные ЦИКом, будут сразу&nbsp;же публиковаться на&nbsp;Граконе. Вы&nbsp;сможете узнать результаты голосования не&nbsp;только по&nbsp;стране и&nbsp;городу, а&nbsp;также по&nbsp;Вашему участку. Также, <nobr>5-ого</nobr> марта мы&nbsp;опубликуем все данные по&nbsp;протокалам.</p>
    <h4>Когда на&nbsp;сайте появится функция .... ?</h4>
    <p>В&nbsp;ближайшие дни мы&nbsp;добавим на&nbsp;площадку:</p>
    <ul>
    <li>удобный поиск по&nbsp;участникам, зарегистрированным на&nbsp;площадке;</li>
    <li>возможность организациям верифицировать участников;</li>
    <li>инструмент &laquo;пожаловаться&raquo;</li>
    <li>адреса УИКов;</li>
    <li>отображение УИКов на&nbsp;карте;</li>
    <li>возможность выкладывать списки членов УИКов;</li>
    <li>тип участника &laquo;веб-наблюдатель&raquo;;</li>
    <li>инструмент &laquo;группы&raquo; для самоорганизации небольших групп участников.</li>
    </ul>

{% endblock %}
