{% extends "base.html" %}

{% load elements %}

{% block left_column %}
    <div class="ym-clearfix">
        <div class="side_block_header">
            <h4>Вступить в команду</h4>
        </div>

        <div class="content_block">
            <ul class="side_list">
                <li>web-разработчик (Django, jQuery)</li>
                <li>веб-дизайнер по интерфейсам</li>
                <li>копирайтер</li>
            </ul>
            {% button "check" "Вступить в команду" "join_team" "mailto:admin@grakon.org" %}
        </div>

        <div class="side_block_header">
            <h4>Записаться волонтером</h4>
        </div>

        <div class="content_block">
            <ul class="side_list">
                <li>Ввод адресов УИКов и поиск на карте</li>
                <li>Сбор ссылок на полезные ресурсы и группы в соц. сетях</li>
            </ul>
            {% button "check" "Записаться волонтером" "become_volonteer" "mailto:admin@grakon.org" %}
        </div>

        <div class="side_block_header">
            <h4>Стать партнером</h4>
        </div>

        <div class="content_block">
            {% button "check" "Стать партнером" "become_partner" "partners" %}
        </div>
    </div>
{% endblock %}

{% block right_column %}
    <div class="ym-clearfix">
        <div class="side_block_header">
            <h4>Пожертвовать средства</h4>
        </div>

        <div class="content_block">
            <center>
                <a href="http://yaudit.org/yaudit/410011241937487"  target="_blank">
                    <img src="{{ STATIC_URL }}images/yandex-money.jpg" style="border: 1px solid #777;" width="100"/>
                </a>
                <a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=_flow&SESSION=XzUaljIkba_TBZNuFyD0SWNO3x1400GsVC-gXu6nwKoFmOTOj3k2of7pVOW&dispatch=5885d80a13c0db1f8e263663d3faee8d4026841ac68a446f69dad17fb2afeca3" target="_blank">
                    <img src="{{ STATIC_URL }}images/paypal.jpg" width="114"/>
                </a>
            </center>
        </div>

        <div class="side_block_header">
            <h4>Распространить информацию</h4>
        </div>

        <div class="content_block">
            <center>
                {% include "elements/yandex_share.html" %}
            </center>
        </div>

        <div class="side_block_header">
            <h4>Пройти опрос</h4>
        </div>

        <div class="content_block">
            <ul class="side_list"></ul>
            {% button "check" "Пройти опрос" "join_team" "https://spreadsheets.google.com/spreadsheet/viewform?hl=ru&key=0Arbe32MA393qdEY1dGxQYkJsZ1BLQ0hQQ3Fxck5sTlE" %}
        </div>

    </div>
{% endblock %}

{% block content_header %}
    <h2 class="location_header">Как помочь проекту</h2>
{% endblock %}

{% block content %}
    <p>Мы будем рады вашей помощи. Чтобы поучаствовать, выберите пункт в левой или правой колонке.</p>

    <p>Чтобы сообщить об обнаруженном баге или оставить отзыв о площадке, используйте зеленую кнопку
    <span style="color:green">“оставить отзыв”</span> на левой стороне экрана.</p>
{% endblock %}
