{% extends "base.html" %}

{% load elements %}

{% block left_column %}
    <div class="ym-clearfix">
        <div class="partner_block">
            <a href="http://nabludatel.org">
                <img src="{{ STATIC_URL }}images/partners/gn.jpg" width="200px" class="side_block_image" />
            </a>
        </div>

        <div class="partner_block">
            <a href="http://kuda-komu.net/">
                <img src="{{ STATIC_URL }}images/partners/komukuda.gif" width="200px" class="side_block_image" />
            </a>
        </div>

        <div class="partner_block">
            <a href="http://idemocracy.ru/">
                <img src="{{ STATIC_URL }}images/partners/idemocracy.png" width="200px" class="side_block_image" />
            </a>
        </div>
    </div>
{% endblock %}

{% block right_column %}
    <div class="ym-clearfix">
        <div class="partner_block">
            <a href="http://sidorinlab.ru/">
                <img src="{{ STATIC_URL }}images/partners/sidorinlab.png" width="200px" class="side_block_image" />
            </a>
        </div>

        <div class="partner_block">
            <a href="http://www.kartanarusheniy.ru/">
                <img src="{{ STATIC_URL }}images/partners/kartanarusheniy.gif" width="200px" class="side_block_image" />
            </a>
        </div>

        <div class="partner_block">
            <a href="https://lokolo.ru">
                <img src="{{ STATIC_URL }}images/partners/lokolo.jpg" width="200px" class="side_block_image" />
            </a>
        </div>
    </div>

{% endblock %}

{% block content_header %}
    <h2 class="location_header">Наши партнеры</h2>
{% endblock %}

{% block content %}
    <p>Мы призываем к взаимному сотрудничеству все организации и группы, чья деятельность связана с контролем
    или освещением выборов. Вместо дублирования функциональности, мы будем рады разместить банеры
    и ссылки на Ваши сайты, и перенаправлять заинтересованных пользователей. Примеры сотрудничества:</p>

    <ul>
        <li>перенаправление избирателей, желающих стать наблюдателями, на сайт “Гражданина Наблюдателя”
        для записи на тренинги</li>
        <li>перенаправление пользователей, желающих сообщить о нарушении, на сайт “Карты Нарушений”</li>
        <li>перенаправление пользователей, желающих оформить жалобу или нарушение, на сайт
        <a href="http://kuda-komu.net/">“Куда? Кому?”</a> для полу-автоматического оформления бумаг</li>
    </ul>

    <p>Если Вы хотите стать нашим партнером, <a href="mailto:admin@grakon.org">свяжитесь с нами</a>.</p>
    <br/>

    {% button "check" "Стать партнером" "become_partner" "mailto:admin@grakon.org" %}
{% endblock %}
