<div class="banners">
    <a href="{{ URL_PREFIX }}" class="banner"><img src="{{ STATIC_URL }}images/banners/web-nabludatel.gif"/></a>
    <br/><br/>
    <textarea rows="3" cols="30">&lt;a href="http://grakon.org"&gt; &lt;img src="http://grakon.org/static/images/banners/web-nabludatel.gif"&gt;&lt;/a&gt;</textarea>
</div>

<div class="banners">
    <a href="{{ URL_PREFIX }}" class="banner"><img src="{{ STATIC_URL }}images/banners/karusel.gif"/></a>
    <br/><br/>
    <textarea rows="3" cols="30">&lt;a href="http://grakon.org"&gt; &lt;img src="http://grakon.org/static/images/banners/karusel.gif"&gt;&lt;/a&gt;</textarea>
</div>

<div class="banners">
    <a href="{{ URL_PREFIX }}" class="banner"><img src="{{ STATIC_URL }}images/banners/mobile-group.gif"/></a>
    <br/><br/>
    <textarea rows="3" cols="30">&lt;a href="http://grakon.org"&gt; &lt;img src="http://grakon.org/static/images/banners/mobile-group.gif"&gt;&lt;/a&gt;</textarea>
</div>

<div class="banners">
    <a href="{{ URL_PREFIX }}" class="banner"><img src="{{ STATIC_URL }}images/banners/journalist.gif"/></a>
    <br/><br/>
    <textarea rows="3" cols="30">&lt;a href="http://grakon.org"&gt; &lt;img src="http://grakon.org/static/images/banners/journalist.gif"&gt;&lt;/a&gt;</textarea>
</div>

<div class="banners">
    <a href="{{ URL_PREFIX }}" class="banner"><img src="{{ STATIC_URL }}images/banners/brave.gif"/></a>
    <br/><br/>
    <textarea rows="3" cols="30">&lt;a href="http://grakon.org"&gt; &lt;img src="http://grakon.org/static/images/banners/brave.gif"&gt;&lt;/a&gt;</textarea>
</div>

<div class="banners">
    <a class="banner" href="{{ URL_PREFIX }}"><img src="{{ STATIC_URL }}images/banners/warrier_240_200.gif" /></a>
    <br /><br />
    <textarea cols="30" rows="3"><a href="http://grakon.org"> <img src="http://grakon.org/static/images/banners/warrier_240_200.gif"></a></textarea>
</div> 
    
<div class="banners">    
    <a class="banner" href="{{ URL_PREFIX }}"><img src="{{ STATIC_URL }}images/banners/defend_240_200.gif" /></a>
    <br /><br />
    <textarea cols="30" rows="3"><a href="http://grakon.org"> <img src="http://grakon.org/static/images/banners/defend_240_200.gif"></a></textarea>
</div>

<br clear="all" />
