{% if user.is_authenticated %}
    {% include dialog_template %}
{% endif %}

<script type="text/javascript">
    $("#become_{{ role }}").click(function(){
        {% if user.is_authenticated %}
            {% if current_location.is_tik or current_location.is_uik %}
                become_{{ role }}_dialog_init();
            {% else %}
                change_location_dialog_init("Записаться в {{ status_plural }}",
                        "Выберите ваш избирательный округ", "{{ role }}");
            {% endif %}
        {% else %}
            login_dialog_init("Чтобы записаться в {{ status_plural }}, пожалуйста, войдите в систему");
        {% endif %}
    });
</script>
