{% load elements %}

{% if current_location.is_region %}
    {% include "dialogs/change_location.html" %}
{% endif %}

{% include "blocks/voters.html" %}

{% include "blocks/observers.html" %}

{% include "blocks/journalists.html" %}

{% include "blocks/lawyers.html" %}

{% include "blocks/prosecutors.html" %}

{% include "blocks/members.html" %}

{% include "blocks/authorities.html" %}

<script type="text/javascript">
    // TODO: move it inside become_voter.html
    /*$("#voters_ul li").each(function(index){
        new UserListItem($(this));
    });

    $("#add_to_contacts_dialog").on("add_to_contacts_event", function(event, username){
        // TODO: explicit use of url (use global variable instead) - everywhere
        $('#voters_ul li a[href="/users/'+username+'/"]').parent().children(".ui-icon-plus").css("visibility", "hidden");
    });

    $("#report_dialog").on("report_dialog_event", function(event, username){
        $('#voters_ul li a[href="/users/'+username+'/"]').parent().children(".ui-icon-notice").css("visibility", "hidden");
    });*/
</script>

{% include "dialogs/report.html" %}
