{% load elements %}

{% include "blocks/observers.html" %}

<div class="disabled-block">
    <div class="i">&nbsp;</div>

    <div class="side_block_header">
        <h4>Представители СМИ (в разработке)</h4>
    </div>

    <div class="content_block">
        {% button "circle-check" "Записаться в представители СМИ" "become_journalist" %}
    </div>
</div>

<div class="disabled-block">
    <div class="i">&nbsp;</div>

    <div class="side_block_header">
        <h4>Юристы (в разработке)</h4>
    </div>

    <div class="content_block">
        {% button "circle-check" "Записаться в юристы" "become_lawyer" %}
    </div>
</div>

<div class="disabled-block">
    <div class="i">&nbsp;</div>

    <div class="side_block_header">
        <h4>Члены избирательной комиссии (в разработке)</h4>
    </div>

    <div class="content_block">
        {% button "circle-check" "Записаться в члены избирательной комиссии" "become_representative" %}
    </div>
</div>
