<iframe id="lazy_loginza" tmp-src="https://loginza.ru/api/widget?overlay=loginza&providers_set=google,vkontakte,facebook,yandex,twitter,odnoklassniki&lang=ru&token_url={{ LOGINZA_IFRAME_URL }}"
        style="width:359px;height:170px;" scrolling="no" frameborder="no"></iframe>

<script type="text/javascript">
    function load_lazy_loginza(){
        if (!$("#lazy_loginza").attr("src"))
            $("#lazy_loginza").attr("src", function(i, val){return $(this).attr("tmp-src");});
    };

    setTimeout("load_lazy_loginza()", 5000);
</script>