{# Put this block a div element and call set_select_location(div_id, path) #}
<div>
    <select name="region">
        {% for id, name in locations %}
            <option value="{{ id }}">{{ name }}</option>
        {% endfor %}
    </select>
</div>
<div>
    <select name="tik">
        <option value=""></option>
    </select>
</div>
<div class="mb5">
    <select name="uik">
        <option value="">Выбрать участок</option>
    </select>

    <div class="find_uik_btn">
        <span class="clickable fing_uik_btn">Найти номер участка</span> по адресу
    </div>
</div>
