{% load elements %}

<div class="side_block_header">
    <h4>Организации</h4>
</div>

<div class="content_block">
    <ul class="side_list">
        {% for organization in organizations %}
            {% if organization.verified %}
                <li>
                    {% include "elements/organization.html" %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    {% button "circle-plus" "Добавить организацию" "add_organization" "create_organization" %}
</div>

<div class="side_block_header">
    <h4>Нарушения (0)</h4>
</div>

<div class="content_block">
    <center>
        {% button "alert" "Сообщить о нарушении" "submit_complaint_btn" %}
    </center>
</div>

<div class="disabled-block">
    <div class="i">&nbsp;</div>

    <div class="side_block_header">
        <h4>Протоколы (в разработке)</h4>
    </div>

    <div class="content_block">
        {% button "circle-plus" "Выложить протокол" "publish_protocol" %}
    </div>
</div>

<div class="disabled-block">
    <div class="i">&nbsp;</div>

    <div class="side_block_header">
        <h4>Мероприятия (в разработке)</h4>
    </div>

    <div class="content_block">
        {% button "circle-plus" "Добавить событие" "add_event" %}
    </div>
</div>
