{% load elements %}

<div class="side_block_header">
    <h4>Нарушения</h4>
</div>

<div class="content_block">
    <center>
        {% button "alert" "Сообщить о нарушении" "submit_complaint_btn" %}
    </center>
</div>

<div class="side_block_header">
    <h4>Организации</h4>
</div>

<div class="content_block">
    <ul class="side_list">
        {% for organization in organizations %}
            <li>
                {% include "elements/organization.html" %}
            </li>
        {% endfor %}
    </ul>
    <!--{% button "circle-check" "Добавить организацию" "add_organization" %}-->
</div>

<div class="disabled-block">
    <div class="i">&nbsp;</div>

    <div class="side_block_header">
        <h4>Протоколы (в разработке)</h4>
    </div>

    <div class="content_block">
        {% button "circle-check" "Выложить протокол" "publish_protocol" %}
    </div>
</div>

<div class="disabled-block">
    <div class="i">&nbsp;</div>

    <div class="side_block_header">
        <h4>События (в разработке)</h4>
    </div>

    <div class="content_block">
        {% button "circle-check" "Добавить событие" "add_event" %}
    </div>
</div>
