{% for role in roles %}
    <li role_type="{{ role.type }}" class="role_item">
        {% with location=role.location %}
            {% include "elements/location_path.html" %}
        {% endwith %} - {{ role.get_type_display }}

        {% if role.organization %}
            <br/>
            <i>{{ role.organization }}</i>
        {% else %}
            {% if role.data %}
                <br/>
                <i>{{ role.data }}</i>
            {% endif %}
        {% endif %}
    </li>
{% endfor %}