<div class="social" style="float: right; padding-top: 7px;">
		<div style="float: left; padding: 2px 6px 0 0; line-height: 0;">
        <!-- Place this tag where you want the +1 button to render -->
        <g:plusone size="small" annotation="none"></g:plusone>
        
        <!-- Place this render call where appropriate -->
        <script type="text/javascript">
          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        </script>
		<a rel="nofollow" target="_blank" href="http://www.facebook.com/share.php?u=http://grakon.org/" original-title="Поделиться в Facebook"><img src="/static/images/facebook.gif" alt=""></a>
 
        
        <a href="http://vkontakte.ru/share.php?url=http://grakon.org/" target="_blank"><img src="/static/images/vkontakte.gif"/></a>
        
       
        </div>
		<div style=" float: left; width: 65px; overflow: hidden;">
            <a href="https://twitter.com/grakonteam" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Читать</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
</div>

