<div class="social">
    <iframe src="//www.facebook.com/plugins/like.php?locale=ru_RU&amp;href=http%3A%2F%2Fgrakon.org&amp;send=false&amp;layout=button_count&amp;width=150&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=lucida+grande&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:150px; height:21px;" allowTransparency="true"></iframe>

    <div style="margin: 9px 0; height: 22px; overflow: hidden; width: 154px;">
        <div id="vk_like"></div>
    </div>

    <script type="text/javascript">
        VK.Widgets.Like("vk_like", {
            type: "button",
            height: 20,
            pageTitle: "Гражданский контроль за выборами",
            pageDescription: "Интернет-площадка Гракон объединяет организации и активных граждан для проведения единого общественного мониторинга выборов президента 4 марта.",
            pageUrl: "http://grakon.org",
            pageImage: "http://grakon.org/static/images/logo_small.png"
        }, 1);
    </script>

    <div style="width: 127px; overflow: hidden; margin-bottom: 9px;">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://grakon.org" data-text="Гражданский контроль за президентскими выборами" data-lang="no" data-related="GrakonTeam">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>

    <div class="g-plusone" data-size="medium" data-href="http://grakon.org"></div>
</div>