{% extends "base.html" %}

{% block left_column %}
    <div class="ym-clearfix">
        <div class="side_block_header">
            <h4>Команда</h4>
        </div>

        <div class="content_block">
            <ul class="side_list">
                <li>Михаил Панько <br/> <i>менеджер проекта</i></li>
                <li>Сергей Копылов <br/> <i>главный разработчик</i></li>
                <li>Леонид Хайлов <br/> <i>разработка интерактивных карт</i></li>
                <li>Николай Письменный <br/> <i>продвижение и юзабилити</i></li>
                <li>Антон Дуковский <br/> <i>позиционирование проекта</i></li>
            </ul>
        </div>

        <!--div class="side_block_header">
            <h4>Волонтеры</h4>
        </div-->
    </div>

{% endblock %}

{% block right_column %}
    <div class="ym-clearfix">
        <div class="side_block_header">
            <h4>Мы в интернете</h4>
        </div>

        <div class="content_block">
            <ul class="side_list">
                <li><a href="http://vkontakte.ru/club33572670">ВКонтакте</a></li>
                <li><a href="https://www.facebook.com/groups/297268326975464">Facebook</a></li>
            </ul>
        </div>

        <div class="side_block_header">
            <h4>Документы</h4>
        </div>

        <div class="content_block">
            <ul class="side_list">
                <li><a href="http://bit.ly/elections_pdf">Презентация проекта</a></li>
                <li><a href="http://bit.ly/zOi7Fz">Подробная презентация проекта</a></li>
            </ul>
        </div>

    </div>
{% endblock %}

{% block content_header %}
    <h2 class="location_header">О проекте</h2>
{% endblock %}

{% block content %}
    {{ content|safe }}
{% endblock %}
