{% extends "base.html" %}

{% load button %}

{% block left_column %}
    <div class="ym-clearfix">
        <div class="side_block_header">
            <h4>Распространить информацию</h4>
        </div>

        <div class="content_block">
            <ul class="side_list">
            </ul>
        </div>

        <div class="side_block_header">
            <h4>Пожертвовать средства</h4>
        </div>

        <div class="content_block">
            <center>
                <a href="http://yaudit.org/yaudit/410011241937487"  target="_blank">
                    <img src="{{ STATIC_URL }}images/yandex-money.jpg" style="border: 1px solid #777;" width="100"/>
                </a>
                <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=6ZCLSBGXV98PE"  target="_blank">
                    <img src="{{ STATIC_URL }}images/paypal.jpg" width="114"/>
                </a>
            </center>
        </div>

        <div class="side_block_header">
            <h4>Пройти опрос</h4>
        </div>

        <div class="content_block">
            <ul class="side_list"></ul>
            {% button "check" "Пройти опрос" "join_team" "https://spreadsheets.google.com/spreadsheet/viewform?hl=ru&key=0Arbe32MA393qdEY1dGxQYkJsZ1BLQ0hQQ3Fxck5sTlE" %}
        </div>
    </div>
{% endblock %}

{% block right_column %}
    <div class="ym-clearfix">
        <div class="side_block_header">
            <h4>Вступить в команду</h4>
        </div>

        <div class="content_block">
            <ul class="side_list"></ul>
        </div>

        <div class="side_block_header">
            <h4>Записаться волонтером</h4>
        </div>

        <div class="content_block">
            <ul class="side_list">
                <li>Ввод адресов УИКов и поиск на карте</li>
                <li>Сбор ссылок на полезные ресурсы и группы в соц. сетях</li>
            </ul>
        </div>

        <div class="side_block_header">
            <h4>Стать партнером</h4>
        </div>

        <div class="content_block">
            {% button "check" "Стать партнером" "become_partner" "partners" %}
        </div>
    </div>
{% endblock %}

{% block content_header %}
    <h2 class="location_header">Как помочь проекту</h2>
{% endblock %}

{% block content %}
    {{ content|safe }}
{% endblock %}
