{% extends "base.html" %}

{% load elements %}

{% block head %}
    <style type="text/css">
        .ym-col3 .ym-cbox:last-child {display: none;}
    </style>
{% endblock %}

{% block title %}
    Гражданский контроль за президентскими выборами - {{ organization }}
{% endblock %}

{% block left_column %}
    <div class="ym-clearfix">
        <div class="side_block_header">
            <h4>Представители</h4>
        </div>
        <div class="content_block">
            <ul id="representatives_ul" class="side_list">
                {% for participant in representatives %}
                <li>
                    {% include "elements/participant.html" %}
                </li>
                {% endfor %}
            </ul>
        </div>

        {% if organization.signup_observers %}
            <div class="side_block_header">
                <h4>Наблюдатели ({{ counters.observer }})</h4>
            </div>
            <div class="content_block">
                <ul class="side_list">
                    {% for role in participants.observer %}
                        <li>
                            {% with participant=role.user %}
                                {% include "elements/participant.html" %}
                            {% endwith %}
                        </li>
                    {% endfor %}
                </ul>
                <!--{% button "circle-check" "Записаться в наблюдатели" "become_observer" %}-->
            </div>

            {% if request.user.is_authenticated %}
                {% include "dialogs/change_location.html" %}
            {% endif %}

            {% with role="observer" status_plural="наблюдатели" %}
                {% include "elements/dialog_open_button.html" %}
            {% endwith %}
        {% endif %}
    </div>
{% endblock %}

{% block right_column %}

{% endblock %}

{% block content_header %}
    <h2 class="location_header">{{ organization.title }}</h2>

    {% if is_representative %}
        {% tabs "tabs" view "name" name "Информация" "organization_info" "organizations/info.html" "Редактировать" "edit_organization" "organizations/edit.html" %}
    {% else %}
        <div class="ym-cbox">
            {% include "organizations/info.html" %}
        </div>
    {% endif %}

{% endblock %}