{% extends "base.html" %}

{% load elements uni_form_tags %}

{% block title %}
    Гражданский контроль за президентскими выборами - Регистрация организации
{% endblock %}

{% block head %}
    <script src="/static/libs/tiny_mce/tiny_mce.js" type="text/javascript"></script>
{% endblock %}

{% block content_header %}
    <h2 class="location_header">Регистрация организации</h2>
{% endblock %}

{% block content %}
    <div class="static-content">
        <b>В течение суток после заполнения формы мы вышлем владельцу ресурса, указанного в графе "сайт" (через сообщение, электронное письмо или форму обратной связи), код. Его надо будет отправить на admin@grakon.org с электронного адреса пользователя, заполнившего форму. После такого "подтверждения" мы сделаем страницу Вашей организации видимой для всех пользователей.</b>

        {% uni_form form form.helper %}
    </div>
{% endblock %}