<span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;">Дорогие друзья, посетители и&nbsp;участники проекта Гракон!</span><br>


<span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;"></span><br><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;">Выборы
президента России прошли. Как и&nbsp;после парламентские выборов в&nbsp;прошлом году, многими наблюдателями были отмечены нарушения выборного процесса.
Также в&nbsp;интернете стали появляться записи с&nbsp;установленных на&nbsp;участках 
веб-камер, фиксирующие &laquo;карусели&raquo;, <a href="http://ruscesar.livejournal.com/516210.html" target="_blank">вбросы</a> и&nbsp;другие фальсификации. 
Началось сравнение копий протоколов, полученных наблюдателями, и 
официальных данных ЦИК. В&nbsp;ряде случаев уже обнаружены существенные <a href="https://svodnyprotokol.ru/analytics.php?t=gas" target="_blank">расхождения</a>. У&nbsp;многих возникают вопросы:<br></span><ul><li><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;">каковы масштабы подобных 
нарушений?</span></li><li><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;">Почему беспрецедентное число россиян голосовало по 
открепительным?</span></li><li><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;">Что происходило на&nbsp;множестве <a href="http://echo.msk.ru/blog/vice_chancellor/865587-echo/" target="_blank">&laquo;однодневных&raquo; УИКов</a>, в 
которых распределение голосов сильно расходится с&nbsp;соседними участками?</span></li><li><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;">Мог&nbsp;ли быть второй тур?</span></li>


<li><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;">Что мне делать дальше?</span></li>
</ul><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;">В&nbsp;этих вопросах сложно 
разобраться каждому поодиночке, но&nbsp;вместе мы&nbsp;сможем восстановить общую картину событий. После этого каждый 
сможет решить сам, насколько он&nbsp;доверяет официальным 
результатам, и&nbsp;выбрать дальнейшие действия. <br><br>Площадка Гракон 
разрабатывается специально для того, чтобы дать обществу удобные инструменты для анализа прошедших выборов и&nbsp;координации совместных действий. Сейчас наша команда работает по&nbsp;двум основным направлениям:</span><br><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;"></span><br>


<span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;">1. Сбор и&nbsp;анализ информации о&nbsp;прошедших выборах</span><br>


<span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;"></span><br><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;">А)</span><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 9px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;"> </span><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;">Нарушения</span><br>


<div style="margin-left: 40px;"><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;">Благодаря
кнопке <a href="http://grakon.org/violation/report" target="_blank">&laquo;Сообщить о&nbsp;нарушении&raquo;</a>, вы&nbsp;можете рассказать о&nbsp;нарушениях, свидетелем 
которых стали. Сделать это может кто угодно. Мы&nbsp;особенно приветствуем 
наличие видео или иных доказательств. Напишите о&nbsp;факте нарушения, 
закачайте в&nbsp;интернет видео или документ, свидетельствующий о&nbsp;нем, и 
разместите ссылку на&nbsp;нашем сайте. Мы&nbsp;договорились с&nbsp;несколькими большими
организациями и&nbsp;централизованно загружаем на&nbsp;Гракон, собранные ими 
ленты нарушений.</span><br></div><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;"></span><br>

<span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;">Б)</span><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 9px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;"> </span><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;">Протоколы</span><br>


<div style="margin-left: 40px;"><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;">Появилась
возможность <a href="http://grakon.org/protocol/upload" target="_blank">добавлять</a> копии итоговых протоколов голосования. Такие 
протоколы, полученные наблюдателями, позволят нам сравнивать настоящие результаты выборов на&nbsp;избирательных 
участках с&nbsp;официальными. Мы&nbsp;призываем 
всех <b>наблюдателей</b> и&nbsp;<b>членов избирательных комиссий </b>поделиться своими 
копиями с&nbsp;другими гражданами. Также, мы&nbsp;взаимодействуем с&nbsp;большими 
организациями, чтобы автоматически импортировать имеющиеся у&nbsp;них копии протоколов.</span><br></div><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;"></span><br>


<span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;">В)</span><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 9px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;"> </span><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;">Официальные данные ЦИК</span><br>


<div style="margin-left: 40px;"><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;">Мы
скачали официальные результаты выборов и&nbsp;отображаем их&nbsp;на&nbsp;страницах нашего сайта. Таким 
образом, вы&nbsp;можете сравнить официальные данные с&nbsp;теми, что выкладывают 
наблюдатели и&nbsp;другие активисты. </span><br></div><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;"></span><br>


<span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;">Г) Сбор ссылок на&nbsp;видеозаписи сделанные веб-наблюдателями</span><br>


<div style="margin-left: 40px;"><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;">В
ближайшее время любой веб-наблюдатель, записавший видео с&nbsp;установленных
на&nbsp;участках веб-камер, сможет оставить ссылку на&nbsp;свое видео на&nbsp;странице
соответствующей УИК.</span><br></div><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;"></span><br>

<span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;">Д)</span><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 9px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;"> </span><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;">Отчеты о&nbsp;наблюдении</span><br>


<div style="margin-left: 40px;"><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;">Мы
начинаем сбор отчетов наблюдателей, веб-наблюдателей и&nbsp;членов 
избирательных комиссий на&nbsp;выборах. Напишите нам, как все прошло и&nbsp;что вы
увидели. Ссылки на&nbsp;видео- и&nbsp;документальные материалы приветствуются! 
Лучшие отчеты будут помещены на&nbsp;главной странице сайта. В&nbsp;ближайшее 
время мы&nbsp;добавим специальный инструмент для сбора отчетов на 
Граконе.</span><br><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;"></span><br></div><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;">E) Размещение собранных Граконом данных в&nbsp;открытом доступе</span><br>


<div style="margin-left: 40px;"><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;">Наверное,
самый главный вклад Гракона в&nbsp;освещение выборов будет состоять в&nbsp;том, 
что, начиная со&nbsp;следующей недели, мы&nbsp;будем выкладывать все собранные 
данные в&nbsp;открытом доступе (разумеется, это <u>не&nbsp;распространяется на 
личные данные</u> пользователей). В&nbsp;результате, любой сможет скачать их&nbsp;и 
провести собственный анализ. Наша база 
данных содержит широкий спектр ранее недоступной информации, позволяющей
ответить на&nbsp;такие вопросы, как:</span><br></div><ul style="margin-left: 40px;"><li><span style="font-size: 15px; font-family: Arial; color: rgb(34, 34, 34); background-color: transparent; font-weight: normal; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline;">как количество зафиксированных нарушений отразилось на&nbsp;распределении голосов;</span><span style="font-size: 15px; font-family: Arial; color: rgb(34, 34, 34); background-color: transparent; font-weight: normal; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline;"></span></li>
<li><span style="font-size: 15px; font-family: Arial; color: rgb(34, 34, 34); background-color: transparent; font-weight: normal; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline;">распределение голосов в&nbsp;зависимости от&nbsp;того, наблюдатели от&nbsp;каких организаций и&nbsp;партий были на&nbsp;участке;</span><span style="font-size: 15px; font-family: Arial; color: rgb(34, 34, 34); background-color: transparent; font-weight: normal; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline;"></span></li>
<li><span style="font-size: 15px; font-family: Arial; color: rgb(34, 34, 34); background-color: transparent; font-weight: normal; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline;">сколько процентов в&nbsp;среднем &laquo;накидывалось&raquo; через:</span></li>
<ul><li><span style="font-size: 15px; font-family: Arial; color: rgb(34, 34, 34); background-color: transparent; font-weight: normal; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline;">вбросы</span></li>
<li><span style="font-size: 15px; font-family: Arial; color: rgb(34, 34, 34); background-color: transparent; font-weight: normal; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline;">карусели</span></li>
<li><span style="font-size: 15px; font-family: Arial; color: rgb(34, 34, 34); background-color: transparent; font-weight: normal; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline;">переписывания протоколов.</span><span style="font-size: 15px; font-family: Arial; color: rgb(34, 34, 34); background-color: transparent; font-weight: normal; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline;"></span></li>
</ul></ul><div style="margin-left: 40px;"><span style="font-size: 15px; font-family: Arial; color: rgb(34, 34, 34); background-color: transparent; font-weight: normal; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline;">На&nbsp;эти и&nbsp;другие вопросы можно будет отвечать как по&nbsp;всей России, так и&nbsp;в&nbsp;срезах по&nbsp;любым субъектам и&nbsp;ТИКам.</span><br>
</div>

<span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;"></span><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;"></span><br>


<span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;">2. Координация действий после выборов</span><br>


<span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;"></span><br><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;">А) Помощь в&nbsp;написании и&nbsp;подаче жалоб по&nbsp;выборам в&nbsp;прокуратуру</span><br>


<div style="margin-left: 40px;"><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;">Благодаря
партнерству сайта &laquo;Куда?Кому?&raquo; и&nbsp;проекта Гракон у&nbsp;пользователей будет 
возможность оперативно и&nbsp;юридически грамотно составить жалобу о 
нарушении на&nbsp;выборах и&nbsp;отправить ее&nbsp;в&nbsp;прокуратуру. Обязательно вывесите 
свою жалобу на&nbsp;сайте Гракона и&nbsp;пишите о&nbsp;том, как происходит ее 
рассмотрение&nbsp;&mdash; остальные пользователи смогут узнать, как работает 
судебная система, а&nbsp;также получить новый опыт или поддержать вас.</span><br><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;"></span><br>
</div>

<span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;">Б) Бесплатные юридические консультации по&nbsp;нарушениям на&nbsp;выборах</span><br>


<div style="margin-left: 40px;"><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;">На
данный момент на&nbsp;Граконе зарегистрировано 80&nbsp;юристов. Некоторые из&nbsp;них 
дали идею создания единого пула юристов, готовых дать бесплатную 
консультацию любому пользователю площадки по&nbsp;поводу прошедших выборов. 
Это можно будет сделать через специальные стены для общения или по 
телефону/скайпу.</span><br></div><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;"></span><br>

<span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;">В) Организация акций и&nbsp;мероприятий</span><br>


<div style="margin-left: 40px;"><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;">В
ближайшее время пользователи смогут публиковать информацию о 
мероприятиях и&nbsp;акциях в&nbsp;поддержку гражданского общества, чтобы участники
площадки из&nbsp;их&nbsp;региона узнали о&nbsp;планируемом событии и&nbsp;могли записаться</span> на&nbsp;него.<br></div><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;"></span><br>


<span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;">Г) Группы и&nbsp;организации</span><br>
<div style="margin-left: 40px;"><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;">Мы
призываем координаторов региональных групп и&nbsp;организаций, так или 
иначе борющихся за&nbsp;честные выборы, завести свои страницы на&nbsp;Граконе. До 
выборов вы&nbsp;подготавливали наблюдателей. Теперь Гракон поможет вам 
собрать и&nbsp;организовать местных активных граждан для после-выборных 
действий.</span><br><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;"></span><br></div>
<span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;">Д</span><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;">) Объединение тех, на&nbsp;кого оказывалось давление начальства при голосовании</span><br>


<div style="margin-left: 40px;"><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;">Мы
начнем анонимный сбор людей по&nbsp;организациям и&nbsp;компаниям, которые 
считают, что на&nbsp;них оказывалось административное давление во&nbsp;время 
голосования. Такие группы смогут общаться и&nbsp;получать юридические 
консультации, сохраняя анонимность. Если они решат, то&nbsp;в&nbsp;любой момент 
люди в&nbsp;этих группах смогут &laquo;выйти из&nbsp;тени&raquo; и&nbsp;подать коллективную жалобу.</span><br></div><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;"></span><br>


<span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;"></span><br><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;">ВНИМАНИЕ!</span><br>
<br>

<span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;">Дорогой
участник, команда Гракон старается для Вас, и&nbsp;вместе мы&nbsp;делаем 
действительно важное дело. В&nbsp;данный момент нам очень нужны деньги на 
поддержание проекта. Если Вы&nbsp;считаете наш сайт полезным и&nbsp;можете 
профинансировать наше начинание, то&nbsp;подробности здесь&nbsp;&mdash; 
<a href="http://grakon.org/donate" target="_blank">http://grakon.org/donate</a>. Мы&nbsp;будем предоставлять полную отчетность о 
собранных и&nbsp;потраченных средствах.</span><br><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;"><br>
Также
нам нужен дополнительный профессиональный веб-разработчик с&nbsp;большим 
опытом работы с&nbsp;Python/Django. С&nbsp;ним разработка инструментов, указанных 
выше, значительно ускорится. Если Вы&nbsp;можете помочь, пожалуйста, 
свяжитесь с&nbsp;нами через <a href="mailto:admin@grakon.org" target="_blank">admin@grakon.org</a>. В&nbsp;зависимости от&nbsp;ситуации,
возможна конкурентная компенсация труда.
<br><br>
Если вы&nbsp;не&nbsp;хотите больше получать письма от&nbsp;нас, перейдите по&nbsp;этой ссылке&nbsp;&mdash; <a href="http://grakon.org/unsubscribe?email={{ email }}" style="color: rgb(17, 85, 204);" target="_blank">http://grakon.org/unsubscribe?email={{ email }}</a>.<br>
<br></span><span style="text-indent: 0px; letter-spacing: normal; font-variant: normal; font-style: normal; display: inline ! important; font-weight: normal; float: none; line-height: normal; text-transform: none; font-size: small; white-space: normal; font-family: arial; word-spacing: 0px;">&mdash;<span>&nbsp;</span></span><br style="text-indent: 0px; letter-spacing: normal; font-variant: normal; font-style: normal; font-weight: normal; line-height: normal; text-transform: none; font-size: small; white-space: normal; font-family: arial; word-spacing: 0px;">
<div style="text-indent: 0px; letter-spacing: normal; font-variant: normal; font-style: normal; font-weight: normal; line-height: normal; text-transform: none; font-size: small; white-space: normal; font-family: arial; word-spacing: 0px;">
С&nbsp;уважением,</div><div style="text-indent: 0px; letter-spacing: normal; font-variant: normal; font-style: normal; font-weight: normal; line-height: normal; text-transform: none; font-size: small; white-space: normal; font-family: arial; word-spacing: 0px;">
Команда Гракона</div><div style="text-indent: 0px; letter-spacing: normal; font-variant: normal; font-style: normal; font-weight: normal; line-height: normal; text-transform: none; font-size: small; white-space: normal; font-family: arial; word-spacing: 0px;">
<a href="http://grakon.org/" style="color: rgb(17, 85, 204);" target="_blank">http://grakon.org</a>