<span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;">Дорогие друзья, посетители и участники проекта Гракон!</span><br>


<span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;"></span><br><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;">Выборы
 президента России прошли. Как и после Думских выборов в прошлом году, многими наблюдателями были отмечены нарушения выборного процесса.
 Также в интернете стали появляться записи с установленных на участках 
веб-камер, фиксирующие “карусели”, <a href="http://ruscesar.livejournal.com/516210.html" target="_blank">вбросы</a> и другие фальсификации. 
Началось сравнение копий протоколов, полученных наблюдателями, и 
официальных данных ЦИК. В ряде случаев уже обнаружены существенные <a href="https://svodnyprotokol.ru/analytics.php?t=gas" target="_blank">расхождения</a>. У многих возникают вопросы:<br></span><ul><li><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;">каковы масштабы подобных 
нарушений?</span></li><li><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;">Почему беспрецедентное число россиян голосовало по 
открепительным?</span></li><li><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;">Что происходило на множестве <a href="http://echo.msk.ru/blog/vice_chancellor/865587-echo/" target="_blank">“однодневных” УИКов</a>, в 
которых распределение голосов сильно расходится с соседними участками?</span></li><li><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;">Мог ли быть второй тур?</span></li>


<li><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;">Что мне делать дальше?</span></li>
</ul><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;">&nbsp;В этих вопросах сложно 
разобраться каждому по одиночке, но вместе мы сможем восстановить общую картину событий. После этого каждый 
сможет решить сам, насколько он доверяет официальным 
результатам, и выбрать дальнейшие действия. <br><br>Площадка Гракон 
разрабатывается специально для того, чтобы дать обществу удобные инструменты для анализа прошедших выборов и координации совместных действий. Сейчас наша команда работает по двум основным направлениям:</span><br><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;"></span><br>


<span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;">1. Сбор и анализ информации о прошедших выборах</span><br>


<span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;"></span><br><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;">А)</span><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 9px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;"> </span><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;">Нарушения</span><br>


<div style="margin-left: 40px;"><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;">Благодаря
 кнопке «Сообщить о нарушении», вы можете рассказать о нарушениях, свидетелем 
которых стали. Сделать это может кто угодно. Мы особенно приветствуем 
наличие видео или иных доказательств. Напишите о факте нарушения, 
закачайте в интернет видео или документ, свидетельствующий о нем, и 
разместите ссылку на нашем сайте. Мы договорились с несколькими большими
 организациями и централизованно загружаем на Гракон, собранные ими 
ленты нарушений.</span><br></div><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;"></span><br>

<span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;">Б)</span><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 9px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;"> </span><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;">Протоколы</span><br>


<div style="margin-left: 40px;"><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;">Появилась
 возможность <a href="http://grakon.org/protocol/upload" target="_blank">добавлять</a> копии итоговых протоколов голосования. Такие 
протоколы, полученные наблюдателями, позволят нам сравнивать настоящие результаты выборов на избирательных 
участках&nbsp; с официальными. Мы призываем 
всех <b>наблюдателей</b> и <b>членов избирательных комиссий </b>поделиться своими 
копиями с другими гражданами. Также, мы взаимодействуем с большими 
организациями, чтобы автоматически импортировать имеющиеся у них копии протоколов.</span><br></div><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;"></span><br>


<span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;">В)</span><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 9px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;"> </span><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;">Официальные данные ЦИК</span><br>


<div style="margin-left: 40px;"><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;">Мы
 скачали официальные результаты выборов и отображаем их на страницах нашего сайта. Таким 
образом, вы можете сравнить официальные данные с теми, что выкладывают 
наблюдатели и другие активисты. </span><br></div><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;"></span><br>


<span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;">Г) Сбор ссылок на видео-записи сделанные веб-наблюдателями</span><br>


<div style="margin-left: 40px;"><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;">В
 ближайшее время любой веб-наблюдатель, записавший видео с установленных
 на участках веб-камер, сможет оставить ссылку на свое видео на странице
 соответствующей УИК.</span><br></div><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;"></span><br>

<span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;">Д)</span><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 9px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;"> </span><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;">Отчеты о наблюдении</span><br>


<div style="margin-left: 40px;"><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;">Мы
 начинаем сбор отчетов наблюдателей, веб-наблюдателей и членов 
избирательных комиссий на выборах. Напишите нам, как все прошло и что вы
 увидели. Ссылки на видео- и документальные материалы приветствуются! 
Лучшие отчеты будут помещены на главной странице сайта. В ближайшее 
время мы добавим специальный инструмент для сбора отчетов на 
Граконе.</span><br><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;"></span><br></div><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;">E) Размещение собранных Граконом данных в открытом доступе</span><br>


<div style="margin-left: 40px;"><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;">Наверное,
 самый главный вклад Гракона в освещение выборов будет состоять в том, 
что, начиная со следующей недели, мы будем выкладывать все собранные 
данные в открытом доступе (разумеется, это <u>не распространяется на 
личные данные</u> пользователей). В результате, любой сможет скачать их и 
провести собственный анализ. Наша база 
данных содержит широкий спектр ранее недоступной информации, позволяющей
 ответить на такие вопросы, как:</span><br></div><ul style="margin-left: 40px;"><li><span style="font-size: 15px; font-family: Arial; color: rgb(34, 34, 34); background-color: transparent; font-weight: normal; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline;">как количество зафиксированных нарушений отразилось на распределении голосов;</span><span style="font-size: 15px; font-family: Arial; color: rgb(34, 34, 34); background-color: transparent; font-weight: normal; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline;"></span></li>
<li><span style="font-size: 15px; font-family: Arial; color: rgb(34, 34, 34); background-color: transparent; font-weight: normal; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline;">распределение голосов в зависимости от того, наблюдатели от каких организаций и партий были на участке;</span><span style="font-size: 15px; font-family: Arial; color: rgb(34, 34, 34); background-color: transparent; font-weight: normal; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline;"></span></li>
<li><span style="font-size: 15px; font-family: Arial; color: rgb(34, 34, 34); background-color: transparent; font-weight: normal; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline;">сколько процентов в среднем “накидывалось” через:</span></li>
<ul><li><span style="font-size: 15px; font-family: Arial; color: rgb(34, 34, 34); background-color: transparent; font-weight: normal; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline;">вбросы</span></li>
<li><span style="font-size: 15px; font-family: Arial; color: rgb(34, 34, 34); background-color: transparent; font-weight: normal; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline;">карусели</span></li>
<li><span style="font-size: 15px; font-family: Arial; color: rgb(34, 34, 34); background-color: transparent; font-weight: normal; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline;">переписывания протоколов.</span><span style="font-size: 15px; font-family: Arial; color: rgb(34, 34, 34); background-color: transparent; font-weight: normal; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline;"></span></li>
</ul></ul><div style="margin-left: 40px;"><span style="font-size: 15px; font-family: Arial; color: rgb(34, 34, 34); background-color: transparent; font-weight: normal; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline;">На эти и другие вопросы можно будет отвечать как по всей России, так и в срезах по любым субъектам и ТИКам.</span><br>
</div>

<span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;"></span><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;"></span><br>


<span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;">2. Координация действий после выборов</span><br>


<span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;"></span><br><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;">А) Помощь в написании и подаче жалоб по выборам в прокуратуру</span><br>


<div style="margin-left: 40px;"><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;">Благодаря
 партнерству сайта “Куда?Кому?” и проекта Гракон у пользователей будет 
возможность оперативно и юридически грамотно составить жалобу о 
нарушении на выборах и отправить ее в прокуратуру. Обязательно вывесите 
свою жалобу на сайте Гракона и пишите о том, как происходит ее 
рассмотрение – остальные пользователи смогут узнать, как работает 
судебная система, а также получить новый опыт или поддержать вас.</span><br><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;"></span><br>
</div>

<span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;">Б) Бесплатные юридические консультации по нарушениям на выборах</span><br>


<div style="margin-left: 40px;"><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;">На
 данный момент на Граконе зарегистрировано 80 юристов. Некоторые из них 
дали идею создания единого пула юристов, готовых дать бесплатную 
консультацию любому пользователю площадки по поводу прошедших выборов. 
Это можно будет сделать через специальные стены для общения или по 
телефону/скайпу.</span><br></div><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;"></span><br>

<span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;">В) Организация акций и мероприятий</span><br>


<div style="margin-left: 40px;"><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;">В
 ближайшее время пользователи смогут публиковать информацию о 
мероприятиях и акциях в поддержку гражданского общества, чтобы участники
 площадки из их региона узнали о планируемом событии и могли записаться</span> на него.<br></div><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;"></span><br>


<span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;">Г) Группы и организации</span><br>
<div style="margin-left: 40px;"><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;">Мы
 призываем координаторов региональных &nbsp;групп и организаций, так или 
иначе борющихся за честные выборы, завести свои страницы на Граконе. До 
выборов вы подготавливали наблюдателей. Теперь Гракон поможет вам 
собрать и организовать местных активных граждан для после-выборных 
действий.</span><br><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;"></span><br></div>
<span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;">Д</span><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;">) Объединение тех, на кого оказывалось давление начальства при голосовании</span><br>


<div style="margin-left: 40px;"><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;">Мы
 начнем анонимный сбор людей по организациям и компаниям, которые 
считают, что на них оказывалось административное давление во время 
голосования. Такие группы смогут общаться и получать юридические 
консультации, сохраняя анонимность. Если они решат, то в любой момент 
люди в этих группах смогут “выйти из тени” и подать коллективную жалобу.</span><br></div><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;"></span><br>


<span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;"> </span><br><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: bold;">ВНИМАНИЕ!</span><br>
<br>

<span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;">Дорогой
 участник, команда Гракон старается для Вас, и вместе мы делаем 
действительно важное дело. В данный момент нам очень нужны деньги на 
поддержание проекта. Если Вы считаете наш сайт полезным и можете 
профинансировать наше начинание, то подробности здесь - 
<a href="http://grakon.org/donate" target="_blank">http://grakon.org/donate</a>. Мы будем предоставлять полную отчетность о 
собранных и потраченных средствах.</span><br><span style="vertical-align: baseline; font-variant: normal; font-style: normal; font-size: 15px; background-color: transparent; text-decoration: none; font-family: Arial; font-weight: normal;"><br>
Также
 нам нужен дополнительный профессиональный веб-разработчик с большим 
опытом работы с Python/Django. С ним разработка инструментов, указанных 
выше, значительно ускорится. Если Вы можете помочь, пожалуйста, 
свяжитесь с нами через <a href="mailto:admin@grakon.org" target="_blank">admin@grakon.org</a>. В зависимости от ситуации 
возможна конкурентная компенсация труда.<br><br></span><span style="text-indent: 0px; letter-spacing: normal; font-variant: normal; font-style: normal; display: inline ! important; font-weight: normal; float: none; line-height: normal; text-transform: none; font-size: small; white-space: normal; font-family: arial; word-spacing: 0px;">--<span>&nbsp;</span></span><br style="text-indent: 0px; letter-spacing: normal; font-variant: normal; font-style: normal; font-weight: normal; line-height: normal; text-transform: none; font-size: small; white-space: normal; font-family: arial; word-spacing: 0px;">
<div style="text-indent: 0px; letter-spacing: normal; font-variant: normal; font-style: normal; font-weight: normal; line-height: normal; text-transform: none; font-size: small; white-space: normal; font-family: arial; word-spacing: 0px;">
С уважением,</div><div style="text-indent: 0px; letter-spacing: normal; font-variant: normal; font-style: normal; font-weight: normal; line-height: normal; text-transform: none; font-size: small; white-space: normal; font-family: arial; word-spacing: 0px;">
Команда Гракона</div><div style="text-indent: 0px; letter-spacing: normal; font-variant: normal; font-style: normal; font-weight: normal; line-height: normal; text-transform: none; font-size: small; white-space: normal; font-family: arial; word-spacing: 0px;">
<a href="http://grakon.org/" style="color: rgb(17, 85, 204);" target="_blank">http://grakon.org</a>

Если вы хотите отписаться от этой рассылки, перейдите по этой ссылке - <a href="http://grakon.org/unsubscribe?email={{ email }}" style="color: rgb(17, 85, 204);" target="_blank">http://grakon.org/unsubscribe?email={{ email }}</a>.
