{% extends "base.html" %}

{% load elements %}

{% block title %}
    Новости - Гракон - гражданский контроль за президентскими выборами
{% endblock %}

{% block head %}
    <!-- This style is used in a number of pages already - avoid it -->
    <style type="text/css">
        .ym-col3 .ym-cbox:last-child {display: none;}
    </style>
{% endblock %}

{% block left_column %}
    <h3 class="column_header">Этапы</h3>
    <div class="ym-clearfix">
        <div class="content_block">
            <ul class="side_list">
                <li>28 декабря <br/> <i>рождение идеи площадки, пост в блоге</i></li>
                <li>1 января <br/> <i>рассылка первой презентации проекта</i></li>
                <li>9 января <br/> <i>разработка технического задания, первый commit кода</i></li>
                <li>16 января <br/> <i>новая презентация проекта, запуск сайта о проекте</i></li>
                <li>22 января <br/> <i>запуск прототипа во внутреннее тестирование</i></li>
                <li>6 февраля <br/> <i>запуск базовой версии</i></li>
                <li>12 февраля <br/> <i>к команде присоединяется Мария Гайдар</i></li>
                <li>19 февраля <br/> <i>запуск основной функциональности площадки</i></li>
            </ul>
        </div>
     </div>

    <h3 class="column_header">Участники</h3>
    <div class="ym-clearfix">
        <div class="mt15 mb15">
            {% button "circle-check" "Помочь проекту" "join" "join_team" %}
        </div>
    </div>
{% endblock %}

{% block right_column %}
    <h3 class="column_header">Ресурсы</h3>
    <div class="ym-clearfix">
        <div class="content_block">
            <ul class="side_list">
                <li><a href="https://www.pivotaltracker.com/projects/448657" target="_blank">Процесс разработки</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block content_header %}
    <h2 class="location_header">Разработка</h2>

    {% tabs "tabs" tab "" "" "Новости проекта" "news" "static_pages/development/news.html" "Функциональность" "functionality" "static_pages/development/functionality.html" %}
{% endblock %}