{% extends "base.html" %}

{% load elements %}

{% block head %}
    <!-- This style is used in a number of pages already - avoid it -->
    <style type="text/css">
        .ym-col3 .ym-cbox:last-child {display: none;}
    </style>
{% endblock %}

{% block left_column %}
    <div class="ym-clearfix">
        <div class="side_block_header">
            <h4>Этапы</h4>
        </div>

        <div class="content_block">
            <ul class="side_list">
                <li>28 декабря <br/> рождение идеи площадки, пост в блоге</li>
                <li>1 января <br/> рассылка первой презентации проекта</li>
                <li>9 января <br/> разработка технического задания, первый commit кода</li>
                <li>16 января <br/> новая презентация проекта, запуск сайта о проекте</li>
                <li>22 января <br/> запуск прототипа во внутреннее тестирование</li>
                <li>6 февраля <br/> запуск базовой версии</li>
            </ul>
        </div>

        <div class="side_block_header">
            <h4>Участники</h4>
        </div>

        <div class="content_block">
            <ul class="side_list">
                <li></li>
            </ul>
            {% button "circle-check" "Помочь проекту" "join" "join_team" %}
        </div>
    </div>
{% endblock %}

{% block right_column %}
    <div class="ym-clearfix">
        <div class="side_block_header">
            <h4>Ресурсы</h4>
        </div>

        <div class="content_block">
            <ul class="side_list">
                <li><a href="https://www.pivotaltracker.com/projects/448657" target="_blank">Процесс разработки</a></li>
                <li><a href="https://github.com/sergkop/elections_network" target="_blank">Исходный код (GitHub)</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block content_header %}
    <h2 class="location_header">Разработка{% include "elements/share.html" %}</h2>

    {% tabs "tabs" tab "" "" "Новости проекта" "news" "static_pages/development/news.html" "Функциональность" "functionality" "static_pages/development/functionality.html" %}
{% endblock %}