<ol>
    <li><strong><font color="228B22">[СДЕЛАНО] </font></strong><b>иерархия страниц по избирательной системе России.</b> Уровни:
    <ul>
    <li>Россия
    <li>субъекты РФ
    <li>ТИКи
    <li>УИКи (нижний уровень пока неактивен)
    </ul>
    <br>

    <li><strong><font color="228B22">[СДЕЛАНО] </font></strong><b>интерактивные карты для навигации по иерархии.</b> Реализована через Яндекс-карты. Избирательные округа отмечаются “засечками” по адресу избирательной комиссии
    <br>
    <br>

    <li><strong><font color="228B22">[СДЕЛАНО] </font></strong><b>интерфейс и дизайн сайта.</b> Главные цели: простота, информативность, удобство
    <br>
    <br>

    <li><strong><font color="228B22">[СДЕЛАНО] </font></strong><b>внутренняя регистрация пользователей.</b> Запрашиваемая информация:
    <ul>
    <li>имя пользователя (логин)
    <li>электронный адрес
    <li>пароль
    <li>фамилия
    <li>имя
    </ul>
    <br>

    <li><strong><font color="228B22">[СДЕЛАНО] </font></strong><b>статус “избиратель”.</b> Обязательный статус, выбираемый при регистрации. Возможность привязки только на уровне ТИКов. Автоматическое отображение избирателей на вышестоящих уровнях иерархии страниц
    <br>
    <br>

    <li><strong><font color="228B22">[СДЕЛАНО] </font></strong><b>личная страница пользователя.</b> Функциональность:
    <ul>
    <li>поле о себе
    <li>отображение участия на страницах избирательных округов
    <li>возможность редактирования профайла
    <li>отправка сообщений другим пользователям
    <li>добавление в список контактов
    <li>смена избирательного округа
    </ul>
    <br>

    <li><strong><font color="228B22">[СДЕЛАНО] </font></strong><b>статические страницы.</b> Пункты меню:
    <ul>
    <li>о проекте
    <li>разработка
    <li>партнеры
    <li>как помочь
    <li>контакты
    </ul>
    <br>

    <li><strong><font color="228B22">[СДЕЛАНО] </font></strong><b>инструмент “полезные ресурсы”.</b> Возможность добавить ссылки на внешние сайты с информацией о выборах и группах, относящейся к выбранному избирательному округу
    <br>
    <br>

    <li><strong><font color="228B22">[СДЕЛАНО] </font></strong><b>кнопки соцсетей с подсчетом кликнувших.</b>
    <ul>
    <li>“Мне нравится” (вКонтакте)
    <li>“Like” (Facebook)
    <li>“+1” (Google)
    </ul>
    <br>

    <li><strong><font color="228B22">[СДЕЛАНО] </font></strong><b>добавить уровень УИКов</b>
    <br>
    <br>

    <li><strong><font color="228B22">[СДЕЛАНО] </font></strong><b>статусы участников: “наблюдатели”, “представители СМИ”, “члены избирательной комиссии”, “юристы”, “представители прокуратуры”.</b> Свободное получение этих статусов. Это резко поднимет активность на площадке, создаст настоящую соцсеть.
    <br>
    <br>

    <li><strong><font color="228B22">[СДЕЛАНО] </font></strong><b>статус участников: “представители власти”.</b> Получение статуса после верификации через предоставление копий подтверждающих документов.
    <br>
    <br>

    <li><strong><font color="228B22">[СДЕЛАНО] </font></strong><b>инструмент “организации”.</b> Служат для представления организаций-партнеров на площадке. Могут создаваться только пользователями, которым высылается специальная ссылка. Сортируются для отображения по количеству членов. Функциональность:
    <ul>
    <li>избирательный округ (любого уровня иерархии)
    <li>краткое текстовое описание
    <li>ссылка на внешний сайт, где идет работа организации
    <li>организации автоматически отображаются на всех нижележащих уровнях иерархии сайта и сортируются для отображения по количеству членов
    <li>с пользователями каких статусов работает организация (задается в зависимости от переговоров с организацией-партнером при создании страницы)
    <li>автоматическое отображение в диалоговом меню при нажатии кнопки “записаться в <статус пользователя>” при условии <li>совпадения избирательного округа и типа пользователей, с которыми работает организация
    <li>организации будут верифицировать статусы пользователей (членство в организации)
    <li>админы страницы организации могут делать массовые рассылки всем членам
    </ul>
    <br>

    <li><strong><font color="228B22">[СДЕЛАНО] </font></strong><b>настроить стену Disqus, чтобы на ней могли писать только люди с аккаунтами на нашей площадке (родными или через логинзу)</b>
    <br>
    <br>

    <li><b>поставить reCAPTCHA на регистрацию пользователей</b> (http://www.google.com/recaptcha)
    <br>
    <br>

    <li><b>новости проекта и страниц избирательных округов.</b> Нужно, чтобы участники могли следить за развитием функциональности проекта и за главными обновлениями на страницах избирательных округов (которые в будущем будет сложно заметить невооруженным глазом). Сообщать о:
    <ul>
    <li>новых участниках
    <li>новых элементах в инструментах
    <li>изменениях на вкладке “информация”
    <li>новых записях на стене
    </ul>
    Реализовать с помощью коротких сообщений стандартного типа:
    <ul>
    <li>вкладки “новости” на страницах о проетке и избирательных округов
    <li>возможность подписаться на новости через RSS
    <li>возможность подписаться на высылку новостей на электронную почту
    </ul>
    <br>

    <li><b>верификация статусов на площадке (“наблюдатели”, “представители СМИ”, “члены избирательной комиссии”, “юристы”, “представители прокуратуры”).</b> Нужна для определения уровня доверия между юзерами и площадки к юзерам. По умолчанию пользователи будут не верифицированными. Изначально будет четыре типа верификации, с возможностью добавления новых по мере необходимости:
    <ul>
    <li>через краудсорсинг по пользователям (сколько пользователей площадки подтвердили, что знают лично)
    <li>через партнера - организацию на площадке
    <li>через ссылку на внешний сайт/блог/аккаунт в соцсети, владение которым можно подтвердить через доступ к ссылке, отправленной владельцу сайта/блога/аккаунта в соцсети (пройдя по которой, надо будет залогиниться на сайте, чтобы завершить верификацию)
    <li>через высылку фото или сканов документов, подтверждающих статус
    </ul>
    <br>

    <li><b>статус “интересующийся”.</b> Специально для тех, кто является избирателем на другом избирательном округе, но по какой-то причине хочет следить/помогать еще и участникам иного округа. Свободная запись. Особенности:
    <ul>
    <li>не будет автоматически отображаться на всех вышестоящих уровнях иерархии сайта
    <li>можно записываться много раз, по одному на каждой странице избирательного округа
    </ul>
    <br>

    <li><b>инструмент “пригласить друзей”.</b> Служит для мотивирования пользователей лично приглашать друзей на Гракон. Выдадим шаблон для личных сообщений в соцсетях и по электронной почте.
    <br>
    <br>

    <li><b>инструмент “группы”.</b> Могут создаваться любыми пользователями. Функциональность:
    <ul>
    <li>краткое текстовое описание
    <li>ссылка на внешний сайт, где идет работа группы
    <li>возможность записи в группу с необходимостью подтверждения от админа
    <li>админы группы могут делать массовые рассылки всем участникам
    <li>группы автоматически отображаются на всех нижележащих уровнях иерархии сайта и сортируются для отображения по количеству членов
    <li>типы групп:
    <ul>
    <li>мобильные для помощи на участках (юристы, представители СМИ, представители власти, кандидаты)
    <li>мобильные для отлова ручейков (водители, люди с камерами, представители СМИ, представители власти)
    <li>местные для отлова ручейков, каруселей и вбросов (люди, дежурящие около участков в день выборов)
    <li>местные для оперативной подачи жалоб на нарушения (люди, распечатывающие с сайта поданные жалобы и отдающие их в местые ТИКи и/или прокуратуры прямо в день выборов)
    <li>другое
    </ul>
    </ul>
    <br>

    <li><b>инструмент “мероприятия”.</b> Функциональность:
    <ul>
    <li>дата
    <li>краткое текстовое описание
    <li>ссылка на внешний сайт, где идет работа по подготовке мероприятия
    <li>возможность записи на мероприятие любому пользователю
    <li>админы мероприятия могут делать массовые рассылки всем участникам
    <li>мероприятия автоматически отображаются на всех нижележащих уровнях иерархии сайта и сортируются для отображения по дате + количеству участников
    <li>типы мероприятий:
    <ul>
    <li>встречи
    <li>акции (в том числе митинги)
    <li>поддержка наблюдателям около участков сразу по завершению голосования (эти мероприятия будут автоматически созданы на страницах всех УИКов)
    <li>другое
    </ul>
    </ul>
    <br>

    <li><b>инструмент “организации, где происходит давление на избирателей”.</b> Функциональность:
    <ul>
    <li>название организации, в которой происходит давление начальства на избирателей
    <li>краткое текстовое описание
    <li>ссылка на внешний сайт, где обсуждается этот вопрос
    <li>возможность отметки об ощущении давления в этой организации любому пользователю
    <li>админы организации могут делать массовые рассылки всем участникам
    <li>организации автоматически отображаются на всех нижележащих уровнях иерархии сайта и сортируются для отображения по количеству участников
    <li>типы:
    <ul>
    <li>бюджетная организация (школа, больница, …)
    <li>госкомпания
    <li>частная компания
    <li>организация
    <li>другое
    </ul>
    </ul>
    <br>

    <li><b>возможность жаловаться на участников и инструменты площадки.</b> Это главный инструмент само-модерации на площадке. Если на Граконе 90% верифицированных пользователей будут “хорошими” и активными, то модерация через жалобы будет очень эффективна. На что можно жаловаться:
    <ul>
    <li>других пользователей по причинам:
    <ul>
    <li>спам
    <li>саботаж
    <li>неверная информация
    <li>другое
    </ul>
    <li>инструменты по причинам:
    <ul>
    <li>не про выборы
    <li>саботаж
    <li>агитация
    <li>устарел
    <li>не на той странице
    <li>другое
    </ul>
    <li>избирательный округ по причинам:
    <ul>
    <li>неверная информация об адресе
    <li>неверная информация о членах УИК
    </ul>
    <li>протоколы по причинам:
    <ul>
    <li>подделанные
    <li>введенные цифры не соответствуют фото/скану
    </ul>
    </ul>
    <br>

    <li><b>изменить отправку электронных писем администрации площадки и другим участникам.</b> Необходимо для сохранения анонимности пользователей + чтобы почтовые сервера не ругались, что “письма, возможно, не от тех адресатов, которые указаны в письме”. Письмо отправляется с адреса admin@grakon.org. Реализовать в виде диалогового окна с полями:
    <ul>
    <li>тема сообщения
    <li>само сообщение
    <li>включить ли электронный адрес для обратной связи
    </ul>
    <br>

    <li><b>показывать, кто находится в данный момент на сайте</b>
    <br>
    <br>

    <li><b>возможность верифицированным пользователям вносить списки членов УИК</b>
    <br>
    <br>

    <li><b>инструмент “нарушения”.</b> Функциональность:
    <ul>
    <li>тип нарушения (будет список, как на Карте Нарушений)
    <li>описание
    <li>ссылки на доказательства, выложенные на внешних ресурсах
    <li>возможность отметки о согласии с нарушением любому пользователю
    </ul>
    <br>

    <li><b>инструмент “обжалование нарушений”.</b> Функциональность:
    <ul>
    <li>простые диаграммы, позволяющие следить за продвижением процесса обжалования
    <li>создатель обжалованного нарушения сможет автоматически составить жалобу/заявление на нарушение на сайте “Куда?Кому?” и выложить ее на площадку (или выложить свою)
    <li>возможность отметиться для слежения за обжалованием нарушения любому пользователю
    <li>создатели обжалованного нарушения могут делать массовые рассылки всем участникам
    <li>типы жалоб:
    <ul>
    <li>от избирателя
    <li>от наблюдателя
    <li>от члена избирательной комиссии
    </ul>
    </ul>
    <br>

    <li><b>пояснение того, что пользователи могут делать на площадке.</b> В двух видах:
    <ul>
    <li>текст на вкладку главной страницы
    <li>советы по тому, чего не хватает на странице избирательного округа через отдельную вкладку “что делать”. Формировать <li>автоматически по подсчету статистики страницы:
    <ul>
    <li>число избирателей (нужно >=5)
    <li>число наблюдателей (нужно >=3)
    <li>число представителей СМИ (нужно >=1)
    <li>число юристов (нужно >=1)
    <li>число членов УИК (нужно >=1)
    <li>число организаций (нужно >=1)
    <li>число групп (нужно >=1)
    <li>выложены ли списки членов УИК
    <li>задана ли координата по карте
    <li>мероприятие “встреча оффлайн”
    </ul>
    </ul>
    <br>

    <li><b>удобное отображение списков участников и инструментов на страницах избирательных округов</b>
    <ul>
    <li>пиктограммы по типам
    <li>свертка блоков
    </ul>
    <br>

    <li><b>акции перед выборами.</b> В последние дни перед выборами проводить каждый день по акции - разослать письма об этом участникам площадки + выложить на специальную вкладку на страницах всех избирательных округов. Список акций:
    <ul>
    <li>"заполняем страницы УИКов недостающими людьми"
    <li>"создаем местные группы для мониторинга выборов"
    <li>"встречаемся оффлайн с другими участниками и координируем свои действия"
    <li>"ищем информацию о членах УИК и окажем на них общественное давление"
    <li>"вступаем в карусели, ручейки и т.д. и саботируем их в день выборов"
    </ul>
    <br>

    <li><b>инструмент “протоколы”.</b> Возможность верифицированным пользователям выложить фото или сканы копий протоколов + внести результаты на страницы УИКов
    <br>
    <br>

    <li><b>скачать с ЦИК официальные результаты выборов и сравнить с данными по копиям протоколов</b>
    <br>
    <br>

    <li><b>инструмент “отчеты о выборах”.</b> Возможность пользователям выкладывать отчеты по выборам - текст + ссылки + оценка:
    <ul>
    <li>все прошло честно
    <li>были незначительные нарушения
    <li>были существенные нарушения
    <li>был беспредел
    </ul>
    <br>

    <li><b>акции после выборов.</b> Сразу после выборов провести в разные дни несколько акций - разослать письма об этом участникам площадки + выложить на специальную вкладку на страницах всех избирательных округов. Список акций:
    <ul>
    <li>"собераем копии протоколов"
    <li>"даем оценку работе членов УИК"
    <li>"следим за ходом обжалований нарушений"
    </ul>

</ol>