<p>1) свободная запись в статусы участников: “наблюдатели”, “представители СМИ”, “члены ТИК”, “члены УИК”, “юристы”, “представители полиции”
Это резко поднимет активность на площадке, создаст настоящую соцсеть.</p>

<p>2) верификация статусов участников на площадке (“наблюдатели”, “представители СМИ”, “члены ТИК”, “члены УИК”, “юристы”, “представители полиции”)
Нужна для определения уровня доверия между юзерами и площадки к юзерам. По умолчанию пользователи будут не верифицированными. Изначально будет три типа верификации, с возможностью добавления новых по мере необходимости:
- через организацию-партнера
- через высылку фото или сканов документов, подтверждающих статус
- через краудсорсинг (сколько пользователей площадки подтвердили, что знают лично)</p>

<p>3) статус участника “представитель организации”
Его мы будем давать сами с помощью рассылок одноразовых ссылок представителям организаций-партнеров.
Будет автоматически отображаться на всех нижележащих уровнях иерархии сайта</p>

<p>4) статусы участника “кандидат” и “депутат”
Их мы тоже будем давать сами с помощью рассылок одноразовых ссылок пользователям, подтвердившим этот статус
через фото или скан документов. Будут автоматически отображаться на всех нижележащих уровнях иерархии сайта</p>

<p>5) красивые интерактивные карты для наглядного отображения статистики по сайту:

    количество разных типов участников по избирательным округам
    количество выложенных нарушений по избирательным округам
    официальные результаты выборов по избирательным округам
    результаты выборов согласно копиям протоколов по избирательным округам
    оценочный уровень фальсификаций, полученный сравнением официальных результатов выборов с копиями протоколов,
    по избирательным округам</p>



<p>6) инструмент “группы”
Функциональность:

    краткое текстовое описание
    ссылка на внешний сайт, где идет работа группы
    возможность записи в группу любому пользователю
    админы группы могут делать массовые рассылки всем участникам
    группы автоматически отображаются на всех нижележащих уровнях иерархии сайта и сортируются для отображения по количеству членов
    типы групп:
        местное представительство организации
        мобильная группа для помощи на участках (подходит для юристов, представителей СМИ, представителей полиции, кандидатов, депутатов)
        мобильная группа для отлова “ручейков” (подходит для водителей, видео-операторов, представителей СМИ, представителей полиции, юристов)
        местная группа для отлова “ручейков”, “каруселей” и вбросов (подходит тем, кто может дежурить около избирательного участка в день выборов)
        местная группа для оперативной подачи жалоб на нарушения (подходит для тех, кто живет рядом с ТИКом или районной прокуратуры и может оперативно распечатывать с сайта поданные жалобы и отдавать их в местный ТИК и/или прокуратуру прямо в день выборов)
        другое</p>



<p>7) инструмент “мероприятия”
Функциональность:

    дата
    краткое текстовое описание
    ссылка на внешний сайт, где идет работа по подготовке мероприятия
    возможность записи на мероприятие любому пользователю
    админы мероприятия могут делать массовые рассылки всем участникам
    мероприятия автоматически отображаются на всех нижележащих уровнях иерархии сайта и сортируются для отображения по дате + количеству участников
    типы мероприятий:
        встречи
        акции (в том числе митинги)
        поддержка наблюдателям около участков сразу по завершению голосования (эти мероприятия будут автоматически созданы на страницах всех УИКов)
        другое</p>



<p>8) инструмент “организации, где происходит давление на работников”
Функциональность:

    название организации, в которой происходит давление начальства на избирателей
    краткое текстовое описание
    ссылка на внешний сайт, где обсуждается этот вопрос
    возможность отметки об ощущении давления в этой организации любому пользователю
    админы организации могут делать массовые рассылки всем участникам
    организации автоматически отображаются на всех нижележащих уровнях иерархии сайта и сортируются для отображения по количеству участников
    типы :
        бюджетная организация (школа, больница, …)
        государственная компания
        частная компания
        организация
        другое</p>



<p>9) возможность жаловаться на участников и инструменты площадки
Это главный инструмент само-модерации на площадке. Если на Граконе 90% верифицированных пользователей будут порядочными и активными, то модерация через жалобы будет очень эффективна
На что можно жаловаться:

    других пользователей по причине:
        спам
        саботаж
        ложный статус участника
        другое
    инструменты по причине:
        не про выборы
        агрессия
        агитация
        устарел
        не на той странице
        другое
    избирательный округ по причине неверной информации</p>



<p>10) показывать, кто находится в данный момент на сайте
В начале каждого списка участников будут показываться те пользователи, которые находятся сейчас на площадке

<p>11) возможность верифицированным пользователям вносить и править информацию об избирательных округах

    адрес
    координаты на карте
    телефоны
    списки членов УИК</p>



<p>12) добавить уровень УИКов и перенести туда людей

<p>13) инструмент “нарушения”
Функциональность:

    тип нарушения (будет список, как на Карте Нарушений)
    описание
    ссылки на доказательства, выложенные на внешних ресурсах
    возможность отметки о согласии с добавленным нарушением любому пользователю
    нарушения автоматически отображаются на всех нижележащих уровнях иерархии сайта и сортируются для отображения по количеству согласившихся участников</p>



<p>14) инструмент “обжалование нарушений”
Функциональность:

    простые диаграммы, позволяющие следить за продвижением процесса обжалования
    создатель обжалованного нарушения сможет автоматически составить жалобу/заявление на нарушение на сайте “Куда?Кому?” и выложить ее на площадку (или выложить свою)
    возможность отметиться для слежения за обжалованием нарушения любому пользователю
    создатели обжалованного нарушения могут делать массовые рассылки всем участникам
    обжалованные нарушения автоматически отображаются на всех нижележащих уровнях иерархии сайта и сортируются для отображения по количеству следящих участников</p>



<p>15) акции
В последние дни перед выборами каждый день будет проводиться по одной акции через рассылку писем об этом всем участникам площадки + выкладывание на специальную вкладку на страницах всех избирательных округов. Список акций:

    “заполняем страницы УИКов недостающими людьми”
    “создаем местные и мобильные группы для мониторинга выборов”
    “встречаемся оффлайн с другими участниками и координируем свои действия”
    “ищем информацию о членах УИК и оказываем на них общественное давление” - благодаря площадке все узнают уровень нарушений на своих УИКах и
        если члены УИК проведут выборы на своем участке “чисто”, то все местное сообщество будет их поддерживать и защищать от возможного административного преследования
        если на участке выявится большое количество нарушений и фальсификаций, то все местное сообщество будет их порицать
    “вступаем в “карусели”, “ручейки” и другие схемы махинаций и саботируем их в день выборов”
    “к закрытию участков выходим на дежурство на входе в УИКи и не уходим, пока наблюдатели не получат на руки протоколы”</p>



<p>16) инструмент “протоколы”
Возможность верифицированным пользователям выложить фото или сканы копий протоколов и внести результаты на страницы УИКов</p>

<p>17) вывешивание официальных результатов ЦИК и сравнение с данными по копиям протоколов</p>

<p>18) инструмент “отчеты о выборах”
Возможность пользователям выкладывать отчеты по выборам на УИКах - текст + ссылки + оценка:

    выборы прошли честно
    были незначительные нарушения
    были существенные нарушения
    творился полный беспредел
</p>


<p>19) акции
Сразу после выборов в разные дни будет проведено несколько акций через рассылку писем об этом всем участникам площадки + выкладывание на специальную вкладку на страницах всех избирательных округов. Список акций:
- “выложим на сайт копии протоколов”
- “дадим оценку работе членов УИК”
- “проследим за ходом обжалований выявленных нарушений”
</p>