<div>
    <h3 class="news_header">Запущен новый сайт Гражданина Наблюдателя</h3>

    <div><small>28.01.2012 19:54</small></div>
    <p class="news_text">
        К президентским выборам 4 марта обновился сайт <a href="http://nabludatel.org/" target="_blank">"Гражданина Наблюдателя"</a>.
        Большую роль в его написании сыграл главный web-разработчик интернет-площадки Сергей.
    </p>
</div>

<hr/>

<div>
    <h3 class="news_header">Новый партнер</h3>

    <div><small>24.01.2012 14:10</small></div>
    <p class="news_text">
        У интернет-площадки появился новый партнер: <a href="http://idemocracy.ru/" target="_blank">"Фонд Развития Электронной Демократии"</a>.
        Он будет консультировать площадку по вопросам верификации пользователей и проведения онлайн голосований.
    </p>
</div>

<hr/>

<div>
    <h3 class="news_header">Опрос</h3>

    <div><small>24.01.2012 6:46</small></div>
    <p class="news_text">
        Мы запустили опрос пользователей интернета, чтобы получше понять целевую аудиторию и определить, какую функциональность
        интернет-площадки добавлять в первую очередь.
        <a href="https://spreadsheets.google.com/spreadsheet/viewform?hl=ru&key=0Arbe32MA393qdEY1dGxQYkJsZ1BLQ0hQQ3Fxck5sTlE">Помогите нам это решить</a>.
    </p>
</div>

<hr/>

<div>
    <h3 class="news_header">Завершена разработка прототипа интернет-площадки</h3>

    <div><small>22.01.2012 16:33</small></div>
    <p class="news_text">
        Завершена работа над созданием прототипа интернет-площадки. Сейчас он проходит закрытое тестирование.
    </p>
</div>

<hr/>

<div>
    <h3 class="news_header">Новый партнер</h3>

    <div><small>20.01.2012 12:27</small></div>
    <p class="news_text">
        У нас появился новый партнер - <a href="http://sidorinlab.ru/">"Sidorin.Lab"</a>.
        Компания специализируется на консалтинге и проектной деятельности в сфере Интернет-маркетинга.
        "Sidorin.Lab" будет помогать нам с тестированием, юзабилити и раскруткой интернет-площадки.
    </p>
</div>

<hr/>

<div>
    <h3 class="news_header">Ищем дополнительных разработчиков</h3>

    <div><small>17.01.2012 12:27</small></div>
    <p class="news_text">
        Мы ищем дополнительных web-разработчиков и других членов команды для разработки
        полной версии интернет-площадки. Смотрите страницу <a href="{% url how_to_help %}">как помочь</a>.
    </p>
</div>

<div>
    <h3 class="news_header">Запущен сайт проекта интернет-площадки</h3>

    <div><small>15.01.2012 12:35</small></div>
    <p class="news_text">
        На нем собрана вся информация о проекте и в будущем будут выкладываться все новости разработки.
    </p>
</div>