<div>
    <h3 class="news_header">Запуск основной функциональности</h3>

    <span class="news_date">20.02.2012 12:00</span>
    <p class="news_text">
        Мы запустили основной функционал площадки: добавили уровень УИКов; ввели свободную запись в наблюдатели, члены избирательной комиссии, юристы, представитлеи СМИ и прокуратуры; добавили возможность открывать страницы организаций.
    </p>
</div>

<hr/>

<div>
    <h3 class="news_header">Новый член команды</h3>

    <span class="news_date">12.02.2012 12:00</span>
    <p class="news_text">
        Мы рады приветствовать нового участника нашей команды Марию Гайдар.
    </p>
</div>

<hr/>

<div>
    <h3 class="news_header">Регистрация через соцсети</h3>

    <span class="news_date">10.02.2012 12:00</span>
    <p class="news_text">
        На площадке появилась возможность регистрации через соцсети.
    </p>
</div>

<hr/>

<div>
    <h3 class="news_header">О команде Гракона</h3>

   <span class="news_date">09.02.2012 12:00</span>
    <p class="news_text">
        Мы написали второй пост в ЖЖ о команде разработчиков: <a href="http://grakonteam.livejournal.com/787.html" target="_blank">"grakonteam.livejournal.com/787.html"</a>.
    </p>
</div>

<hr/>

<div>
    <h3 class="news_header">Зарубежные территории</h3>

   <span class="news_date">08.02.2012 12:00</span>
    <p class="news_text">
        мы добавили субъект РФ "зарубежные территории". Теперь в работе площадки могут участвовать граждане, проживающие за рубежом.
    </p>
</div>

<hr/>

<div>
    <h3 class="news_header">Блог разработчиков</h3>

    <span class="news_date">07.02.2012 12:00</span>
    <p class="news_text">
        Мы начали вести блог разработчиков в ЖЖ. Первый пост - сравнение с другими проектами: <a href="http://grakonteam.livejournal.com/683.html" target="_blank">"grakonteam.livejournal.com/683.html"</a>.
    </p>
</div>

<hr/>

<div>
    <h3 class="news_header">Мы запустились!</h3>

    <span class="news_date">06.02.2012 12:00</span>
    <p class="news_text">
        Мы запустились: <a href="http://grakon.org" target="_blank">"grakon.org"</a>.
    </p>
</div>

<hr/>

<div>
    <h3 class="news_header">Запущен новый сайт Гражданина Наблюдателя</h3>

    <span class="news_date">28.01.2012 19:54</span>
    <p class="news_text">
        К президентским выборам 4 марта обновился сайт <a href="http://nabludatel.org/" target="_blank">"Гражданина Наблюдателя"</a>.
        Большую роль в его написании сыграл главный web-разработчик интернет-площадки Сергей.
    </p>
</div>

<hr/>

<div>
    <h3 class="news_header">Новый партнер</h3>

   <span class="news_date">24.01.2012 14:10</span>
    <p class="news_text">
        У интернет-площадки появился новый партнер: <a href="http://idemocracy.ru/" target="_blank">"Фонд Развития Электронной Демократии"</a>.
        Он будет консультировать площадку по вопросам верификации пользователей и проведения онлайн голосований.
    </p>
</div>

<hr/>

<div>
    <h3 class="news_header">Опрос</h3>

    <span class="news_date">24.01.2012 6:46</span>
    <p class="news_text">
        Мы запустили опрос пользователей интернета, чтобы получше понять целевую аудиторию и определить, какую функциональность
        интернет-площадки добавлять в первую очередь.
        <a href="https://spreadsheets.google.com/spreadsheet/viewform?hl=ru&key=0Arbe32MA393qdEY1dGxQYkJsZ1BLQ0hQQ3Fxck5sTlE">Помогите нам это решить</a>.
    </p>
</div>

<hr/>

<div>
    <h3 class="news_header">Завершена разработка прототипа интернет-площадки</h3>

    <span class="news_date">22.01.2012 16:33</span>
    <p class="news_text">
        Завершена работа над созданием прототипа интернет-площадки. Сейчас он проходит закрытое тестирование.
    </p>
</div>

<hr/>

<div>
    <h3 class="news_header">Новый партнер</h3>

    <span class="news_date">20.01.2012 12:27</span>
    <p class="news_text">
        У нас появился новый партнер - <a href="http://sidorinlab.ru/">"Sidorin.Lab"</a>.
        Компания специализируется на консалтинге и проектной деятельности в сфере Интернет-маркетинга.
        "Sidorin.Lab" будет помогать нам с тестированием, юзабилити и раскруткой интернет-площадки.
    </p>
</div>

<hr/>

<div>
    <h3 class="news_header">Ищем дополнительных разработчиков</h3>

    <span class="news_date">17.01.2012 12:27</span>
    <p class="news_text">
        Мы ищем дополнительных web-разработчиков и других членов команды для разработки
        полной версии интернет-площадки. Смотрите страницу <a href="{% url join_team %}">как помочь</a>.
    </p>
</div>

<hr/>

<div>
    <h3 class="news_header">Запущен сайт проекта интернет-площадки</h3>

    <span class="news_date">15.01.2012 12:35</span>
    <p class="news_text">
        На нем собрана вся информация о проекте и в будущем будут выкладываться все новости разработки.
    </p>
</div>
<br />