<div>
  <h3 class="news_header">Фиксируем нарушения</h3>
  <span class="news_date">5.03.2012 17:00</span>
  <p class="news_text">На Граконе уже зарегистрировано 580 нарушений на выборах. Добавляйте свои!</p>
</div>
<hr/>
<div>
  <h3 class="news_header">200 000 и больше!</h3>
  <span class="news_date">5.03.2012 15:00</span>
  <p class="news_text">Мы справились с увеличением трафика &mdash; 4 марта нас посетило свыше 200 000 человек. Теперь у нас мощные сервера, и сможем выдержать еще больше.</p>
  <script type="text/javascript">
    $(function() {
        $('#traffic').lightBox({
		imageLoading: '/static/libs/lightbox/lightbox-ico-loading.gif',
		imageBtnClose: '/static/libs/lightbox/lightbox-btn-close.gif',
		imageBtnPrev: '/static/libs/lightbox/lightbox-btn-prev.gif',
		imageBtnNext: '/static/libs/lightbox/lightbox-btn-next.gif'			
		});
    });
    </script>
<p align="center"><a href="{{ STATIC_URL }}images/traffic.jpg" id="traffic"><img src="{{ STATIC_URL }}images/traffic_sm.jpg" alt="Статистика посещений сайта grakon.org"/></a></p>
</div>
<hr/>
<div>
  <h3 class="news_header">Отчеты наблюдателей</h3>
  <span class="news_date">5.03.2012 11:00</span>
  <p class="news_text">Мы начинаем публиковать ссылки на лучшие отчёты с выборов. <a href="/wall#comment-456722946">Вброс и нарушения на УИК №219</a>.</p>
</div>
<hr/>
<div>
  <h3 class="news_header">Видеоролик</h3>
  <span class="news_date">2.03.2012 15:00</span>
  <p class="news_text">Как провести честные выборы 4 марта? Распространяйте наш ролик на <a href="http://youtu.be/9YQTq4d3WJ0" target="_blank">youtube.com</a>.</p>
</div>
<hr/>
<div>
  <h3 class="news_header">Пятая акция</h3>
  <span class="news_date">2.03.2012 09:00</span>
  <p class="news_text"> Как по максимуму использовать Гракон на выборах? Читайте <a href="/how_to_use" target="_blank">подробнее</a>.</p>
</div>
<hr/>
<div>
  <h3 class="news_header">Четвертая акция</h3>
  <span class="news_date">1.03.2012 09:00</span>
  <p class="news_text"> Продемонстрируйте свою позицию членам избирательной комиссии и&nbsp;окружающим. Информацию о&nbsp;четвертой акции Гракона читайте <a href="/behaviour">здесь</a>. </p>
</div>
<hr/>
<div>
  <h3 class="news_header">Третья акция</h3>
  <span class="news_date">29.02.2012 15:00</span>
  <p class="news_text"> Организуйтесь в&nbsp;эффективные группы наблюдения. Следуйте советам <a href="/observation">третьей акции</a> Гракона. </p>
</div>
<hr/>
<div>
  <h3 class="news_header">Вторая акция</h3>
  <span class="news_date">28.02.2012 11:00</span>
  <p class="news_text"> Дайте понять членам ваших участковых избирательных комиссий, что общество внимательно следит за&nbsp;их&nbsp;ответственной работой на&nbsp;выборах. Читайте о&nbsp;второй акции Гракона &laquo;<a href="/pressure">Окажем общественное давление на&nbsp;членов избирательных комиссий</a>&raquo;. </p>
</div>
<hr/>
<div>
  <h3 class="news_header">Большое обновление сайта</h3>
  <span class="news_date">27.02.2012 15:00</span>
  <p class="news_text"> Гракон полностью обновил дизайн сайта. Множество новых функций и&nbsp;возможностей. Удобная навигация и&nbsp;дружелюбный интерфейс&nbsp;&mdash; добро пожаловать! </p>
</div>
<hr/>
<div>
  <h3 class="news_header">Первая акция</h3>
  <span class="news_date">27.02.2012 9:00</span>
  <p class="news_text"> Мы&nbsp;запустили акцию &laquo;Собери команду на&nbsp;своем УИКе&raquo;. Подробности о&nbsp;том, как &laquo;укомплектовать&raquo; свой избирательный участок: <a href="http://grakon.org/campaign" target="_blank">http://grakon.org/campaign</a>. </p>
</div>
<hr/>
<div>
  <h3 class="news_header">Статья в&nbsp;Коммерсанте</h3>
  <span class="news_date">24.02.2012 12:00</span>
  <p class="news_text"> О&nbsp;площадке Гракон написал Коммерсант: <a href="http://www.kommersant.ru/doc/1879339" target="_blank">http://www.kommersant.ru/doc/1879339</a>. </p>
</div>
<hr/>
<div>
  <h3 class="news_header">Запуск основной функциональности</h3>
  <span class="news_date">19.02.2012 12:00</span>
  <p class="news_text"> Мы&nbsp;запустили основной функционал площадки: добавили уровень УИКов; ввели свободную запись в&nbsp;наблюдатели, члены избирательной комиссии, юристы, представитлеи СМИ и&nbsp;прокуратуры; добавили возможность открывать страницы организаций. </p>
</div>
<hr/>
<div>
  <h3 class="news_header">Новый член команды</h3>
  <span class="news_date">12.02.2012 12:00</span>
  <p class="news_text"> Мы&nbsp;рады приветствовать нового участника нашей команды Марию Гайдар. </p>
</div>
<hr/>
<div>
  <h3 class="news_header">Регистрация через соцсети</h3>
  <span class="news_date">10.02.2012 12:00</span>
  <p class="news_text"> На&nbsp;площадке появилась возможность регистрации через соцсети. </p>
</div>
<hr/>
<div>
  <h3 class="news_header">О&nbsp;команде Гракона</h3>
  <span class="news_date">09.02.2012 12:00</span>
  <p class="news_text"> Мы&nbsp;написали второй пост в&nbsp;ЖЖ о&nbsp;команде разработчиков: <a href="http://grakonteam.livejournal.com/787.html" target="_blank">grakonteam.livejournal.com/787.html</a>. </p>
</div>
<hr/>
<div>
  <h3 class="news_header">Зарубежные территории</h3>
  <span class="news_date">08.02.2012 12:00</span>
  <p class="news_text"> мы&nbsp;добавили субъект РФ&nbsp;&laquo;зарубежные территории&raquo;. Теперь в&nbsp;работе площадки могут участвовать граждане, проживающие за&nbsp;рубежом. </p>
</div>
<hr/>
<div>
  <h3 class="news_header">Блог разработчиков</h3>
  <span class="news_date">07.02.2012 12:00</span>
  <p class="news_text"> Мы&nbsp;начали вести блог разработчиков в&nbsp;ЖЖ. Первый пост&nbsp;&mdash; сравнение с&nbsp;другими проектами: <a href="http://grakonteam.livejournal.com/683.html" target="_blank">grakonteam.livejournal.com/683.html</a>. </p>
</div>
<hr/>
<div>
  <h3 class="news_header">Мы&nbsp;запустились!</h3>
  <span class="news_date">06.02.2012 12:00</span>
  <p class="news_text"> Мы&nbsp;запустились: <a href="http://grakon.org" target="_blank">grakon.org</a>. </p>
</div>
<hr/>
<div>
  <h3 class="news_header">Запущен новый сайт Гражданина Наблюдателя</h3>
  <span class="news_date">28.01.2012 19:54</span>
  <p class="news_text"> К&nbsp;президентским выборам 4&nbsp;марта обновился сайт <a href="http://nabludatel.org/" target="_blank">&laquo;Гражданина Наблюдателя&raquo;</a>.
    Большую роль в&nbsp;его написании сыграл главный web-разработчик интернет-площадки Сергей. </p>
</div>
<hr/>
<div>
  <h3 class="news_header">Новый партнер</h3>
  <span class="news_date">24.01.2012 14:10</span>
  <p class="news_text"> У&nbsp;интернет-площадки появился новый партнер: <a href="http://idemocracy.ru/" target="_blank">&laquo;Фонд Развития Электронной Демократии&raquo;</a>.
    Он&nbsp;будет консультировать площадку по&nbsp;вопросам верификации пользователей и&nbsp;проведения онлайн голосований. </p>
</div>
<hr/>
<div>
  <h3 class="news_header">Опрос</h3>
  <span class="news_date">24.01.2012 6:46</span>
  <p class="news_text"> Мы&nbsp;запустили опрос пользователей интернета, чтобы получше понять целевую аудиторию и&nbsp;определить, какую функциональность
    интернет-площадки добавлять в&nbsp;первую очередь. <a href="https://spreadsheets.google.com/spreadsheet/viewform?hl=ru&key=0Arbe32MA393qdEY1dGxQYkJsZ1BLQ0hQQ3Fxck5sTlE">Помогите нам это решить</a>. </p>
</div>
<hr/>
<div>
  <h3 class="news_header">Завершена разработка прототипа интернет-площадки</h3>
  <span class="news_date">22.01.2012 16:33</span>
  <p class="news_text"> Завершена работа над созданием прототипа интернет-площадки. Сейчас он&nbsp;проходит закрытое тестирование. </p>
</div>
<hr/>
<div>
  <h3 class="news_header">Новый партнер</h3>
  <span class="news_date">20.01.2012 12:27</span>
  <p class="news_text"> У&nbsp;нас появился новый партнер&nbsp;&mdash; <a href="http://sidorinlab.ru/">&laquo;Sidorin.Lab&raquo;</a>.
    Компания специализируется на&nbsp;консалтинге и&nbsp;проектной деятельности в&nbsp;сфере Интернет-маркетинга.
    &laquo;Sidorin.Lab&raquo; будет помогать нам с&nbsp;тестированием, юзабилити и&nbsp;раскруткой интернет-площадки. </p>
</div>
<hr/>
<div>
  <h3 class="news_header">Ищем дополнительных разработчиков</h3>
  <span class="news_date">17.01.2012 12:27</span>
  <p class="news_text"> Мы&nbsp;ищем дополнительных web-разработчиков и&nbsp;других членов команды для разработки
    полной версии интернет-площадки. Смотрите страницу <a href="{% url join_team %}">как помочь</a>. </p>
</div>
<hr/>
<div>
  <h3 class="news_header">Запущен сайт проекта интернет-площадки</h3>
  <span class="news_date">15.01.2012 12:35</span>
  <p class="news_text">На&nbsp;нем собрана вся информация о&nbsp;проекте и&nbsp;в&nbsp;будущем будут выкладываться все новости разработки.</p>
</div>
<br />
