{% extends "base.html" %}

{% load elements %}

{% block title %}
    Гракон - гражданский контроль за выборами
{% endblock %}

{% block head %}
    <style type="text/css">
        .ym-col3 .ym-cbox p {font-size: 1em;}
    </style>
{% endblock %}

{% block breadcrumbs %}
    {% include "elements/breadcrumbs.html" %}

    {% include "elements/results_table.html" %}
{% endblock %}

{% block left_column %}
    <h3 class="column_header">Участники</h3>

    <div class="ym-clearfix">
        {% include "elements/left_panel.html" %}
    </div>
{% endblock %}

{% block right_column %}
    <h3 class="column_header">Инструменты</h3>

    <div class="ym-clearfix">
        <div class="side_block_header">
            <h4>Полезные ресурсы</h4>
        </div>

        <div class="content_block">
            <ul id="links_ul" class="side_list">
                <li><a href="http://nabludatel.org" target="_blank">Гражданин Наблюдатель</a></li>
                <li><a href="http://ligaizbirateley.ru/" target="_blank">Лига Избирателей</a></li>
                <li><a href="http://www.kartanarusheniy.ru/" target="_blank">Карта Нарушений</a></li>
                <li><a href="http://rosvybory.org/" target="_blank">РосВыборы</a></li>
                <li><a href="http://golos.org" target="_blank">Голос</a></li>
                <li><a href="http://kuda-komu.net/voting/" target="_blank">Куда?Кому?</a></li>
                <li><a href="http://rosmiting.ru/" target="_blank">РосМитинг</a></li>
                <li><a href="https://rosprotest.crowdmap.com/" target="_blank">РосПротест</a></li>
            </ul>
        </div>

        {% include "elements/right_panel.html" %}
    </div>

    {% include "dialogs/submit_complaint.html" %}

{% endblock %}

{% block content %}

<h2>Что такое Гракон?</h2>
<div id="__ss_11568118" style="border: 1px solid #dedede; height: 425px; overflow: hidden;"> <object id="__sse11568118" width="100%" height="426"> <param name="movie" value="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=electionsprojectpresentationshort-120214095332-phpapp02&stripped_title=ss-11568118&userName=mikpanko" /> <param name="allowFullScreen" value="true"/> <param name="allowScriptAccess" value="always"/> <param name="wmode" value="transparent"/> <embed name="__sse11568118" src="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=electionsprojectpresentationshort-120214095332-phpapp02&stripped_title=ss-11568118&userName=mikpanko" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" wmode="transparent" width="100%" height="426"></embed> </object></div>

    <p>Теперь Вы можете:</p>
    
    <div class="step"><i>1</i> <p>найти свой избирательный округ и посмотреть, как проходят выборы в Вашем городе:</p>
        <div id="choose_regions">
            <form action="{% url goto_location %}" method="get" style="display:inline;">
                {% include "elements/region_choice.html" %}
                <style>
                    .map, .map center {display: inline;}
                </style>
                
                    <input id="goto_location" type="submit" value="Перейти"/>&nbsp; &nbsp; <b>или</b>&nbsp; &nbsp;<div class="map-search">{% button "circle-zoomout" "Найти на карте" "map_location" %}</div>
               
            </form><br />
        </div>
    </div>
    
    
    <div class="step"><i>2</i> <p>начать участвовать в работе на своем избирательном участке. Для этого выберите кнопку соответствующую Вашему статусу в левой колонке "Участники"</p></div>
    
    <div class="step"><i>3</i> <div style="margin-bottom: 7px;">следить за новостями проекта</div>
                	<a href="http://www.facebook.com/grakonteam" title="Читайте нас в Facebook" target="_blank"><img src="{{ STATIC_URL }}images/facebook.gif" align="absmiddle" /></a>
                    <a href="http://vk.com/grakonteam" title="Читайте нас во Вконтакте" target="_blank"><img src="{{ STATIC_URL }}images/vkontakte.gif" align="absmiddle" /></a>
                    <a href="https://twitter.com/#!/grakonteam" title="Читайте нас в Твиттере" target="_blank"><img src="{{ STATIC_URL }}images/twitter.gif" align="absmiddle" /></a>         
                    <a href="http://grakonteam.livejournal.com/" title="Читайте нас в ЖЖ" target="_blank"><img src="{{ STATIC_URL }}images/lj.png" align="absmiddle" /></a>           

    </div>
    
    <p>
        <a href="http://grakon.org/register" target="_blank">Присоединяйтесь</a> – помогите удостовериться, что выборы пройдут честно.
    </p>

    <script type="text/javascript">
        // TODO: icon doesn't appear, button element is needed
        $("#goto_location").button({icons: {primary: "ui-icon-arrowreturnthick-1-e"}});
        set_select_location("choose_regions", []);

        //$("#map_location").button({icons: {primary: "ui-icon-search"}});
    </script>

{% endblock %}
