{% extends "base.html" %}

{% load elements %}

{% block title %}
    Гракон - гражданский контроль за выборами
{% endblock %}

{% block head %}
    <style type="text/css">
        .ym-col3 .ym-cbox p {font-size: 1em;}
    </style>
{% endblock %}

{% block breadcrumbs %}
    {% include "elements/breadcrumbs.html" %}

    {% include "elements/results_table.html" %}
{% endblock %}

{% block left_column %}
    <h3 class="column_header">Участники</h3>

    <div class="ym-clearfix">
        {% include "blocks/voters.html" %}

        {% include "elements/left_panel.html" %}
    </div>

    {% include "dialogs/become_voter.html" %}

    {% include "dialogs/become_observer.html" %}

    <!--{% if user.is_authenticated %}
        {% include "dialogs/become_voter.html" %}

        <script type="text/javascript">
            // Become voter
            $("#become_voter").click(function(){
                become_voter_dialog_init([]);
            });
        </script>
    {% else %}
        <script type="text/javascript">
            $("#become_voter").click(function(){
                login_dialog_init("Чтобы записаться в избиратели, пожалуйста, войдите в систему");
            });
        </script>
    {% endif %}-->

{% endblock %}

{% block right_column %}
    <h3 class="column_header">Инструменты</h3>

    <div class="ym-clearfix">
        {% include "blocks/share.html" %}

        <div class="side_block_header">
            <h4>Полезные ресурсы</h4>
        </div>

        <div class="content_block">
            <ul id="links_ul" class="side_list">
                <li><a href="http://nabludatel.org" target="_blank">Гражданин Наблюдатель</a></li>
                <li><a href="http://ligaizbirateley.ru/" target="_blank">Лига Избирателей</a></li>
                <li><a href="http://www.kartanarusheniy.ru/" target="_blank">Карта Нарушений</a></li>
                <li><a href="http://rosvybory.org/" target="_blank">РосВыборы</a></li>
                <li><a href="http://golos.org" target="_blank">Голос</a></li>
                <li><a href="http://rosmiting.ru/" target="_blank">РосМитинг</a></li>
                <li><a href="https://rosprotest.crowdmap.com/" target="_blank">РосПротест</a></li>
            </ul>
        </div>

        {% include "elements/right_panel.html" %}
    </div>

    {% include "dialogs/submit_complaint.html" %}

{% endblock %}

{% block content %}

    <p>Интернет-площадка Гракон объединяет организации и активных граждан для проведения единого общественного мониторинга выборов президента 4 марта.

    <h4>Найдите свой избирательный округ &mdash;<br /> и увидите, как проходят выборы в Вашем городе:</h4>

    <div id="choose_regions" class="fl">
        <form action="{% url goto_location %}" method="get" style="display:inline;">
            {% include "elements/region_choice.html" %}
            <center>
                <input id="goto_location" type="submit" value="Перейти"/>
            </center>
        </form>
    </div>

    <div class="fl map-search">	
        <b>или</b>&nbsp;&nbsp;&nbsp;

        {% button "circle-zoomout" "Найти на карте" "map_location" "map_search" %}
    </div>
    <br clear="all" />


    <p>
        <a href="http://grakon.org/register" target="_blank">Присоединяйтесь</a> – помогите удостовериться, что выборы пройдут честно.
    </p>

    <p>Посмотрите, кто уже участвует в работе площадки (<b>левая панель</b>).</p>

    <p>На сайт постоянно добавляются ссылки на полезные местные ресурсы о выборах (<b>правая панель</b>).</p>

    <p>В течение оставшегося времени до выборов 4 марта на площадку будут добавляться новые типы участников:
    члены УИК, представители СМИ, юристы и другие. Появятся новые эффективные инструменты: выложить и обжаловать нарушения,
    выложить списки членов УИК, выложить копии протоколов и сравнить их с официальными результатами ЦИК и другие.
    Заходите на площадку почаще. Зарегистрируйтесь, чтобы участвовать в работе и чтобы Вас могли найти активные избиратели в Вашем городе. Приглашайте на Гракон друзей.</p>

    <p>Вы можете посмотреть <a href="http://bit.ly/elections_pdf" target="_blank">наглядную презентацию</a> площадки в диаграммах.</p>

    <p>Подробнее о проекте можно прочитать <a href="{% url about %}">здесь</a>.</p>

    <!--div>
        {% if not user.is_authenticated %}
            Чтобы получить полный доступ к системе, необходимо
            <div-->
                <!--<a id="reg_btn" href="{% url register %}">Зарегистрируйтесь</a>
                <span class="text_between_btns">или</span>-->
                <!--center><span id="login_btn2" class="clickable">Войти</span></center>
            </div>
        {% else %}
            <h4>
                Вы вошли в систему как
                <a href="{{ user.get_absolute_url }}">{{ user.first_name }} {{ user.last_name }}</a>
            </h4>
            <br/>
            <button id="profile_btn">
                <a href="{{ user.get_absolute_url }}">Перейти на свою страницу</a>
            </button>
        {% endif %}
    </div-->

    <script type="text/javascript">
        // TODO: icon doesn't appear, button element is needed
        $("#goto_location").button({icons: {primary: "ui-icon-arrowreturnthick-1-e"}});
        set_select_location("choose_regions", []);

        //$("#map_location").button({icons: {primary: "ui-icon-search"}});
    </script>

{% endblock %}
