{% extends "base.html" %}

{% load elements %}

{% block title %}
    Гракон - гражданский контроль за выборами
{% endblock %}

{% block head %}
    <style type="text/css">
        .ym-col3 .ym-cbox p {font-size: 1em;}
    </style>
{% endblock %}

{% block breadcrumbs %}
    {% include "elements/breadcrumbs.html" %}

    {% include "elements/results_table.html" %}
{% endblock %}

{% block left_column %}
    <h3 class="column_header">Участники</h3>

    <div class="ym-clearfix">
        {% include "elements/left_panel.html" %}
    </div>
{% endblock %}

{% block right_column %}
    <h3 class="column_header">Инструменты</h3>

    <div class="ym-clearfix">
        {% include "elements/right_panel.html" %}
    </div>
{% endblock %}

{% block content %}
    <p>Теперь Вы можете:</p>

    <div class="step"><i>1</i> <p>найти свой избирательный округ и посмотреть, как проходят выборы в Вашем городе:</p>
        <div id="choose_regions">
            <form action="{% url goto_location %}" method="get" style="display:inline;">
                {% include "elements/region_choice.html" %}
                <style>
                    .map, .map center {display: inline;}
                </style>

                <div style="display: inline;">
                    {% button "arrowreturnthick-1-e" "Перейти" "goto_location" "" "" %}
                </div>
                &nbsp; &nbsp; <b>или</b>&nbsp; &nbsp;
                <div style="display: inline;">
                    {% button "circle-zoomout" "Найти на карте" "map_location" "" "" %}
                </div>
            </form><br />
        </div>
    </div>

    <div class="step"><i>2</i> <p>начать участвовать в работе на своем избирательном участке. Для этого выберите кнопку соответствующую Вашему статусу в левой колонке "Участники"</p></div>

    <div class="step"><i>3</i> <div style="margin-bottom: 7px;">следить за новостями проекта</div>
                	<a href="http://www.facebook.com/grakonteam" title="Читайте нас в Facebook" target="_blank"><img src="{{ STATIC_URL }}images/facebook.gif" align="absmiddle" /></a>
                    <a href="http://vk.com/grakonteam" title="Читайте нас во Вконтакте" target="_blank"><img src="{{ STATIC_URL }}images/vkontakte.gif" align="absmiddle" /></a>
                    <a href="https://twitter.com/#!/grakonteam" title="Читайте нас в Твиттере" target="_blank"><img src="{{ STATIC_URL }}images/twitter.gif" align="absmiddle" /></a>         
                    <a href="http://grakonteam.livejournal.com/" title="Читайте нас в ЖЖ" target="_blank"><img src="{{ STATIC_URL }}images/lj.png" align="absmiddle" /></a>           

    </div>

    <script type="text/javascript">
        set_select_location("choose_regions", []);
    </script>

    <h2>Что такое Гракон?</h2>
    <script>
        $(document).ready(function(){
            function resizeSlide() {
                jQuery("#__ss_11568118").css('width','100%').find('iframe').css('width','100%');
                var slideHeight = jQuery("#__ss_11568118").width()/1.1917;
                jQuery("#__ss_11568118").css('height',slideHeight).find('iframe').css('height',slideHeight);
                jQuery("#player div").css('background-color', '#fff');              
            }
            resizeSlide();
            $(window).resize(function() {
                resizeSlide();
            });
        });
    </script>

    <p>Нажмите на иконку <img src="{{ STATIC_URL }}images/fullscreen.gif" align="absmiddle" style="padding: 3px; border: 1px solid #ccc; border-radius: 5px;" /> в правом нижнем углу презентации для полноэкранного просмотра</p>
    <div id="__ss_11568118" style="border: 1px solid #ccc; width:100%"><iframe src="http://www.slideshare.net/slideshow/embed_code/11568118" width="100%" height="420" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe></div>

{% endblock %}
