{% extends "base.html" %}

{% block head %}
    <style type="text/css">
        .ym-col1 {width: 0px;}
        .ym-col2 {width: 0px;}
        .ym-col3 {margin-left: 20px; width: 100%;}
    </style>

    <script src="http://api-maps.yandex.ru/1.1/index.xml?key={{ YANDEX_MAPS_KEY }}&modules=pmap" type="text/javascript"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/map.js"></script>

    <script type="text/javascript">
        var electionCommissions = {};
        {% for location in locations %}
            {% if location.x_coord %}
                electionCommissions[{{ location.id }}] = new ElectionCommission({{ location.id }}, {{ location.level }}, "{{ location.name }}",
                "{{ location.name }}", "{{ location.address }}", {{ location.x_coord|floatformat:10 }},
                {{ location.y_coord|floatformat:10 }}, {numVoters: 500, numObservers: 5});
            {% endif %}
        {% endfor %}
    </script>

{% endblock %}

{% block content_header %}
    <h2 class="location_header">Найти свой избирательный округ</h2>
{% endblock %}

{% block content %}
    <center>
        <div id="publicElectionsMap" style="height:500px; width: 100%;max-width:1000px;"></div>
    </center>

    <script type="text/javascript">
        $(document).ready(function(){
            ElectionMap.init('{{ place }}');
        });
    </script>
{% endblock %}
