{% extends "base.html" %}

{% load elements %}

{% block head %}
    <style type="text/css">
        .ym-col1 {width: 0px;}
        .ym-col2 {width: 0px;}
        .ym-col3 {margin-left: 20px; width: 100%;}
    </style>

    <script type="text/javascript" src="{{ STATIC_URL }}js/uiks.js"></script>
{% endblock %}

{% block content_header %}
    <h2 class="location_header">Найти свою участковую избирательную комиссию</h2>
{% endblock %}

{% block content %}
    <div id="addressFields"></div>
    <h3 id="result"></h3>
    <div style="margin:1em;">
        Мы не сохраняем ваш адрес. Этот инструмент основан на инструменте сайта ЦИК
        "<a href="http://cikrf.ru/uiksearch.html" target="_blank">Найди свой участок</a>".
    </div>
{% endblock %}
