{% load elements %}

<div class="side_block_header side_block_authority">
    {% if current_location %}
        <a href="{% url participants current_location.id %}?type=authority">Представители власти ({{ counters.authority }})</a>
    {% else %}
        Представители власти ({{ counters.authority }})
    {% endif %}
</div>

<div class="content_block">
    {% button "circle-plus" "Я &mdash; представитель власти" "become_authority" "" "center" "Для кандидатов, депутатов, членом городских/районных администрации и других представителей власти" %}
</div>

{% if user.is_authenticated %}
    {% include "dialogs/become_authority.html" %}
{% endif %}

{% with btn_id="become_authority" role="authority" status_plural="представители власти" %}
    {% include "elements/dialog_open_button.html" %}
{% endwith %}
