{% load elements %}

<div class="side_block_header side_block_authority">Представители власти ({{ counters.authority }})</div>

<div class="content_block">
    <ul>
        {% for role in participants.authority %}
            <li>
                {% with participant=role.user %}
                    {% include "elements/participant.html" %}
                {% endwith %} <br/>
                <i>{{ role.data }}</i>
            </li>
        {% endfor %}
    </ul>
    {% button "circle-plus" "Я &mdash; представитель власти" "become_authority" "" "center" "Для кандидатов, депутатов, членом городских/районных администрации и других представителей власти" %}
</div>

{% if user.is_authenticated %}
    {% include "dialogs/become_authority.html" %}
{% endif %}

{% with btn_id="become_authority" role="authority" status_plural="представители власти" %}
    {% include "elements/dialog_open_button.html" %}
{% endwith %}
