{% load elements %}

<h3 class="column_header mt15 column_header_icon"><span class="complaints">Нарушения</span></h3>

<div class="content_block ym-clearfix mb15">
    <div class="mt15 mb15" >
    	{% button "" "Сообщить о нарушении" "submit_complaint_btn" %}
    </div>
</div>

{% if user.is_authenticated %}
    {% include "dialogs/submit_complaint.html" %}
{% endif %}

<script type="text/javascript">
    $("#submit_complaint_btn").click(function(){
        {% if user.is_authenticated %}
            submit_complaint_dialog_init()
        {% else %}
            login_dialog_init("Чтобы сообщить о нарушении, пожалуйста, войдите в систему");
        {% endif %}
    });
</script>
