{% load elements %}

<div class="side_block_header side_block_journalist">Представители СМИ ({{ counters.journalist }})</div>

<div class="content_block">
    <ul>
        {% for role in participants.journalist %}
            <li>
                {% with participant=role.user %}
                    {% include "elements/participant.html" %}
                {% endwith %} <br/>
                <i>
                    {% if role.organization %}
                        {{ role.organization }}
                    {% else %}
                        {{ role.data }}
                    {% endif %}
                </i>
            </li>
        {% endfor %}
    </ul>
    {% button "circle-plus" "Я &mdash; представитель СМИ" "become_journalist" %}  
</div>

{% if user.is_authenticated %}
    {% if current_location.is_tik or current_location.is_uik %}
        {% include "dialogs/become_journalist.html" %}
    {% endif %}
{% endif %}

{% with btn_id="become_journalist" role="journalist" status_plural="представители СМИ" %}
    {% include "elements/dialog_open_button.html" %}
{% endwith %}
