{% load elements %}

<div class="side_block_header">
    <h4><a href="" class="journalists"><span>Представители СМИ ({{ counters.journalist }})</span></a></h4>
</div>

{% if user.is_authenticated %}
    {% if current_location.is_tik or current_location.is_uik %}
        {% include "dialogs/become_journalist.html" %}
    {% endif %}
{% endif %}

{% with btn_id="become_journalist" role="journalist" status_plural="представители СМИ" %}
    {% include "elements/dialog_open_button.html" %}
{% endwith %}
