{% load elements %}

<div class="side_block_header side_block_lawyer">Юристы ({{ counters.lawyer }})</div>

<div class="content_block">
    <ul>
        {% for role in participants.lawyer %}
            <li>
                {% with participant=role.user %}
                    {% include "elements/participant.html" %}
                {% endwith %}
                <br/>
                <i>
                    {% if role.organization %}
                        {{ role.organization }}
                    {% else %}
                        {{ role.data }}
                    {% endif %}
                </i>
            </li>
        {% endfor %}
    </ul>
    <span class="pseudolink" id="become_lawyer">Записаться в юристы</span>
</div>

{% if user.is_authenticated %}
    {% include "dialogs/become_lawyer.html" %}
{% endif %}

{% with btn_id="become_lawyer" role="lawyer" status_plural="юристы" %}
    {% include "elements/dialog_open_button.html" %}
{% endwith %}
