{% load elements %}

<div class="side_block_header">
    <h4>Юристы ({{ counters.lawyer }})</h4>
</div>

<div class="content_block">
    <ul class="side_list">
        {% for role in participants.lawyer %}
            <li>
                {% with participant=role.user %}
                    {% include "elements/participant.html" %}
                {% endwith %}
                <br/>
                <i>
                    {% if role.organization %}
                        {{ role.organization }}
                    {% else %}
                        {{ role.data }}
                    {% endif %}
                </i>
            </li>
        {% endfor %}
    </ul>
    {% button "circle-check" "Записаться в юристы" "become_lawyer" %}
</div>

{% if user.is_authenticated %}
    {% include "dialogs/become_lawyer.html" %}
{% endif %}

{% with btn_id="become_lawyer" role="lawyer" status_plural="юристы" %}
    {% include "elements/dialog_open_button.html" %}
{% endwith %}
