{% load elements %}

<div class="side_block_header">
    <h4>Члены избирательной комиссии ({{ counters.member }})</h4>
</div>

<div class="content_block">
    <ul class="side_list">
        {% for role in participants.member %}
            <li>
                {% with participant=role.user %}
                    {% include "elements/participant.html" %}
                {% endwith %} <br/>
                <i>{{ role.data }}</i>
            </li>
        {% endfor %}
    </ul>
    <div class="mb15 mt15">
    	{% button "circle-check" "Записаться<br />в&nbsp;члены комиссии" "become_member" %}
    </div>
   
</div>

{% if user.is_authenticated %}
    {% if current_location.is_tik or current_location.is_uik %}
        {% include "dialogs/become_member.html" %}
    {% endif %}
{% endif %}

{% with btn_id="become_member" role="member" status_plural="члены комиссии" %}
    {% include "elements/dialog_open_button.html" %}
{% endwith %}
