{% load elements %}

<div class="side_block_header">
    <h4>Наблюдатели ({{ counters.observer }})</h4>
</div>

<div class="content_block">
    <ul class="side_list">
        {% for role in participants.observer %}
            <li>
                {% with participant=role.user %}
                    {% include "elements/participant.html" %}
                {% endwith %}
                <br/>
                <i>
                    {% if role.organization %}
                        {{ role.organization }}
                    {% else %}
                        {{ role.data }}
                    {% endif %}
                </i>
            </li>
        {% endfor %}
    </ul>
    {% button "circle-check" "Записаться в наблюдатели" "become_observer" %}
</div>

{% if user.is_authenticated %}
    {% if current_location.is_tik or current_location.is_uik %}
        {% include "dialogs/become_observer.html" %}
    {% endif %}
{% endif %}

{% with btn_id="become_observer" role="observer" status_plural="наблюдатели" %}
    {% include "elements/dialog_open_button.html" %}
{% endwith %}
