{% load elements %}

<div class="side_block_header">
    <h4>Наблюдатели ({{ counters.observer }})</h4>
</div>

<div class="content_block">
    <ul class="side_list">
        {% for role in participants.observer %}
            <li>
                {% with participant=role.user %}
                    {% include "elements/participant.html" %}
                {% endwith %}
                <br/>
                <i>{{ role.organization }}</i>
            </li>
        {% endfor %}
    </ul>
    {% button "circle-check" "Записаться в наблюдатели" "become_observer" %}
</div>

{% with role="observer" dialog_template="dialogs/become_observer.html" status_plural="наблюдатели" %}
    {% include "elements/dialog_open_button.html" %}
{% endwith %}
