{% load elements %}
<h3 class="column_header">Организации</h3>

<div class="content_block ym-clearfix">
    <ul class="side_list">
        {% for organization in organizations %}
            {% if organization.verified %}
                <li>
                    {% include "elements/organization.html" %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <div class="mb15">
    	{% button "" "Добавить организацию" "add_organization" %}
    </div>    
</div>

<script type="text/javascript">
    $("#add_organization").click(function(){
        {% if user.is_authenticated %}
            window.location.href = "{% url create_organization %}";
        {% else %}
            login_dialog_init("Чтобы добавить организацию, пожалуйста, войдите в систему");
        {% endif %}
    });
</script>
