{% load elements %}
<h3 class="column_header column_header_icon"><span class="organizations">
{% if current_location %}
    <a href="{% url organizations current_location.id %}">Организации ({{ counters.organizations }})</a>
{% else %}
    Организации ({{ counters.organizations }})
{% endif %}
</span></h3>

<div class="ym-clearfix">
    
    <div class="mb15">
        {% button "" "Добавить организацию" "add_organization" %}
    </div>
</div>

<script type="text/javascript">
    $("#add_organization").click(function(){
        {% if user.is_authenticated %}
            window.location.href = "{% url create_organization %}";
        {% else %}
            login_dialog_init("Чтобы добавить организацию, пожалуйста, войдите в систему");
        {% endif %}
    });
</script>
