{% load elements %}

<div class="side_block_header">
    <h4>Представители прокуратуры ({{ counters.prosecutor }})</h4>
</div>

<div class="content_block">
    <ul class="side_list">
        {% for role in participants.prosecutor %}
            <li>
                {% with participant=role.user %}
                    {% include "elements/participant.html" %}
                {% endwith %}
            </li>
        {% endfor %}
    </ul>
    <div class="mb15 mt15">
    	{% button "circle-check" "Записаться в&nbsp;представители прокуратуры" "become_prosecutor" %}
    </div>
    
</div>

{% if user.is_authenticated %}
    {% if current_location.is_tik or current_location.is_uik %}
        {% include "dialogs/become_prosecutor.html" %}
    {% endif %}
{% endif %}

{% with btn_id="become_prosecutor" role="prosecutor" status_plural="представители прокуратуры" %}
    {% include "elements/dialog_open_button.html" %}
{% endwith %}
