{% load elements %}

<div class="side_block_header side_block_prosecutor">
    {% if current_location %}
        <a href="{% url participants current_location.id %}?type=prosecutor">Представители прокуратуры ({{ counters.prosecutor }})</a>
    {% else %}
        Представители прокуратуры ({{ counters.prosecutor }})
    {% endif %}
</div>

<div class="content_block">
    {% button "circle-plus" "Я &mdash; представитель прокуратуры" "become_prosecutor" "" "center" "" %} 
</div>

{% if user.is_authenticated %}
    {% if current_location.is_tik or current_location.is_uik %}
        {% include "dialogs/become_prosecutor.html" %}
    {% endif %}
{% endif %}

{% with btn_id="become_prosecutor" role="prosecutor" status_plural="представители прокуратуры" %}
    {% include "elements/dialog_open_button.html" %}
{% endwith %}
