{% load elements %}

<div class="side_block_header">
    <h4><a href="" class="observers"><span>Представители прокуратуры ({{ counters.prosecutor }})</span></a></h4>
</div>

{% if user.is_authenticated %}
    {% if current_location.is_tik or current_location.is_uik %}
        {% include "dialogs/become_prosecutor.html" %}
    {% endif %}
{% endif %}

{% with btn_id="become_prosecutor" role="prosecutor" status_plural="представители прокуратуры" %}
    {% include "elements/dialog_open_button.html" %}
{% endwith %}
