{% load elements %}

<h3 class="column_header mt15 column_header_icon"><span class="complaints">
{% if current_location %}
    <a href="{% url violations current_location.id %}">Нарушения ({{ counters.violations }})</a>
{% else %}
    Нарушения ({{ counters.violations }})
{% endif %}
</span></h3>

<div class="content_block ym-clearfix mb15">
    <div class="mb15 mt15">
        {% if request.user.is_authenticated %}
            {% button "" "Сообщить о нарушении" "report_violation" "report_violation" "center" %}
        {% else %}
            {% button "" "Сообщить о нарушении" "report_violation" "" "center" %}
        {% endif %}
    </div>
</div>

{% if not request.user.is_authenticated %}
    <script type="text/javascript">
        $("#report_violation").click(function(){
            login_dialog_init("Чтобы сообщить о нарушении, пожалуйста, войдите в систему");
        });
    </script>
{% endif %}
