{% load elements %}
<style>
	.ym-col1 .ym-clearfix .ui-button {font-size: 0.9em; width: 180px;}
	.ym-col1 .side_block_header h4 {margin: 10px 10px 5px 15px; font-weight: bold;}
	.ym-col1 .column_header {padding-left: 15px;}

</style>
<div class="side_block_header">
    <h4>Избиратели ({{ counters.voter }})</h4>
</div>

<div class="content_block">
    <ul id="voters_ul" class="side_list">
        {% for role in participants.voter %}
            <li>
                {% with participant=role.user %}
                    {% include "elements/participant.html" %}
                {% endwith %}
            </li>
        {% endfor %}
    </ul>
	<div class="mb15 mt15">
    	{% button "circle-check" "Записаться в избиратели" "become_voter" %}
    </div>
</div>

{% if user.is_authenticated %}
    {% if current_location.is_tik or current_location.is_uik %}
        {% include "dialogs/become_voter.html" %}
    {% endif %}
{% endif %}

{% with btn_id="become_voter" role="voter" status_plural="избиратели" %}
    {% include "elements/dialog_open_button.html" %}
{% endwith %}
