{% load elements %}

<div class="side_block_header">
    <h4>Избиратели ({{ voter_count }})</h4>
</div>

<div class="content_block">
    <ul id="voters_ul" class="side_list">
        {% for participant in participants.voter %}
            <li>
                {% include "elements/participant.html" %}
            </li>
        {% endfor %}
    </ul>

    {% if is_voter_here %}{% endif %}
    {% if not request.user.is_authenticated %}
        {% button "circle-check" "Записаться в избиратели" "become_voter" %}
    {% endif %}
</div>

{% with role="voter" dialog_template="dialogs/become_voter.html" status_plural="избиратели" %}
    {% include "elements/dialog_open_button.html" %}
{% endwith %}

{% if user.is_authenticated %}
    {% include "dialogs/add_to_contacts.html" %}

    <script type="text/javascript">
        // Become voter
        /*$("#become_voter_dialog").on("become_voter_event", function(event, location_id){
            var user_voter_li = $('#voters_ul li a[href="{{ user.get_absolute_url }}"]').parent();
            if (location_id=={{ current_location.id }}){
                $("#become_voter .ui-button-text").text("Сменить избирательный округ");
                if (user_voter_li.length==0)
                    $("#voters_ul").append($("<li/>").append(
                        $("<a/>").attr("href", "{{ user.get_absolute_url }}").text("{{ user.username }}")
                    ));
            } else {
                $("#become_voter .ui-button-text").text("Записаться в избиратели");
                user_voter_li.remove();
            }
        });*/
    </script>
{% endif %}
