{% load elements %}

<div class="side_block_header">
    <h4>Избиратели ({{ voter_count }})</h4>
</div>

<div class="content_block">
    <ul id="voters_ul" class="side_list">
        {% for voter in participants.voter %}
            <li>
                {% with participant=voter %}
                    {% include "elements/participant.html" %}
                {% endwith %}
            </li>
        {% endfor %}
    </ul>

    {% if is_voter_here %}{% endif %}
    {% if not request.user.is_authenticated %}
        {% button "circle-check" "Записаться в избиратели" "become_voter" %}
    {% endif %}
</div>

{% if not current_location or current_location.is_region %}
    <script type="text/javascript">
        $("#become_voter").click(function(){
            change_location_dialog_init("Записаться в избиратели", "Выберите ваш избирательный округ", "become_voter");
        });
    </script>
{% else %}
    {% if user.is_authenticated %}
        {% include "dialogs/become_voter.html" %}
    {% else %}
        <script type="text/javascript">
            $("#become_voter").click(function(){
                {% if view == "location_register" %}
                    alert("Чтобы записаться в избиратели, пожалуйста, зарегистрируйтесь.");
                {% else %}
                    window.location.href = "{% url location_register current_location.id %}";
                {% endif %}
            });
        </script>
    {% endif %}
{% endif %}
