{% load elements %}

<h3 class="column_header column_header_icon"><span class="web_observers">Веб-наблюдатели ({{ counters.web_observer }})</span></h3>

<div class="ym-clearfix">
    <div class="mb15 mt15">
        {% button "circle-plus" "Стать веб-наблюдателем" "become_web_observer" "" "center" "Для тех, кто будет следить за выборами через веб-камеры" %}
    </div>
</div>

{% if user.is_authenticated %}
    {% if current_location.is_uik %}
        {% include "dialogs/become_web_observer.html" %}
    {% endif %}
{% endif %}

<script type="text/javascript">
    $(document).ready(function(){
        $("#become_web_observer, #become_web_observer1").click(function(){
            {% if user.is_authenticated %}
                {% if current_location.is_uik %}
                    become_web_observer_dialog_init();
                {% else %}
                    change_location_uik_dialog_init("Записаться в веб-наблюдатели",
                            "Выберите ваш избирательный округ:", "web_observer");
                {% endif %}
            {% else %}
                login_dialog_init("Чтобы записаться в веб-наблюдатели, пожалуйста, войдите в систему");
            {% endif %}
        }).tipsy();
    });
</script>
