@media screen {

	/* force vertical scrollbar */
	body {
		overflow-y: scroll;
	}

	/* Layout Module Configuration */
	.ym-wrapper {
		max-width: 80em;
		margin: 0 auto;
	}

	.ym-wbox {
		padding: 0 1.5em 0 1.5em;
	}

	/* fallback for media queries */
	header, nav, #main, footer {
		min-width: 760px;
	}

	/* Basic Element Styling */
    /* Header */
    header {
        color: #000;
        background: -webkit-gradient(linear, left top, left bottom, from(#40AAE3), to(#003366));
        background: -moz-linear-gradient(top, #40AAE3, #003366);
        /*-webkit-box-shadow: 0 0 10px #333;
        box-shadow: 0 0 10px #333;*/
    }

    header h1 {
        font-size: 2.5em;
        font-weight: bold;
        text-align: left;
    }

	nav {
        background: -webkit-gradient(linear, left top, left bottom, from(#003366), to(#003457));
        background: -moz-linear-gradient(top, #003366, #003457);
		/*background: #ccc;*/
	}

	#main .info {
		margin-bottom: 1.5em;
	}

	footer {
        color: #666;
        background: #f5f5f5;
        border-top: 5px #efefef solid;
        line-height: 1.5em;
        margin-top: 140px;
	}

	footer p {
		margin: 0;
	}

	header .ym-wbox, footer .ym-wbox {
		padding: 1.5em;
	}

	.ym-gbox { padding: 0 1.5em; }
	.ym-gbox-left { padding: 0 1.5em 0 0; }
	.ym-gbox-right { padding: 0 0 0 1.5em; }

	section.box { padding: 0 1.5em 1.5em 1.5em; }

	#main aside .ym-gbox-right {
		border-left: 1px #ddd solid;
	}

	/* Column-Set Configuration: 1-3 (sidebar left) */
    /* left column */
    .ym-col1 {
        width: 25%;
        padding-top: 15px;
    }
    /* right column */
    .ym-col2 {
        width: 25%;
        padding-top: 15px;
    }
    /* center column */
    .ym-col3 {
        margin-left: 25%;
        margin-right: 25%;
        padding-top: 15px;
    } 

	/* skip links styling */
	.ym-skiplinks a.ym-skip:focus,
	.ym-skiplinks a.ym-skip:active {
		color:#fff;
		background:#333;
		border-bottom:1px #000 solid;
		padding:10px 0;
		text-align: center;
		text-decoration:none;
	}
}

/* reset fallback values in modern browsers */
@media screen and ( min-width: 0px ) {
	header, nav, #main, footer {
		min-width: 0;
	}
}

@media screen and ( max-width: 760px ) {

	.secondary {
		border-top: 1px #888 solid;
		margin-top: 1.5em !important;
	}

	#main aside .ym-gbox-right {
		border: 0 none;
	}

	/* Linearisation for Grid- and Column-Module, based on CSS class .linearize-level-1 */
	.linearize-level-1,
	.linearize-level-1 > [class*="ym-g"],
	.linearize-level-1 > [class*="ym-col"] {
		display: table;
		float: none;
		margin-left: 0;
		margin-right: 0;
		width: 100% !important;
	}

	.linearize-level-1 > [class*="ym-g"] > [class*="ym-gbox"],
	.linearize-level-1 > [class*="ym-col"] > [class*="ym-cbox"] {
		padding: 0;
	}

	.ym-searchform {
		display:block;
		float: none;
		width: auto;
		text-align: right;
	}

	.ym-searchform input[type="search"] {
		width: 14%;
	}
}

@media screen and ( max-width: 480px) {

	header .ym-wbox {
		padding: 0.75em 10px;
	}

	footer .ym-wbox,
	.ym-wbox,
	.ym-searchform,
	nav .ym-hlist ul {
		padding-left: 10px;
		padding-right: 10px;
	}

	header h1 {
		font-size: 1.5em;
		line-height: 1em;
		margin: 0;
	}

	/* Linearisation for Grid- and Column-Module, based on CSS class .linearize-level-2 */
	.linearize-level-2,
	.linearize-level-2 > [class*="ym-g"],
	.linearize-level-2 > [class*="ym-col"] {
		display: table;
		float: none;
		margin-left: 0;
		margin-right: 0;
		width: 100% !important;
	}

	.linearize-level-2 > [class*="ym-g"] > [class*="ym-gbox"],
	.linearize-level-2 > [class*="ym-col"] > [class*="ym-cbox"] {
		padding: 0;
	}

	.ym-searchform,
	nav .ym-hlist ul,
	nav .ym-hlist li {
		display:block;
		float: none;
		width: auto;
		text-align: left;
	}

	.ym-searchform input[type="search"] {
		width: 75%;
	}
}