/* Header */
#title_link {
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 350%;
    line-height: 0.8571em;
    margin: 0.4286em 0 0;
}

#title_link:visited  {
    color: #fff;
}
.title_letter {
    color: #FFADB3;
}

#slogan {
    text-align: left;
    color: #fff;
    margin-left: 6em;
    font-size: 150%;
}

/* additional styles */

.login_logout {
    float: right;
    padding-right: 5px;
    margin-top: 0.5em;
}

.user_actions {
    padding: 0 0 20px;
}

/* Lists in side panels */
.column_header {
    background: none repeat scroll 0 0 #666666;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    font-size: 150%;
    padding: 5px 10px;
    text-align: center;
}

.content_block {
    background: #f5f5f5;
    border: 1px solid #727DC2; /* #eee*/
    border-top: none;
    border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    margin: 0 0 10px;
    padding: 10px;
    -webkit-box-shadow: 0 8px 6px -6px #888;
    -moz-box-shadow: 0 8px 6px -6px #888;
    box-shadow: 0 8px 6px -6px #888;
}
.side_block_header {
    background-color: #C9C9C9;
    border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    text-align: center;
    width: 100%;
}
.side_block_header h4 {
    border: 1px solid #727DC2;
    border-radius: 3px 3px 0 0;
    border-bottom: none;
    margin: 0.3em 0 0 0;
    padding: 5px 0;
}
.side_list {
    padding: 0 10px 0 0;
    margin: 0 0 0 1em;
}
.side_list_btn {
    text-decoration: none;
    cursor: normal;
    float: right;
    margin-right: 10px;
    color: grey;
    opacity: 0.5;
}
.side_list_btn:hover {
    cursor: pointer;
    text-decoration: underline;
    opacity: 1;
}
.side_block_image {
    border: 1px solid #777;
}

.partner_block {
    background: #f5f5f5;
    border: 1px solid #727DC2; /* #eee*/
    border-radius: 3px;
    -moz-border-radius: 3px;
    margin: 0 0 10px;
    padding: 10px;
    -webkit-box-shadow: 0 8px 6px -6px #888;
    -moz-box-shadow: 0 8px 6px -6px #888;
    box-shadow: 0 8px 6px -6px #888;
    text-align: center;
}

select {
    width: 23em;
}

.dialog_user_span {
    font-weight: bold;
}

.clickable {
    color: #1C94C4;
    cursor: pointer;
    text-decoration: underline;
}
.clickable:hover {
    color: #c77405;
}

.text_between_btns {
    padding-right: 1em;
}

.welcome_message {
    padding: 0 0 30px 0;
    font-size: 115%;
}

.login_dialog_table {
    border: none;
}
.login_dialog_table td {
    vertical-align: top;
    border: none;
}

/* Report link dialog */
#report_link_ul {
    list-style-type: none;
}
#report_link_ul input {
    margin-right: 0.5em;
}

.footer_menu a {
    margin-right: 1.5em;
}

.location_header {
    text-align: center;
    margin: 0;
}
