{% extends "base.html" %}

{% load elements %}

{% block title %}
    Поиск участников - Гракон - гражданский контроль за президентскими выборами
{% endblock %}

{% block head %}
    <style type="text/css">
        .ym-col2 {width: 0;}
        .ym-col3 {margin-right: 0; padding-right:0;}
        #choose_regions select {width: 200px;}
        #role_field select {width: 200px;}
		.ym-col1 .ym-clearfix .ui-button {font-size: 0.9em; width: 180px;}
		.ym-col1 .side_block_header h4 {margin: 10px 10px 5px 15px; font-weight: bold;}
		.ym-col1 .column_header {padding-left: 15px;}

</style>
{% endblock %}

{% block left_column %}
    {% include "dialogs/find_uik.html" %}

    <div class="ym-clearfix">
        <form id="search" method="get" action="">
            <div class="side_block_header">
                <h4>Местоположение</h4>
            </div>

            <div class="content_block">
                <div id="choose_regions" class="center">
                    {% include "elements/region_choice.html" %}
                </div>

                <script type="text/javascript">
                    set_select_location("choose_regions", {{ location_path }});
                </script>
            </div>

            <div class="side_block_header">
                <h4>Тип участника</h4>
            </div>

            <div class="content_block">
                <div id="role_field" class="center">
                    {{ role_form.type }}
                </div>
            </div>

			<div class="mb15 mt15">
            	{% button "search" "Искать" "search" %}
            </div>
        </form>
    </div>
{% endblock %}

{% block content_header %}
    <h2 class="location_header">Поиск участников{% if result_count %} ({{ result_count }}){% endif %}</h2>
    {% tabs "tabs" tab "" "" "Таблица" "user_table" "search/table.html" "Список" "user_list" "search/list.html" "Карта" "map" "search/map.html" "Найти свой УИК" "find_uik" "search/find_uik.html" %}
{% endblock %}
