{% extends "base.html" %}

{% load elements %}

{% block title %}
    Поиск - Гракон - гражданский контроль за президентскими выборами
{% endblock %}

{% block head %}
    <style type="text/css">
        .ym-col2 {width: 0;}
        .ym-col3 {margin-right: 0; padding-right:0;}
        #choose_regions select, #role_field select  {width: 200px; font-size: 0.9em}
		.ym-col1 .ym-clearfix .ui-button {width: 180px;}
		.ym-col1 .side_block_header {padding: 0.8em 1em 0.5em; font-size: 1.1em;}
		.ym-col1 .column_header {padding-left: 15px;}
		
    .ym-col1 .content_block {padding: 0 1em;}
    .ym-col1 .content_block .pseudolink {font-style: italic; font-size: 0.9em;}
	#find_uik_dialog {display: none;}
</style>
{% endblock %}

{% block left_column %}
    {% include "dialogs/find_uik.html" %}
    
    <h3 class="column_header column_header_icon"><span class="web_observers">Фильтр по:</span></h3>

    <div class="ym-clearfix">
        <form id="search" method="get" action="">
            <div class="side_block_header">
                Местоположение
            </div>

            <div class="content_block">
                <div id="choose_regions" class="center">
                    {% include "elements/region_choice.html" %}
                </div>

                <script type="text/javascript">
                    set_select_location("choose_regions", {{ location_path }});
                </script>
            </div>

            <!--div class="side_block_header">
                Тип участника
            </div>

            <div class="content_block">
                <div id="role_field" class="center">
                    {{ role_form.type }}
                </div>
            </div-->

			<div class="mb15 mt15">
            	{% button "search" "Искать" "search" %}
            </div>
        </form>
    </div>
{% endblock %}

{% block content_header %}
    <h2 class="location_header">Поиск{% if result_count %} ({{ result_count }}){% endif %}</h2>
    {% tabs "tabs" tab "" "" "Участники" "user_table" "search/table.html" "Результаты выборов" "results_table" "search/results_table.html" "Список" "user_list" "search/list.html" "Карта" "map" "search/map.html" "Найти свой УИК" "find_uik" "search/find_uik.html" %}
{% endblock %}
