{% load elements %}

{% block content_header %}
    <p>Найдите свой избирательный участок по адресу проживания</p>
    <div class="addressFields"></div>
    <h3 class="addressResult"></h3>
    <div style="margin:1em;">
        Мы не сохраняем ваш адрес. Этот инструмент основан на инструменте сайта ЦИК
        "<a href="http://cikrf.ru/uiksearch.html" target="_blank">Найди свой участок</a>".
    </div>
    
    <script type="text/javascript">
        init_find_uik();
    </script>
{% endblock %}
