{% load elements %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta property="fb:admins" content="1844239989" />
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ STATIC_URL }}favicon.ico" type="image/x-icon">

    <title>{% block title %}{{ title }}{% endblock %}</title>

    <meta property="og:image" content="{{ URL_PREFIX }}{{ STATIC_URL }}images/grakon_share_logo.jpg" />
    <meta property="og:description" content="Гракон - мини-соцсеть для координации работы любых организаций и граждан, объединенных одной целью - проведением честных выборов президента 4 марта." />

    {{ grakon_media }}
    {{ uni_form_media }}
    <!--[if lte IE 7]>
    
    <![endif]-->
    <!--[if IE]>
    <link href="{{ STATIC_URL }}libs/yaml/iehacks.css" rel="stylesheet" type="text/css"/>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
    
    </script>
    <![endif]-->
    <script type="text/javascript" src="{{ STATIC_URL }}libs/lightbox/jquery.lightbox-0.5.min.js"></script>
    <link href="{{ STATIC_URL }}libs/lightbox/jquery.lightbox-0.5.css" type="text/css" media="all" rel="stylesheet" />
    <script type="text/javascript">
        var CURRENT_LOCATION = [
            {% if current_location.region %}{{current_location.region.id }},{% endif %}
            {% if current_location.tik %}{{current_location.tik.id }},{% endif %}
            {% if current_location %}{{ current_location.id }}{% endif %}
        ];
        var IS_USER_PROFILE = {% if request.user == profile_user %}true{% else %}false{% endif %};
        var USERNAME = "{{ request.user.username }}";
        var CONTACTS = {{ CONTACTS|safe }};
        var REPORTS = {{ REPORTS|safe }};
        var LOGIN_URL = "{% url login %}";
        var GET_SUB_REGIONS_URL = "{% url get_sub_regions %}";
        var REPORT_REASONS = {{ REPORT_REASONS|safe }};

        VK.init({apiId: {{ VK_APP_ID }}, onlyWidgets: true});

        jQuery(document).ready(function(){
            var h1 = jQuery('.ym-col1').height();
            var h2 = jQuery('.ym-col2').height();
            jQuery('.ym-col3').css('min-height', Math.max(h1,h2));
        });
    </script>
    {% block head %}{% endblock %}

    {% include "services/google-analytics.html" %}
</head>
<body>
    <header>
        <div class="ym-wrapper">
            <div class="ym-wbox">
                <div class="logo">
                    <a href="/"><img src="{{ STATIC_URL }}images/logo_small.png"></a>
                </div>
                {% include "elements/share.html" %}
                <br clear="all" />
            </div>
        </div>
    </header>

    <nav>
        <div class="ym-wrapper">
            <div class="ym-hlist">
                <ul>
                    <li><a {% if not name and not template %}class="on"{% endif %}href="{% url main %}">Главная</a></li>
                    <!--li><a {% if name == "search" %}class="on"{% endif %}href="{% url user_table %}">Поиск</a></li--> 
                    <li><a {% if template == "static_pages/campaign/base.html" %}class="on"{% endif %} href="{% url how_to_use %}">Акции</a></li>
                    <li><a {% if template == "static_pages/partners.html" %}class="on"{% endif %} href="{% url partners %}">Партнеры</a></li>
                    <li><a {% if template == "static_pages/how_to_help/base.html" %}class="on"{% endif %} href="{% url share %}">Как помочь</a></li>
                    <li><a {% if template == "static_pages/faq.html" %}class="on"{% endif %} href="{% url faq %}">FAQ</a></li>
                    <li><a {% if template == "static_pages/about/base.html" %}class="on"{% endif %} href="{% url about %}">О проекте</a></li>
                </ul>

                <!--form class="ym-searchform">
                    <input class="ym-searchfield" type="search" placeholder="Search..." />
                    <input class="ym-searchbutton" type="submit" value="Search" />
                </form-->

                <div class="login_logout">
                    {% if request.user.is_authenticated %}
                        <div class="mt10">
                            {% if request.roles.voter %}
                                <a href="{{ request.roles.voter.location.get_absolute_url }}" style="margin-right: 5px;">Мой участок</a>
                            {% endif %}
                            {% if my_profile.first_name or my_profile.last_name %}
                                <a href="{% url my_profile %}">{{ my_profile.first_name }} {{ my_profile.last_name }}</a> |
                            {% else %}
                                <a href="{% url my_profile %}">Профайл</a> |
                            {% endif %}
                            <a href="{% url logout %}?next={{ request.get_full_path }}">Выйти</a>
                        </div>
                    {% else %}
                        <span id="login_btn" class="clickable">Войти</span>
                    {% endif %}
                </div>
                <div class="cl">&nbsp;</div>
            </div>
        </div>
    </nav>

    <div class="main-buttons">
        {% if not request.user.is_authenticated %}
            <div class="main-buttons-blue">
                <a href="#" id="login_btn1">Записаться</a>
            </div> 
            &nbsp; &nbsp; &nbsp; &nbsp;
        {% endif %}
        <!--div class="main-buttons-map">
            <a href="{% url map %}">Ход выборов на карте</a>
        </div>
        &nbsp; &nbsp; &nbsp; &nbsp;-->
        <div class="main-buttons-blue">
            <a href="#" id="clip_btn">Видео-ролик</a>
        </div>
        &nbsp; &nbsp; &nbsp; &nbsp;
        <div class="main-buttons-blue">
            {% if request.user.is_authenticated %}
                <a href="{% url report_violation %}">Сообщить о нарушении</a>
            {% else %}
                <a href="#" id="report_violation1">Сообщить о нарушении</a>
            {% endif %}
        </div>
    </div>

    {% block breadcrumbs %}{% endblock %}

    {% if request.user.is_authenticated and not request.roles.voter %}
        <div class="center" style="margin:1em;">
            <span style="color: #ee6105; font-weight: bold; padding: 0.3em;">
                Вы еще не записались избирателем на свой участок. Вы можете сделать это
                <a href="{% url main %}" style="color: #ee6105;">здесь</a>.
            </span>
        </div>
    {% endif %}

    <div id="main">
        <div class="ym-wrapper">
            <div class="ym-wbox">
                <div class="ym-column">
                    <div class="ym-col1">
                        <div class="ym-cbox">
                            {% block left_column %}{% endblock %}
                        </div>
                    </div>
                    <div class="ym-col2">
                        <div class="ym-cbox">
                            {% block right_column %}{% endblock %}
                        </div>
                    </div>
                    <div class="ym-col3">
                        {% block content_header %}{% endblock %}
                        <div class="ym-cbox">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="ym-wrapper">
            <div class="ym-wbox">
                <div class="footer_menu">
                    <a href="{% url about %}">О проекте</a>
                    <a href="http://grakonteam.livejournal.com/" target="_blank">Блог</a>
                    <a href="{% url rules %}">Правила</a>
                    <a href="{% url sitemap %}">Карта сайта</a>
                    <a href="{% url feedback %}">Обратная связь</a>
                </div>
                <div>
                    <a href="{% url main %}">Гракон</a> &copy;2012
                    &mdash; Верстка выполнена с помощью <a href="http://www.yaml.de">YAML</a> &nbsp; &nbsp;
                    
                    <a href="http://www.facebook.com/grakonteam" title="Читайте нас в Facebook" target="_blank"><img src="{{ STATIC_URL }}images/facebook.gif" align="texttop"/></a>
                    <a href="http://vk.com/grakonteam" title="Читайте нас во Вконтакте" target="_blank"><img src="{{ STATIC_URL }}images/vkontakte.gif" align="texttop"/></a>
                    <a href="https://twitter.com/#!/grakonteam" title="Читайте нас в Твиттере" target="_blank"><img src="{{ STATIC_URL }}images/twitter.gif" align="texttop"/></a>         
                    <a href="http://grakonteam.livejournal.com/" title="Читайте нас в ЖЖ" target="_blank"><img src="{{ STATIC_URL }}images/lj.png" align="texttop"/></a>  
                </div>
                <br clear="all"/>
            </div>
        </div>
    </footer>

{% if not request.user.is_authenticated %}
    <!-- TODO: move it to the top -->
    {% include "dialogs/login.html" %}
    <script type="text/javascript">
        $("#login_btn, #login_btn1, #report_violation1").click(function(){
            login_dialog_init("Войдите в систему, используя логин/email или свой аккаунт на других сервисах:");
        });
    </script>
{% endif %}

<script type="text/javascript">
  window.___gcfg = {lang: 'ru'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

{% include "dialogs/clip.html" %}

<script type="text/javascript">
    $("#clip_btn").click(clip_dialog_init);
</script>

{% include "services/yandex-metrika.html" %}

{% include "services/reformal.html" %}

</body>
</html>
