<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!--link rel="icon" href="{{ STATIC_URL }}favicon.ico" type="image/x-icon" /-->
    <title>{% block title %}{{ title }}{% endblock %}</title>

    {{ grakon_media }}
    {{ uni_form_media }}
    <!--[if lte IE 7]>
    <link href="{{ STATIC_URL }}libs/yaml/iehacks.css" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
    </script>
    <![endif]-->

    <script type="text/javascript">
        var CURRENT_LOCATION = [
            {% if current_location.region %}{{current_location.region.id }},{% endif %}
            {% if current_location.tik %}{{current_location.tik.id }},{% endif %}
            {% if current_location %}{{ current_location.id }}{% endif %}
        ];
        var IS_USER_PROFILE = {% if user == profile_user %}true{% else %}false{% endif %};
        var USERNAME = "{{ user.username }}";
        var CONTACTS = {{ CONTACTS|safe }};
        var REPORTS = {{ REPORTS|safe }};
        var LOGIN_URL = "{% url login %}";
        var GET_SUB_REGIONS_URL = "{% url get_sub_regions %}";
        var REPORT_REASONS = {{ REPORT_REASONS|safe }};
    </script>
    {% block head %}{% endblock %}

    {% include "services/google-analytics.html" %}
</head>
<body>

    <header>
        <div class="ym-wrapper">
            <div class="ym-wbox">
                <a id="title_link" href="{% url main %}">Гракон<sup>бета</sup></a>
                <span id="slogan">Гражданский контроль за выборами</span>
            </div>
        </div>
    </header>

    <nav>
        <div class="ym-wrapper">
            <div class="ym-hlist">
                <ul>
                    <li><a href="{% url main %}">Главная</a></li>
                    <li><a href="{% url map_search %}">Карта</a></li>
                    <li><a href="{% url about %}">О проекте</a></li>
                    <li><a href="{% url development %}">Разработка</a></li>
                    <li><a href="{% url partners %}">Партнеры</a></li>
                    <li><a href="{% url how_to_help %}">Как помочь</a></li>
                    <li><a href="{% url rules %}">Правила</a></li>
                    <li><a href="{% url contacts %}">Контакты</a></li>
                </ul>

                <!--form class="ym-searchform">
                    <input class="ym-searchfield" type="search" placeholder="Search..." />
                    <input class="ym-searchbutton" type="submit" value="Search" />
                </form-->

                <div class="login_logout">
                    {% if user.is_authenticated %}
                        <a href="{% url my_profile %}">{{ my_profile.first_name }} {{ my_profile.last_name }}</a> |
                        <a href="{% url logout %}?next={{ request.get_full_path }}">Выйти</a>
                    {% else %}
                        <span id="login_btn" class="clickable">Войти</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    {% block breadcrumbs %}{% endblock %}

    <div id="main">

        <div class="ym-wrapper">
            <div class="ym-wbox">

                <div class="ym-column">
                    <div class="ym-col1">
                        <div class="ym-cbox">
                            {% block left_column %}{% endblock %}
                        </div>
                    </div>
                    <div class="ym-col2">
                        <div class="ym-cbox">
                            {% block right_column %}{% endblock %}
                        </div>
                    </div>
                    <div class="ym-col3">
                        {% block content_header %}{% endblock %}
                        <div class="ym-cbox">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="ym-wrapper">
            <div class="ym-wbox">
                <center>
                    <div class="footer_menu">
                        <a href="{% url about %}">О проекте</a>
                        <a href="http://grakonteam.livejournal.com/" target="_blank">Блог</a>
                        <a href="{% url rules %}">Правила</a>
                        <a href="{% url contacts %}">Контакты</a>
                    </div>
                    <div>
                        <a href="{% url main %}">Гракон</a> &copy;2012.
                        &ndash; Верстка выполнена с помощью <a href="http://www.yaml.de">YAML</a>
                    </div>
                </center>
            </div>
        </div>
    </footer>

{% if not user.is_authenticated %}
    <!-- TODO: move it to the top -->
    {% include "dialogs/login.html" %}
    <script type="text/javascript">
        $("#login_btn").click(function(){
            login_dialog_init("Войдите в систему используя логин/пароль или свой аккаунт на других сервисах");
        });
    </script>
{% endif %}

{% include "services/reformal.html" %}

{% include "services/yandex-metrika.html" %}

</body>
</html>
