{% extends "base.html" %}

{% load elements %}

{% block left_column %}
    <h3 class="column_header">Участники</h3>

    <div class="ym-clearfix">
        <div class="side_block_header">
            <h4>Избиратели</h4>
        </div>

        <div class="content_block">
            <ul class="side_list">
                <li>Записались {{ voter_count }} избирател{{ ending }}</li>
            </ul>

            {% if request.user.is_authenticated %}
                {% button "check" "Сменить избирательный округ" "become_voter" %}
            {% else %}
                {% button "check" "Записаться в избиратели" "become_voter" %}
            {% endif %}
        </div>

        <div class="side_block_header">
            <h4>Наблюдатели</h4>
        </div>

        <div class="content_block">
            {% button "check" "Записаться в наблюдатели" "become_observer" %}
        </div>

        <div class="disabled-block">
            <i>&nbsp;</i>

            <div class="side_block_header">
                <h4>Предствители СМИ (в разработке)</h4>
            </div>

            <div class="content_block">
                {% button "check" "Записаться в представители СМИ" "become_journalist" %}
            </div>
        </div>

        <div class="disabled-block">
            <i>&nbsp;</i>

            <div class="side_block_header">
                <h4>Юристы (в разработке)</h4>
            </div>

            <div class="content_block">
                {% button "check" "Записаться в юристы" "become_lawyer" %}
            </div>
        </div>
    </div>

    {% include "dialogs/become_observer.html" %}

    {% if user.is_authenticated %}
        {% include "dialogs/become_voter.html" %}

        <script type="text/javascript">
            // Become voter
            $("#become_voter").click(function(){
                become_voter_dialog_init([]);
            });
        </script>
    {% else %}
        <script type="text/javascript">
            $("#become_voter").click(function(){
                login_dialog_init("Чтобы записаться в избиратели, пожалуйста, войдите в систему");
            });
        </script>
    {% endif %}

{% endblock %}

{% block right_column %}
    <h3 class="column_header">Инструменты</h3>

    <div class="ym-clearfix">
        <div class="side_block_header">
            <h4>Полезные ресурсы</h4>
        </div>

        <div class="content_block">
            <ul id="links_ul" class="side_list">
                <li><a href="http://nabludatel.org" target="_blank">Гражданин Наблюдатель</a></li>
                <li><a href="http://ligaizbirateley.ru/" target="_blank">Лига Избирателей</a></li>
                <li><a href="http://www.kartanarusheniy.ru/" target="_blank">Карта Нарушений</a></li>
                <li><a href="http://rosvybory.org/" target="_blank">РосВыборы</a></li>
                <li><a href="http://golos.org" target="_blank">Голос</a></li>
                <li><a href="http://rosmiting.ru/" target="_blank">РосМитинг</a></li>
                <li><a href="https://rosprotest.crowdmap.com/" target="_blank">РосПротест</a></li>
            </ul>
        </div>

        <div class="side_block_header">
            <h4>Сообщить о нарушении</h4>
        </div>

        <div class="content_block">
            <center>
                {% button "pencil" "Сообщить о нарушении" "submit_complaint_btn" %}
            </center>
        </div>

        <div class="disabled-block">
            <i>&nbsp;</i>

            <div class="side_block_header">
                <h4>Выложить протоколы (в разработке)</h4>
            </div>

            <div class="content_block">
                {% button "check" "Выложить протокол" "publish_protocol" %}
            </div>
        </div>

        <div class="disabled-block">
            <i>&nbsp;</i>

            <div class="side_block_header">
                <h4>События (в разработке)</h4>
            </div>

            <div class="content_block">
                {% button "check" "Добавить событие" "add_event" %}
            </div>
        </div>
    </div>

    <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
    <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="none"
            data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,lj,moikrug"></div>

    {% include "dialogs/submit_complaint.html" %}

{% endblock %}

{% block content %}

    <p>Интернет-площадка Гракон объединяет организации и активных граждан для проведения единого общественного мониторинга выборов президента 4 марта.

    <p>Найдите свой избирательный округ – и увидите, как проходят выборы в Вашем городе: [серия выпадающих меню].</p>

    <p>Присоединяйтесь – помогите удостовериться, что выборы пройдут честно: [кнопка “войти”]</p>

    <p>Посмотрите, кто уже участвует в работе площадки. [стрелка влево]</p>

    <p>На сайт постоянно добавляются ссылки на полезные местные ресурсы о выборах. [стрелка вправо]</p>

    <p>В течение оставшегося времени до выборов 4 марта на площадку будут добавляться новые типы участников:
    члены УИК, представители СМИ и полиции. Появятся новые эффективные инструменты: обжаловать нарушения,
    выложить списки членов УИК, выложить копии протоколов и сравнить с официальными результатами ЦИК и другие.
    Заходите на площадку почаще и зарегистрируйтесь, чтобы получать новости проекта: [кнопка “Войти”]</p>

    <p>Наглядная презентация площадки с помощью диаграмм: [ссылка на pdf презентации]</p>

    <p>Подробнее о проекте: [ссылка на страницу “о проекте”]</p>


    <div>
        <center><h4>Найдите свой избирательный округ</h4></center>
        <table style="width: 100%;">
            <tr>
                <td style="width:50%;">
                    <div id="choose_regions">
                        <form action="{% url goto_location %}" method="get" style="display:inline;">
                            {% include "elements/region_choice.html" %}
                            <center>
                                <input id="goto_location" type="submit" value="Перейти"/>
                            </center>
                        </form>
                    </div>
                </td>
                <td style="width:10%;vertical-align:middle;">
                    <b>или</b>
                </td>
                <td style="vertical-align:middle;">
                    {% button "search" "Найти на карте" "map_location" "map_search" %}
                </td>
            </tr>
        </table>
    </div>

    <!--div>
        {% if not user.is_authenticated %}
            Чтобы получить полный доступ к системе, необходимо
            <div-->
                <!--<a id="reg_btn" href="{% url register %}">Зарегистрируйтесь</a>
                <span class="text_between_btns">или</span>-->
                <!--center><span id="login_btn2" class="clickable">Войти</span></center>
            </div>
        {% else %}
            <h4>
                Вы вошли в систему как
                <a href="{{ user.get_absolute_url }}">{{ user.first_name }} {{ user.last_name }}</a>
            </h4>
            <br/>
            <button id="profile_btn">
                <a href="{{ user.get_absolute_url }}">Перейти на свою страницу</a>
            </button>
        {% endif %}
    </div-->

    <script type="text/javascript">
        // TODO: icon doesn't appear, button element is needed
        $("#goto_location").button({icons: {primary: "ui-icon-arrowreturnthick-1-e"}});
        set_select_location("choose_regions", []);

        //$("#map_location").button({icons: {primary: "ui-icon-search"}});

        $("#login_btn2").click(function(){
            login_dialog_init();
        });
    </script>

{% endblock %}
