{% extends "base.html" %}

{% block head %}
    <style type="text/css">
        .ym-col1 {width: 0px;}
        .ym-col2 {width: 0px;}
        .ym-col3 {margin-left: 20px; width: 100%;}
    </style>

    <script src="http://api-maps.yandex.ru/1.1/index.xml?key={{ YANDEX_MAPS_KEY }}&modules=pmap" type="text/javascript"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/map.js"></script>

    <script type="text/javascript">
        var electionCommissions = new Array(
            {% for location in locations %}
                {% if location.x_coord %}
                    new ElectionCommission({{ location.id }}, 1, "{{ location.name }}", "{{ location.name }}", "{{ location.address }}",
                    {{ location.x_coord|floatformat:10 }}, {{ location.y_coord|floatformat:10 }}, {numVoters: 500, numObservers: 5} )
                    {% if not forloop.last %},{% endif %}
                {% endif %}
            {% endfor %}
            //new ElectionCommission(1, 1, "Адыгея", "ЦИК Республики Адыгея", "Майкоп, ул. Пионерская 199", 55.923047, 54.892929, {numVoters: 500, numObservers: 5} )
        );
    </script>

{% endblock %}

{% block content %}
    <h2>Найти свой избирательный округ</h2>
    <div id="publicElectionsMap" style="height:600px; width: 800px"></div>
    <div id="message" style="font-size: 10pt; margin-top: 25px;"></div>

    <script type="text/javascript">
        $(document).ready(function(){
            ElectionMap.init();
        });
    </script>
{% endblock %}