{% extends "base.html" %}

{% block head %}
    <style type="text/css">
        .ym-col1 {width: 0px;}
        .ym-col2 {width: 0px;}
        .ym-col3 {margin-left: 20px; width: 100%;}
    </style>

    <script src="http://api-maps.yandex.ru/1.1/index.xml?key={{ YANDEX_MAPS_KEY }}&modules=pmap" type="text/javascript"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/map.js"></script>

    <script type="text/javascript">
        var electionCommissions = new Array(
            new ElectionCommission(1, 1, "Адыгея", "ЦИК Республики Адыгея", "Майкоп, ул. Пионерская 199", 55.923047, 54.892929, {numVoters: 500, numObservers: 5} )
            //new ElectionCommission(2, 2, "Алтай", "ЦИК Республики Алтай", "Горно-Алтайск, ул. Эркемена Палкина, 1", "http://www.altai_rep.izbirkom.ru/", 1000, 10, 20, 47.233018, 47.416304),
            //new ElectionCommission(3, 2, "Башкирия", "ЦИК Республики Башкортостан", "Уфа, ул. Заки Валиди, 46", null, 1500, 15, 30, 47.233018, 47.416304),
            //new ElectionCommission(4, 3, "Бурятия", "ЦИК Республики Бурятия", "Улан-Удэ, ул. Ленина, 54", "http://www.buriat.izbirkom.ru/", 1000, 10, 20, 47.98226, 46.335971)
        );
    </script>

{% endblock %}

{% block content %}
    <h2>Найти свой избирательный округ</h2>
    <div id="publicElectionsMap" style="height:600px; width: 800px"></div>
    <div id="message" style="font-size: 10pt; margin-top: 25px;"></div>

    <script type="text/javascript">
        $(document).ready(function(){
            ElectionMap.init();
        });
    </script>
{% endblock %}