{% extends "base.html" %}

{% load elements %}

{% block title %}
    Как помочь - Гракон - гражданский контроль за президентскими выборами
{% endblock %}

{% block head %}
    <!-- This style is used in a number of pages already - avoid it -->
    <style type="text/css">
        .ym-col3 {padding-right: 0;}
        /*.ym-col3 .ym-cbox:last-child {display: none;}
        .ym-col2 {width: 0px;}
        .ym-col3 .ui-tabs .ui-tabs-nav li a {height: 45px;}
        .ym-col3 .ui-tabs .ui-tabs-nav li.ui-tabs-selected {height: 53px;}
        .ym-col3 .ui-tabs .ui-tabs-nav li {line-height: 1.2em;}
        .ym-col3 {width: 100%; padding: 15px 0;}
        h2.location_header {margin-left: 15px;}*/
    </style>
{% endblock %}

{% block left_column %}
    <h3 class="column_header mt15 column_header_icon"><span class="">Инструкции</span></h3>
    <div class="content_block ym-clearfix mb15">
        <ul>
            <li><a href="{% url support_group_help %}">Группы поддержки наблюдателей</a></li>
            <li><a href="{% url web_observers_help %}">Веб наблюдатели</a></li>
        </ul>
    </div>

    <h3 class="column_header mt15 column_header_icon"><span class="">Акции</span></h3>
    <div class="content_block ym-clearfix mb15">
        <ul>
            <li><a href="{% url campaign %}">Собери команду</a></li>
            <li><a href="{% url pressure %}">Взаимодействие с членами УИК</a></li>
            <li><a href="{% url observation %}">Наблюдение</a></li>
            <li><a href="{% url behaviour %}">Поведение избирателя</a></li>
            <li><a href="{% url how_to_use %}">Как поможет Гракон</a></li>
        </ul>
    </div>
{% endblock %}

{% block content_header %}
    <h2 class="location_header">Акции</h2>
{% endblock %}
