<style type="text/css">
    /* for static pages */
    .ym-col1 {left: -238px; top: -45px}
    .ym-col2 {width: 0px;}
    .ym-col3 {padding-right: 0; padding-left: 228px; height: 730px;}
</style>

<div class="ym-col1">
    <h3 class="column_header column_header_icon"><span class="contacts">Контакты</span></h3>
    <div class="ym-clearfix">
        <div class="content_block">
            <p style="margin: 0; padding: 10px;">Обращайтесь сюда, если на&nbsp;УИКе не&nbsp;хватает наблюдателей:</p>
            <ul class="side_list">
                    <li>Ассоциация &laquo;Голос&raquo;:<br />
                    <i> +7 (495) 989-63-06, <a href="mailto:golos@golos.org" target="_blank">golos@golos.org</a>,<br /> <a href="http://golos.org/" target="_blank" rel="nofollow">http://golos.org/</a></i></li>
                <li>&laquo;Гражданин Наблюдатель&raquo;:<br />
                    <i>
                    <a href="http://nabludatel.org/" target="_blank" rel="nofollow">http://nabludatel.org</a><br />
                    <strong>Москва</strong>: +7 (915) 383-21-90,<br />
                    <a href="mailto:nabludatel-org@googlegroups.com" target="_blank"><small>nabludatel-org@googlegroups.com</small></a><br />
                    
                    <strong>Регионы</strong>: +7 (985) 764-17-05 <a href="mailto:citizen-observer-regions@googlegroups.com" target="_blank"><small>citizen-observer-regions@googlegroups.com</small></a>
                    </i>
                    </li>
                <li>&laquo;Лига Избирателей&raquo;: <br />	
                    <i><a href="mailto:info@ligaizbirateley.ru" target="_blank">info@ligaizbirateley.ru</a>,<br /> <a href="http://ligaizbirateley.ru/" target="_blank" rel="nofollow">http://ligaizbirateley.ru/</a>
                    </i>
                </li>
                <li>&laquo;РосВыборы&raquo;: <br />
                    <i><a href="mailto:rosvybory@gmail.com" target="_blank">rosvybory@gmail.com</a>,<br /> <a href="http://rosvybory.org/" target="_blank" rel="nofollow">http://rosvybory.org</a>
                    </i></li>
                <li>&laquo;Яблоко&raquo;: <br />
                    <i><a href="mailto:info@yabloko.ru" target="_blank">info@yabloko.ru</a>,<br /> <a href="http://www.yabloko.ru/" target="_blank" rel="nofollow">http://www.yabloko.ru</a>
                    </i></li>
                <li>Штаб Прохорова: 
                <i><nobr class="phone">8 (800) 510-00-05,</nobr> <a href="http://mdp2012.ru/" target="_blank" rel="nofollow">http://mdp2012.ru/</a></i></li>
            </ul>
        </div>
    </div>
</div>

<div class="static-content">
    <p>Даже если вы&nbsp;обычный избиратель, то&nbsp;на&nbsp;участке вы&nbsp;все равно можете продемонстрировать свою
позицию членам избирательной комиссии и&nbsp;окружающим.</p>
<p>Мы&nbsp;предлагаем следующий план действий (можно выполнить все пункты, а&nbsp;можно&nbsp;&mdash; один или
несколько, на&nbsp;ваш выбор):</p>
<p>&mdash;&nbsp;когда вы&nbsp;пойдете исполнять свой гражданский долг, наденьте что-нибудь, что символизирует
для вас честные выборы (белая ленточка, георгиевская ленточка, наклейка &laquo;За&nbsp;честные выборы&raquo; и
т.д.). Важно, чтобы окружающие тоже поняли предназначение акксессуара;</p>
<p>&mdash;&nbsp;после того, как вы&nbsp;выполните свой гражданский долг и&nbsp;опустите бюллетень в&nbsp;урну для
голосования, обратитесь к&nbsp;членам избирательной комиссии с&nbsp;призывом провести эти выборы
честно. Таким образом, вы&nbsp;дадите им&nbsp;понять, что они несут ответственность за&nbsp;итоги подсчета
голосов, и&nbsp;окажете на&nbsp;комиссию гражданское давление;</p>
<p>&mdash;&nbsp;в&nbsp;8&nbsp;часов вечера придите с&nbsp;друзьями к&nbsp;УИК и&nbsp;проследите, чтобы наблюдатели получили заверенные копии протоколов. Известно, что после закрытия участков наблюдатели остаются один на&nbsp;один с&nbsp;возможными нарушителями. Если вы&nbsp;будете снаружи, то&nbsp;фальсификаторам будет сложнее давить на&nbsp;наблюдателей или убежать с&nbsp;мешком документов, печатями и&nbsp;т.д.</p>
<p>Для третьего пункта на&nbsp;Граконе появился новый инструмент&nbsp;&mdash; &laquo;Группа поддержки&raquo;, с&nbsp;помощью которого вы&nbsp;можете организоваться и&nbsp;стройными рядами пройти к&nbsp;своему участку. Вместе&nbsp;&mdash; веселей. Присоединяйтесь!</p>

<p><b><big>Присоединяйтесь!</big></b></p>

</div>
