{% extends "static_pages/campaign/base.html" %}

{% block content_header %}
    <h2 class="location_header">Поведение избирателя</h2>

    <!--div class="ym-col1">
        <h3 class="column_header column_header_icon"><span class="contacts">Контакты</span></h3>
        <div class="ym-clearfix">
            <div class="content_block">
                <p style="margin: 0; padding: 10px;">Обращайтесь сюда, если на&nbsp;УИКе не&nbsp;хватает наблюдателей:</p>
                <ul class="side_list">
                        <li>Ассоциация &laquo;Голос&raquo;:<br />
                        <i> +7 (495) 989-63-06, <a href="mailto:golos@golos.org" target="_blank">golos@golos.org</a>,<br /> <a href="http://golos.org/" target="_blank" rel="nofollow">http://golos.org/</a></i></li>
                    <li>&laquo;Гражданин Наблюдатель&raquo;:<br />
                        <i>
                        <a href="http://nabludatel.org/" target="_blank" rel="nofollow">http://nabludatel.org</a><br />
                        <strong>Москва</strong>: +7 (915) 383-21-90,<br />
                        <a href="mailto:nabludatel-org@googlegroups.com" target="_blank"><small>nabludatel-org@googlegroups.com</small></a><br />

                        <strong>Регионы</strong>: +7 (985) 764-17-05 <a href="mailto:citizen-observer-regions@googlegroups.com" target="_blank"><small>citizen-observer-regions@googlegroups.com</small></a>
                        </i>
                        </li>
                    <li>&laquo;Лига Избирателей&raquo;: <br />	
                        <i><a href="mailto:info@ligaizbirateley.ru" target="_blank">info@ligaizbirateley.ru</a>,<br /> <a href="http://ligaizbirateley.ru/" target="_blank" rel="nofollow">http://ligaizbirateley.ru/</a>
                        </i>
                    </li>
                    <li>&laquo;РосВыборы&raquo;: <br />
                        <i><a href="mailto:rosvybory@gmail.com" target="_blank">rosvybory@gmail.com</a>,<br /> <a href="http://rosvybory.org/" target="_blank" rel="nofollow">http://rosvybory.org</a>
                        </i></li>
                    <li>&laquo;Яблоко&raquo;: <br />
                        <i><a href="mailto:info@yabloko.ru" target="_blank">info@yabloko.ru</a>,<br /> <a href="http://www.yabloko.ru/" target="_blank" rel="nofollow">http://www.yabloko.ru</a>
                        </i></li>
                    <li>Штаб Прохорова: 
                    <i><nobr class="phone">8 (800) 510-00-05,</nobr> <a href="http://mdp2012.ru/" target="_blank" rel="nofollow">http://mdp2012.ru/</a></i></li>
                </ul>
            </div>
        </div>
    </div-->

    <div class="static-content">
        <p>Даже если вы <b>обычный избиратель</b>, то на участке вы все равно можете продемонстрировать свою позицию членам избирательной комиссии и окружающим. Мы предлагаем следующий план действий (можно выполнить все пункты, а можно – один или несколько, на ваш выбор):</p>
        <ul>
            <li>когда вы пойдете исполнять свой гражданский долг, наденьте что-нибудь, что <b>символизирует для вас честные выборы</b> (белая ленточка, георгиевская ленточка, наклейка «За честные выборы» и т.д.). Важно, чтобы окружающие тоже поняли предназначение акксессуара;</li>

            <li>после того, как вы выполните свой гражданский долг и опустите бюллетень в урну для голосования, <b>обратитесь к членам избирательной комиссии</b> с призывом провести эти выборы честно. Таким образом, вы дадите им понять, что они несут ответственность за итоги подсчета голосов, и окажете на комиссию гражданское давление;</li>

            <li><b>в 8 часов вечера</b> придите с друзьями к УИК и проследите, чтобы наблюдатели получили заверенные копии протоколов. Известно, что после закрытия участков наблюдатели остаются один на один с возможными нарушителями. Если вы будете снаружи, то фальсификаторам будет сложнее давить на наблюдателей или убежать с мешком документов, печатями и т.д.</li>
        </ul>

        <p>Для третьего пункта на Граконе появился новый инструмент – <b>"Группа поддержки"</b>, с помощью которого вы можете организоваться и стройными рядами пройти к своему участку. Вместе – веселей. Присоединяйтесь!</p>

        <p>За последние два дня на сайте зарегистрировалось около <b>3000 человек</b>, 600 человек записались в веб-наблюдатели и были опубликованы списки 1200 членов избирательных комиссий.</p>

        <p>Наша сегодняшняя акция сконцентрирована на поведении избирателей на участках в день голосования. Специально к ней мы запустили инструмент: "Группа поддержки".</p>

        <p><b><big>Присоединяйтесь!</big></b></p>
    </div>
{% endblock %}