{% extends "static_pages/campaign/base.html" %}

{% block content_header %}
    <h2 class="location_header">Поведение избирателя</h2>
{% endblock %}

{% block content %}
    <div class="static-content">
        <p>Даже если вы&nbsp;<b>обычный избиратель</b>, то&nbsp;на&nbsp;участке вы&nbsp;все равно можете продемонстрировать свою позицию членам избирательной комиссии и&nbsp;окружающим. Мы&nbsp;предлагаем следующий план действий (можно выполнить все пункты, а&nbsp;можно&nbsp;&mdash; один или несколько, на&nbsp;ваш выбор):</p>
        <ul>
            <li>когда вы&nbsp;пойдете исполнять свой гражданский долг, наденьте что-нибудь, что <b>символизирует для вас честные выборы</b> (белая ленточка, георгиевская ленточка, наклейка &laquo;За&nbsp;честные выборы&raquo; и&nbsp;т.д.). Важно, чтобы окружающие тоже поняли предназначение акксессуара;</li>
            
            <li>после того, как вы&nbsp;выполните свой гражданский долг и&nbsp;опустите бюллетень в&nbsp;урну для голосования, <b>обратитесь к&nbsp;членам избирательной комиссии</b> с&nbsp;призывом провести эти выборы честно. Таким образом, вы&nbsp;дадите им&nbsp;понять, что они несут ответственность за&nbsp;итоги подсчета голосов, и&nbsp;окажете на&nbsp;комиссию гражданское давление;</li>
            
            <li><b>в&nbsp;8&nbsp;часов вечера</b> придите с&nbsp;друзьями к&nbsp;УИК и&nbsp;проследите, чтобы наблюдатели получили заверенные копии протоколов. Известно, что после закрытия участков наблюдатели остаются один на&nbsp;один с&nbsp;возможными нарушителями. Если вы&nbsp;будете снаружи, то&nbsp;фальсификаторам будет сложнее давить на&nbsp;наблюдателей или убежать с&nbsp;мешком документов, печатями и&nbsp;т.д.</li>
        </ul>
        
        <p>Для третьего пункта на&nbsp;Граконе появился новый инструмент&nbsp;&mdash; <b>&laquo;Группа поддержки&raquo;</b>, с&nbsp;помощью которого вы&nbsp;можете организоваться и&nbsp;стройными рядами пройти к&nbsp;своему участку. Вместе&nbsp;&mdash; веселей. Присоединяйтесь!</p>
        
        <p>За&nbsp;последние два дня на&nbsp;сайте зарегистрировалось около <b>3000&nbsp;человек</b>, 600 человек записались в&nbsp;веб-наблюдатели и&nbsp;были опубликованы списки 1200 членов избирательных комиссий.</p>
        
        <p>Наша сегодняшняя акция сконцентрирована на&nbsp;поведении избирателей на&nbsp;участках в&nbsp;день голосования. Специально к&nbsp;ней мы&nbsp;запустили инструмент: &laquo;Группа поддержки&raquo;.</p>
        
        <p><b><big>Присоединяйтесь!</big></b></p>
    </div>
{% endblock %}