{% extends "static_pages/campaign/base.html" %}

{% block content_header %}
    <h2 class="location_header">Как поможет Гракон</h2>

    <div class="static-content">

        <p>Дорогие друзья, посетители и участники проекта Гракон!</p>

        <p>«День Х» - 4 марта – неумолимо приближается, и мы хотим еще раз напомнить вам о тех инструментах Гракона, с помощью которых вы можете организовываться и контролировать ход выборов.</p>

        <ul>
            <li><b>Запишитесь на свой избирательный участок</b><br/>
                <ul>
                    {% if request.user.is_authenticated %}
                        <li>На <a href="{% url main %}">главной странице</a>, «запишитесь» в избиратели на своем участке – это позволит вам в полной мере взаимодействовать в другими пользователями и активными гражданами, объединяться и помогать друг другу. Вы можете записаться сразу в несколько списков – избирателем, наблюдателем, юристом и т.д.</li>
                    {% else %}
                        <li>Зарегистрируйтесь на Граконе и «запишитесь» в избиратели на своем участке – это позволит вам в полной мере взаимодействовать в другими пользователями и активными гражданами, объединяться и помогать друг другу. Вы можете записаться сразу в несколько списков – избирателем, наблюдателем, юристом и т.д.</li>
                    {% endif %}
                    <li>По многочисленным просьбам, мы добавили возможность пользователям полностью удалять свои роли и привязки к избирательным участкам.</li>
                </ul>
            </li>

            <li><b>Пригласите на Гракон одного друга</b><br/>
                <ul>
                    <li>Противостоять возможным фальсификациям можно только сообща. Если вы уже зарегистрировались, то подумайте, есть ли <b>среди ваших знакомых</b> человек, которому был бы интересн проект Гракон. Мы уверены, что такой человек точно есть! Потратьте время, расскажите ему о сайте grakon.org и помогите зарегистрироваться. Так нас станет в 2 раза больше, и каждый избирательный участок в стране будет охвачен!</li>
                    <li>Если вы прониклись нашими идеями, то мы также просим вас распространить <a href="{% url share %}">наши банеры</a></li>
                </ul>
            </li>

            <li><b>Встретьтесь в офф-лайне</b><br/>
                Наступила пятница – отличный день, чтобы встретиться с другими таким же активистами, как вы. Познакомьтесь вне сети, пообщайтесь. Возможно, кто-то уже работал на вашей УИК – он может поделиться ценной информацией. Вожможно, вы сами знаете членов УИК – расскажите об этом другим. Живое общение крайне важно: вы скоординируетесь, разработаете план действий и, что самое главное, найдете новых товарищей. 
                Несколько простых шагов:
                <ul>
                    <li>напишите на стене страницы Вашего участка или района (<a href="{% url wall %}">пример</a>);</li>
                    <li>отправьте личные сообщения (это можно сделать с помощью кнопки "отправить сообщение" на личной странице пользователя (<a href="http://grakon.org/user/leonid.khaylov">пример</a>)</li>
                    <li>договоритесь встретиться</li>
                </ul>
            </li>

            <li><b>Сходите на УИК до выборов</b><br/>
                Сходите с «соседями» по Гракону на свой участок накануне дня голосования и посмотрите, что за люди там работают. Попросите список членов УИК, и посмотрите на реакцию (это может быть особенно полезно будущим наблюдателям!). Право ознакомления с этим списком имеет каждый избиратель. 
                Выполнив этот пункт, вы, во-первых, прощупаете почву и сможете морально приготовиться к следующему дню, а во-вторых – почувствуете себя гражданином. Получив список, не забудьте выложить его на Граконе с помощью кнопки "добавить члена комиссии" на вкладке "информация" на всеобщее обозрение. Если случится что-то необычное – пишите в комментариях к вашей УИК. Предупредите остальных!
            </li>
            <br/>

            <li><b>Проведите веб-наблюдение</b><br/>
                Мы опубликовали <a href="{% url web_observers_help %}">подробную инструкцию</a> о том, как стать веб-наблюдателем, записать видео и опубликовать его.
            </li>
            <br/>

            <li><b>Поддержите наблюдателей во время подсчета голосов</b><br/>
                <ul>
                    <li>запишитесь на странице своей УИК на Граконе с помощью кнопки "Поддержать наблюдателей" в правом столбце</li>
                    <li>выйдите к УИК сразу после завершения голосования со своими друзьями и дождитесь, когда из УИК выйдут наблюдатели с правильно оформленными копиями протоколов</li>
                    <li>попросите наблюдателей сразу сообщить данные с протокола в свой штаб и выложить на сайте Гракон</li>
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}