{% extends "static_pages/campaign/base.html" %}

{% block content_header %}
    <h2 class="location_header">Как поможет Гракон</h2>
{% endblock %}

{% block content %}
    <div class="static-content">

        <p>Дорогие друзья, посетители и&nbsp;участники проекта Гракон!</p>

<p>&laquo;День Х&raquo;&nbsp;&mdash; 4&nbsp;марта&nbsp;&mdash; неумолимо приближается, и&nbsp;мы&nbsp;хотим еще раз напомнить вам о&nbsp;тех инструментах Гракона, с&nbsp;помощью которых вы&nbsp;можете организовываться и&nbsp;контролировать ход выборов.</p>

        <ul>
            <li><b>Запишитесь на свой избирательный участок</b><br/>
                <ul>
                    {% if request.user.is_authenticated %}
                        <li>На <a href="{% url main %}">главной странице</a>, &laquo;запишитесь&raquo; в&nbsp;избиратели на&nbsp;своем участке&nbsp;&mdash; это позволит вам в&nbsp;полной мере взаимодействовать в&nbsp;другими пользователями и&nbsp;активными гражданами, объединяться и&nbsp;помогать друг другу. Вы&nbsp;можете записаться сразу в&nbsp;несколько списков&nbsp;&mdash; избирателем, наблюдателем, юристом и&nbsp;т.д.</li>
                    {% else %}
                        <li>Зарегистрируйтесь на&nbsp;Граконе и&nbsp;&laquo;запишитесь&raquo; в&nbsp;избиратели на&nbsp;своем участке&nbsp;&mdash; это позволит вам в&nbsp;полной мере взаимодействовать в&nbsp;другими пользователями и&nbsp;активными гражданами, объединяться и&nbsp;помогать друг другу. Вы&nbsp;можете записаться сразу в&nbsp;несколько списков&nbsp;&mdash; избирателем, наблюдателем, юристом и&nbsp;т.д.</li>
                    {% endif %}
                    <li>По&nbsp;многочисленным просьбам, мы&nbsp;добавили возможность пользователям полностью удалять свои роли и&nbsp;привязки к&nbsp;избирательным участкам.</li>
                </ul>
            </li>

           <li><b>Пригласите на&nbsp;Гракон одного друга</b><br/>
                <ul>
                    <li>Противостоять возможным фальсификациям можно только сообща. Если вы&nbsp;уже зарегистрировались, то&nbsp;подумайте, есть&nbsp;ли <b>среди ваших знакомых</b> человек, которому был&nbsp;бы интересн проект Гракон. Мы&nbsp;уверены, что такой человек точно есть! Потратьте время, расскажите ему о&nbsp;сайте grakon.org и&nbsp;помогите зарегистрироваться. Так нас станет в&nbsp;2&nbsp;раза больше, и&nbsp;каждый избирательный участок в&nbsp;стране будет охвачен!</li>
                    <li>Если вы&nbsp;прониклись нашими идеями, то&nbsp;мы&nbsp;также просим вас распространить <a href="{% url share %}">наши банеры</a>.</li>
                </ul>
            </li>

            <li><b>Встретьтесь в&nbsp;офф-лайне</b><br/>
                Наступила пятница&nbsp;&mdash; отличный день, чтобы встретиться с&nbsp;другими таким&nbsp;же активистами, как&nbsp;вы. Познакомьтесь вне сети, пообщайтесь. Возможно, кто-то уже работал на&nbsp;вашей УИК&nbsp;&mdash; он&nbsp;может поделиться ценной информацией. Вожможно, вы&nbsp;сами знаете членов УИК&nbsp;&mdash; расскажите об&nbsp;этом другим. Живое общение крайне важно: вы&nbsp;скоординируетесь, разработаете план действий&nbsp;и, что самое главное, найдете новых товарищей. <br/>
                Несколько простых шагов:
                <ul>
                    <li>напишите на стене страницы Вашего участка или района (<a href="{% url wall %}">пример</a>);</li>
                    <li>отправьте личные сообщения (это можно сделать с помощью кнопки "отправить сообщение" на личной странице пользователя (<a href="http://grakon.org/user/leonid.khaylov">пример</a>);</li>
                    <li>договоритесь встретиться.</li>
                </ul>
            </li>

            <li><b>Сходите на&nbsp;УИК до&nbsp;выборов</b><br/>
                Сходите с&nbsp;&laquo;соседями&raquo; по&nbsp;Гракону на&nbsp;свой участок накануне дня голосования и&nbsp;посмотрите, что за&nbsp;люди там работают. Попросите список членов УИК, и&nbsp;посмотрите на&nbsp;реакцию (это может быть особенно полезно будущим наблюдателям!). Право ознакомления с&nbsp;этим списком имеет каждый избиратель. 
                Выполнив этот пункт, вы, во-первых, прощупаете почву и&nbsp;сможете морально приготовиться к&nbsp;следующему дню, а&nbsp;во-вторых&nbsp;&mdash; почувствуете себя гражданином. Получив список, не&nbsp;забудьте выложить его на&nbsp;Граконе с&nbsp;помощью кнопки &laquo;добавить члена комиссии&raquo; на&nbsp;вкладке &laquo;информация&raquo; на&nbsp;всеобщее обозрение. Если случится что-то необычное&nbsp;&mdash; пишите в&nbsp;комментариях к&nbsp;вашей УИК. Предупредите остальных!
            </li>


            <li><b>Проведите веб-наблюдение</b><br/>
                Мы опубликовали <a href="{% url web_observers_help %}">подробную инструкцию</a> о том, как стать веб-наблюдателем, записать видео и опубликовать его.
            </li>
            <br/>

            <li><b>Поддержите наблюдателей во&nbsp;время подсчета голосов</b><br/>
                <ul>
                    <li>запишитесь на&nbsp;странице своей УИК на&nbsp;Граконе с&nbsp;помощью кнопки &laquo;Поддержать наблюдателей&raquo; в&nbsp;правом столбце;</li>
                    <li>выйдите к&nbsp;УИК сразу после завершения голосования со&nbsp;своими друзьями и&nbsp;дождитесь, когда из&nbsp;УИК выйдут наблюдатели с&nbsp;правильно оформленными копиями протоколов;</li>
                    <li>попросите наблюдателей сразу сообщить данные с&nbsp;протокола в&nbsp;свой штаб и&nbsp;выложить на&nbsp;сайте Гракон.</li>
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}