
    <style type="text/css">
        /* for static pages */
		.ym-col1 {left: -238px; top: -45px}
        .ym-col2 {width: 0px;}
        .ym-col3 {padding-right: 0; padding-left: 228px;}
    </style>

	<div class="ym-col1">
        <h3 class="column_header column_header_icon"><span class="contacts">Контакты</span></h3>
        <div class="ym-clearfix">
            <div class="content_block">
                <p style="margin: 0; padding: 10px;">Обращайтесь сюда, если на&nbsp;УИКе не&nbsp;хватает наблюдателей:</p>
                <ul class="side_list">
                     <li>Ассоциация &laquo;Голос&raquo;:<br />
                        <i> +7 (495) 989-63-06, <a href="mailto:golos@golos.org" target="_blank">golos@golos.org</a>,<br /> <a href="http://golos.org/" target="_blank" rel="nofollow">http://golos.org/</a></i></li>
                    <li>&laquo;Гражданин Наблюдатель&raquo;:<br />
                        <i>
                        <a href="http://nabludatel.org/" target="_blank" rel="nofollow">http://nabludatel.org</a><br />
                        <strong>Москва</strong>: +7 (915) 383-21-90,<br />
                        <a href="mailto:nabludatel-org@googlegroups.com" target="_blank"><small>nabludatel-org@googlegroups.com</small></a><br />
                        
                        <strong>Регионы</strong>: +7 (985) 764-17-05 <a href="mailto:citizen-observer-regions@googlegroups.com" target="_blank"><small>citizen-observer-regions@googlegroups.com</small></a>
                        </i>
                        </li>
                    <li>&laquo;Лига Избирателей&raquo;: <br />	
                        <i><a href="mailto:info@ligaizbirateley.ru" target="_blank">info@ligaizbirateley.ru</a>,<br /> <a href="http://ligaizbirateley.ru/" target="_blank" rel="nofollow">http://ligaizbirateley.ru/</a>
                        </i>
                    </li>
                    <li>&laquo;РосВыборы&raquo;: <br />
                        <i><a href="mailto:rosvybory@gmail.com" target="_blank">rosvybory@gmail.com</a>,<br /> <a href="http://rosvybory.org/" target="_blank" rel="nofollow">http://rosvybory.org</a>
                        </i></li>
                    <li>&laquo;Яблоко&raquo;: <br />
                        <i><a href="mailto:info@yabloko.ru" target="_blank">info@yabloko.ru</a>,<br /> <a href="http://www.yabloko.ru/" target="_blank" rel="nofollow">http://www.yabloko.ru</a>
                        </i></li>
                    <li>Штаб Прохорова: 
                    <i><nobr class="phone">8 (800) 510-00-05,</nobr> <a href="http://mdp2012.ru/" target="_blank" rel="nofollow">http://mdp2012.ru/</a></i></li>
                   
                </ul>
            </div>
        </div>
    </div>
        
        <div class="static-content">
          <h2 class="mt15">Организуемся в&nbsp;небольшие группы<br />для эффективного наблюдения на&nbsp;УИКах</h2>
<p>Итак, первый шаг сделан&nbsp;&mdash; вы&nbsp;зарегистрировались на&nbsp;площадке Гракон. Если нет, то&nbsp;сделайте это прямо сейчас&nbsp;&mdash; стать активным участником гражданского контроля никогда не&nbsp;поздно. Теперь мы&nbsp;предлагаем вам организоваться в&nbsp;небольшие группы.</p>
<div class="blue-title">Зачем это надо?</div>
<p>Во-первых, если происходит какое-то нарушение, свидетелем которого вы&nbsp;становитесь, то&nbsp;не&nbsp;всегда есть возможность дозвониться до&nbsp;больших организаций, которые могут помочь. Опыт думских выборов показал, что телефоны юристов &laquo;Яблока&raquo; раскаливался докрасна. Пока вы&nbsp;будете дозваниваться, нарушение уже произойдет. Во-вторых, членов УИК много. И&nbsp;вы&nbsp;не&nbsp;сможете одновременно контролировать и&nbsp;списки, и&nbsp;стопки бюллетеней, и&nbsp;всех этих людей. В&nbsp;третьих, вывести организованную группу людей с&nbsp;участка намного сложнее, нежели одного человека.</p>
<div class="blue-title">Что надо делать?</div>
<p>Самое главное&nbsp;&mdash; познакомьтесь друг с&nbsp;другом. Зайдите на&nbsp;Гракон, найдите свою УИК и&nbsp;посмотрите, кто еще на&nbsp;ней зарегистрировался. Важно понять, что грядущие выборы&nbsp;&mdash; это не&nbsp;только акт гражданского контроля, но&nbsp;и&nbsp;отличная возможность познакомиться с&nbsp;хорошими людьми. Спишитесь с&nbsp;теми, кто зарегистрировался на&nbsp;вашем участке, встретьтесь на&nbsp;свежем воздухе и&nbsp;обсудите стратегию. Так вам будет намного легче взаимодействовать в&nbsp;сложнейший день 4&nbsp;марта.</p>
<p>Без сомнения, вы&nbsp;найдете соратников. Далее мы&nbsp;предлагаем вам объединиться в&nbsp;следующие группы (соответствующие инструменты есть на&nbsp;площадке):</p>
<ul>
	<li><strong>веб-наблюдение</strong>: вы&nbsp;можете мониторить происходящее на&nbsp;участке, в&nbsp;случае нарушений оперативно и&nbsp;без помех связываться с&nbsp;представителями общественных организаций, либо бежать на&nbsp;место, либо координировать другие группы вашей УИК;</li>
<li><strong>мониторинг территории рядом с&nbsp;избирательным участком</strong>: обычно для вбросов и&nbsp;каруселей людей привозят на&nbsp;специальных автобусах, и&nbsp;это бросается в&nbsp;глаза. При обнаружении подозрительных действий вы&nbsp;всегда можете предупредить тех, кто внутри, о&nbsp;надвигающейся угрозе, а&nbsp;сами&nbsp;&mdash; подойти и&nbsp;спросить, что происходит. Фальсификаторы не&nbsp;любят лишних вопросов и&nbsp;внимания&nbsp;&mdash; давайте заставим их&nbsp;нервничать;</li>
<li><strong>мобильная группа юристов и&nbsp;представителей СМИ</strong>: при поступлении сигнала о&nbsp;возможном или происходящем нарушении, вы&nbsp;сможете оперативно прибыть на&nbsp;место и&nbsp;помочь наблюдателям. Опять&nbsp;же&nbsp;&mdash; чем больше гласность, тем сложнее фальсифицировать результаты голосования;</li>
<li><strong>мобильная группа общего назначения</strong>: если у&nbsp;вас есть автомобиль, то&nbsp;вы&nbsp;можете либо помочь юристам с&nbsp;журналистами и&nbsp;перевозить&nbsp;их, либо помочь с&nbsp;передвижением наблюдателям, которых выгнали с&nbsp;участка, либо перевезти документы при необходимости, либо отлавливать карусели. Скорость реакции в&nbsp;нашем случае&nbsp;&mdash; важный момент, чем быстрее отреагируем на&nbsp;нарушение, тем сложнее его будет скрыть.</li>
</ul>
<p>Сделать все выше перечисленное достаточно просто&nbsp;&mdash; вам необходимо всего лишь познакомиться и&nbsp;обменяться контактами. И&nbsp;не&nbsp;забывайте снимать все подозрительные моменты в&nbsp;день голосования на&nbsp;видео. </p>
        </div>

