{% extends "base.html" %}

{% load elements %}

{% block title %}
    Пресс-релизы - Гракон - гражданский контроль за президентскими выборами
{% endblock %}

{% block head %}
    <!-- This style is used in a number of pages already - avoid it -->
    <style type="text/css">
        .ym-col3 .ym-cbox:last-child {display: none;}
    </style>
    <style type="text/css">
	/* for static pages */
        .ym-col1 {width: 0px;}
        .ym-col2 {width: 0px;}
        .ym-col3 {margin-left: 0; width: 100%; padding: 15px 0;}
		h2.location_header {margin-left: 15px;}
		.ym-col3 .ui-tabs .ui-tabs-nav li a{line-height: 1em; text-align: center; height: 49px; padding-top: 5px;}
		.ym-col3 .ui-tabs .ui-tabs-nav li.ui-tabs-selected {height: 55px;}
		.ui-tabs-nav {display: none;}
    </style>
{% endblock %}

{% block content_header %}
    <h2 class="location_header">Пресс-релизы</h2>
    
    {% tabs "tabs" tab "" "" "Kudakomu.net" "kudakomu" "static_pages/press/kudakomu.html" %}

{% endblock %}
