<script type="text/javascript">
    var reformalOptions = {
        project_id: 53657,
        project_host: "electionsnetwork.reformal.ru",
        force_new_window: false,
        tab_alignment: "left",
        tab_top: "300",
        tab_bg_color: "#248c39",
        tab_image_url: "http://tab.reformal.ru/0J7RgdGC0LDQstC40YLRjCDQvtGC0LfRi9Cy/FFFFFF/f5dab822e975a4eb45fcae69ce487412"
    };

    (function() {
        if ('https:' == document.location.protocol) return;
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'http://media.reformal.ru/widgets/v1/reformal.js';
        document.getElementsByTagName('head')[0].appendChild(script);
    })();
</script>