<!-- Yandex.Metrika counter -->
<script type="text/javascript">
var yaParams = {};
</script>

<div style="display:none;">
<script type="text/javascript">
(function(w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter{{ YA_METRIKA_ID }} = new Ya.Metrika({id:{{ YA_METRIKA_ID }}, enableAll: true, trackHash:true, webvisor:true,params:window.yaParams||{ }});
        }
        catch(e) { }
    });
})(window, "yandex_metrika_callbacks");
</script></div>
<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
<noscript><div><img src="//mc.yandex.ru/watch/{{ YA_METRIKA_ID }}" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->