<p>Отчеты наблюдателей на Думских выборах в прошлом декабре свидетельствуют, что большое количество фальсификаций, включая "переписку" протоколов голосования, происходит во время и сразу после процедуры подсчета голосов на избирательных участках. В таких ситуациях права наблюдателей жестоко нарушаются, вплоть до удаления с участков и рукоприкладства. Все это происходит за закрытыми дверями в то время, когда вся страна спит. Помогите наблюдателям отстоять ваши голоса!</p>

<div class="blue-title">Что делать?</div>
<ul>
    <li>на странице своего избирательного участка на Граконе используйте кнопку «Поддержать наблюдателей» в правом столбце, чтобы записаться и показать другим участникам площадки, что Вы участвуете в акции</li>
    <li>пригласите своих друзей присоединиться к Вам</li>
    <li>4ого марта в 20 часов по местому времени, сразу после завершения голосования, придите к вашему избирательному участку и проконтролируйте, что наблюдатели благополучно выйдут с участка с заверенными копиями итоговых протоколов</li>
    <li>одно Ваше присутствие у дверей участка даст весомую моральную поддержку наблюдателям внутри. Возможным фальсификаторам будет гораздо сложнее провернуть махинации</li>
    <li>приходите к участку вместе с друзьями - превратите вечер в приятной компании в реальную помощь в борьбе за честные выборы!</li>
</ul>
