<p>Мы не знаем, как будут осуществлятся фальсификации в этот раз, но у нас есть отличный инструмент – веб-камеры, расположенные на большом количестве участков. Мы призываем вас записывать в веб-наблюдатели на вашем участке.</p>

<div class="blue-title">Что делать?</div>
<ul>
    <li>на странице своей УИК на Граконе используйте кнопку «Стать веб-наблюдателем» в правом столбце, чтобы записаться и показать другим участникам площадки, когда вы будете записывать видео</li>
    <li>зарегистрируйтесь на сайте <a href="http://webvybory2012.ru/" target="_blank">http://webvybory2012.ru/</a>, где будет вестись трансляция видео с веб-камер, установленных на участках, и выберите 1-2 участка, где вы собираетесь вести веб-наблюдение. <b>ВНИМАНИЕ: зарегистрируйтесь на сайте сегодня, 2 марта, так как уже 3 марта регистрация будет невозможна!</b></li>
    <li>О том, что за чем можно будет проследить с помощью видеокамер на избирательных участках
    можно прочитать <a href="http://improvegroup.ru/index.php?news&readtext=19" target="_blank">здесь</a></li>
    <li>Также смотрите <a href="http://improvegroup.ru/index.php?gold=content&readtext=4" target="_blank">пошаговую инструкцию веб-наблюдателя</a></li>
</ul>

<div class="blue-title">В день выборов</div>
<ul>
    <li>видео после выборов будет практически недоступно для рядовых граждан, поэтому мы призываем вас записывать трансляцию на компьютер! Воспользуйтесь инструкцией здесь: <a href="http://usachev.livejournal.com/68955.html" target="_blank">http://usachev.livejournal.com/68955.html</a>, чтобы скачать бесплатную программу, с помощью которой можно записывать видео. Инструкция по использованию программы там же. Скачайте и убедитесь, что понимаете, как работать с программой заранее!</li>
    <li>в нужное время 4 марта приступайте к видео-наблюдению</li>
</ul>

<div class="blue-title">После выборов</div>
<ul>
    <li>выложите записанное видео на <a href="http://youtube.ru" target="_blank">http://youtube.ru</a> или <a href="http://narod.yandex.ru/" target="_blank">http://narod.yandex.ru/</a> (файлы до 5Гб)</li>
    <li>дайте ссылку на выложенное видео на странице своего УИК на Граконе с помощью кнопки «Стать веб-наблюдателем»</li>
</ul>