{% extends "base.html" %}

{% load elements %}

{% block title %}
    Гракон - гражданский контроль за президентскими выборами
{% endblock %}

{% block breadcrumbs %}
    {% include "elements/breadcrumbs.html" %}

    {% include "elements/results_table_russia.html" %}
{% endblock %}

{% block left_column %}
	<!--<div class="videoconf">
    	<h4><a href="/tools">Полезные инструменты для наблюдателей</a></h4>

    </div>-->
    <h3 class="column_header column_header_icon"><span class="participants">Участники (<b>{{ counters.total }}</b>)</span></h3>

    <div class="ym-clearfix">
        {% include "elements/left_panel.html" %}
    </div>
{% endblock %}

{% block right_column %}
    {% include "blocks/protocols.html" %}

    {% include "blocks/violations.html" %}

    {% include "blocks/web_observers.html" %}

    {% include "blocks/commission_members.html" %}

    <script type="text/javascript">
        $("#add_commission_member, #add_commission_member1, #add_commission_member2").click(function(){
            {% if user.is_authenticated %}
                change_location_dialog_init("Добавить члена избирательной комиссии",
                        "Выберите ваш избирательный округ:", "{{ role }}");
            {% else %}
                login_dialog_init("Чтобы добавить члена избирательной комиссии, пожалуйста, войдите в систему");
            {% endif %}
        });
    </script>

    {% include "elements/right_panel.html" %}
{% endblock %}

{% block content_header %}
    {% tabs "tabs" tab "" "" "Что делать?" "main" "main/view.html" "" "Новости" "main_news" "main/news.html" "" "Инфографика" "main_info" "main/info.html" "" "Сообщения (629)" "wall" "services/disqus.html" "" %}
{% endblock %}
