{% extends "base.html" %}

{% load elements %}

{% block title %}
    Гракон - гражданский контроль за президентскими выборами
{% endblock %}

{% block breadcrumbs %}
    {% include "elements/breadcrumbs.html" %}

    {% include "elements/results_table.html" %}
{% endblock %}

{% block left_column %}
    <div class="videoconf">
    	<h4><a href="{% url main_news %}">Видео-конференция</a></h4>
        <p><strong><a href="{% url main_news %}">2 марта, 20:00 по Москве</a></strong></p>
    </div>
    <h3 class="column_header column_header_icon"><span class="participants">Участники (<b>{{ counters.total }}</b>)</span></h3>

    <div class="ym-clearfix">
        {% include "elements/left_panel.html" %}
    </div>
{% endblock %}

{% block right_column %}
    {% include "blocks/supporters.html" %}

    {% include "blocks/web_observers.html" %}

    <h3 class="column_header column_header_icon"><span class="side_block_member">Члены комиссии ({{ commission_members_count }})</span></h3>
    <div class="ym-clearfix">
        <div class="content_block">
            <div class="mt15 mb15">
                {% button "circle-plus" "Добавить члена комиссии" "add_commission_member" %}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $("#add_commission_member, #add_commission_member1, #add_commission_member2").click(function(){
            {% if user.is_authenticated %}
                change_location_dialog_init("Добавить члена избирательной комиссии",
                        "Выберите ваш избирательный округ:", "{{ role }}");
            {% else %}
                login_dialog_init("Чтобы добавить члена избирательной комиссии, пожалуйста, войдите в систему");
            {% endif %}
        });
    </script>

    {% include "elements/right_panel.html" %}
{% endblock %}

{% block content_header %}
    {% tabs "tabs" tab "" "" "Что делать?" "main" "main/view.html" "Сообщения" "wall" "services/disqus.html" "Новости" "main_news" "main/news.html" %}
{% endblock %}
