{% load elements %}
<div class="step"><i>1</i> 
  <script type="text/javascript">
    $(function() {
        $('.banners a').lightBox();
    });
    </script>
  <h4 style="margin-top: 0.5em;">Памятки для честных граждан</h4>
  <div class="banners"><a href="{{ STATIC_URL }}images/grakon_info.jpg" rel="lightbox"><img src="{{ STATIC_URL }}images/grakon_info_sm.jpg" /></a></div>
  <div class="banners"><a href="{{ STATIC_URL }}images/liga_info_1.jpg" rel="lightbox"><img src="{{ STATIC_URL }}images/liga_info_1_sm.jpg" /></a></div>
  <div class="banners"><a href="{{ STATIC_URL }}images/liga_info_2.jpg" rel="lightbox"><img src="{{ STATIC_URL }}images/liga_info_2_sm.jpg" /></a></div>
  <div class="banners"><a href="{{ STATIC_URL }}images/liga_info_3.jpg" rel="lightbox"><img src="{{ STATIC_URL }}images/liga_info_3_sm.jpg" /></a></div>
  <div class="banners"><a href="{{ STATIC_URL }}images/liga_info_4.jpg" rel="lightbox"><img src="{{ STATIC_URL }}images/liga_info_4_sm.jpg" /></a></div>
  <div class="banners"><a href="{{ STATIC_URL }}images/liga_info_5.jpg" rel="lightbox"><img src="{{ STATIC_URL }}images/liga_info_5_sm.jpg" /></a></div>
  <br clear="all" />
</div>
</div>
