{% load elements %}
<div class="step"><i>1</i>
    <h4>Есть куда пожаловаться!</h4>
    <p>Появился <a href="/kudakomu">онлайн-конструктор жалоб на нарушения на выборах</a>.</p>
    <p>&nbsp;</p>
</div>

<div class="step"><i>2</i>
    <h4>Загадка выборов</h4>
    <p>Поделитесь с друзьями забавным <a href="http://electionpuzzle.ru/" target="_blank">тестом</a> про честные выборы.</p>
    <p>&nbsp;</p>
</div>



<div class="step"><i>3</i>
    <h4>Распространяйте наши баннеры!</h4>
    {% include "elements/banners.html" %}
</div>
