{% load elements %}
 <div class="step"><i>1</i>
    <h4 style="margin-top: 0.5em;">Видеоконференция с разработчиками</h4>
    <p>Друзья!</p>
    <p>Проект Гракон спешит сообщить вам радостную новость. </p>
    <p>2&nbsp;марта в&nbsp;20&nbsp;часов (время московское) разработчики <a href="/">grakon.org</a> организуют телемост с&nbsp;посетителями сайта и&nbsp;со&nbsp;всеми заинтересованными гражданами России. Мы&nbsp;расскажем вам о&nbsp;нашем проекте, целях и&nbsp;задачах, планах развития, а&nbsp;также ответим на&nbsp;все интересующие вопросы о&nbsp;ресурсе.</p>
    <p>Ждем вас на&nbsp;сайте <a href="/">grakon.org</a>&nbsp;&mdash; нам не&nbsp;терпится познакомиться с&nbsp;вами, выслушать все ваши предложения и&nbsp;замечания. Не&nbsp;забудьте&nbsp;&mdash; 2&nbsp;марта, 20:00.</p>
    <p>Поучаствовать и посмотреть трансляцию  конференции вы сможете <a href="/videoconf" target="_blank">здесь</a>.
  </div>
              
<div class="step"><i>2</i>
    <h4>Распространяйте наши баннеры!</h4>
    <div class="banners">
        <a href="{{ URL_PREFIX }}" class="banner"><img src="{{ STATIC_URL }}images/banners/web-nabludatel.gif"/></a>
        <br/><br/>
        <textarea rows="3" cols="30">&lt;a href="http://grakon.org"&gt; &lt;img src="{{ STATIC_URL }}images/banners/web-nabludatel.gif"&gt;&lt;/a&gt;</textarea>
    </div>
    
    <div class="banners">
        <a href="{{ URL_PREFIX }}" class="banner"><img src="{{ STATIC_URL }}images/banners/karusel.gif"/></a>
        <br/><br/>
        <textarea rows="3" cols="30">&lt;a href="http://grakon.org"&gt; &lt;img src="{{ STATIC_URL }}images/banners/karusel.gif"&gt;&lt;/a&gt;</textarea>
    </div>
    
    <div class="banners">
        <a href="{{ URL_PREFIX }}" class="banner"><img src="{{ STATIC_URL }}images/banners/mobile-group.gif"/></a>
        <br/><br/>
        <textarea rows="3" cols="30">&lt;a href="http://grakon.org"&gt; &lt;img src="{{ STATIC_URL }}images/banners/mobile-group.gif"&gt;&lt;/a&gt;</textarea>
    </div>
    
    <div class="banners">
        <a href="{{ URL_PREFIX }}" class="banner"><img src="{{ STATIC_URL }}images/banners/journalist.gif"/></a>
        <br/><br/>
        <textarea rows="3" cols="30">&lt;a href="http://grakon.org"&gt; &lt;img src="{{ STATIC_URL }}images/banners/journalist.gif"&gt;&lt;/a&gt;</textarea>
    </div>
    
    <div class="banners">
        <a href="{{ URL_PREFIX }}" class="banner"><img src="{{ STATIC_URL }}images/banners/brave.gif"/></a>
        <br/><br/>
        <textarea rows="3" cols="30">&lt;a href="http://grakon.org"&gt; &lt;img src="{{ STATIC_URL }}images/banners/brave.gif"&gt;&lt;/a&gt;</textarea>
    </div>
    <br clear="all" />

</div>
