{% load elements %}
<div class="step"><i>1</i>
    <h4 style="margin-top: 0.5em;">Загадка выборов</h4>
    <p>Поделитесь с друзьями забавным <a href="http://electionpuzzle.ru/" target="_blank">тестом</a> про честные выборы.</p>
    <p>&nbsp;</p>
</div>

 <div class="step"><i>2</i>
    <h4>Видеоконференция с разработчиками</h4>
    <p>Друзья!</p>
    <p>Проект Гракон спешит сообщить вам радостную новость. </p>
    <p>2&nbsp;марта в&nbsp;20&nbsp;часов (время московское) разработчики <a href="/">grakon.org</a> организуют телемост с&nbsp;посетителями сайта и&nbsp;со&nbsp;всеми заинтересованными гражданами России. Мы&nbsp;расскажем вам о&nbsp;нашем проекте, целях и&nbsp;задачах, планах развития, а&nbsp;также ответим на&nbsp;все интересующие вопросы о&nbsp;ресурсе.</p>
    <p>Ждем вас на&nbsp;сайте <a href="/">grakon.org</a>&nbsp;&mdash; нам не&nbsp;терпится познакомиться с&nbsp;вами, выслушать все ваши предложения и&nbsp;замечания. Не&nbsp;забудьте&nbsp;&mdash; 2&nbsp;марта, 20:00.</p>
    {% button "circle-check" "Смотреть трансляцию" "" "videoconf" %} 
  </div>

<div class="step"><i>3</i>
    <h4>Распространяйте наши баннеры!</h4>
    {% include "elements/banners.html" %}
</div>
