{% load elements %}
<p><strong>Уважаемые пользователи</strong>,</p>
<div style="font-style:italic; border-bottom: 1px dotted #a5a5a5; margin-bottom: 2em">
<p>в&nbsp;настоящее время, в&nbsp;связи с&nbsp;резко возросшим потоком посетителей, в&nbsp;работе сайта могут возникать перебои.</p>
<p>Мы&nbsp;делаем все возможное, чтобы исправить это как можно быстрее.</p>
<p>Через несколько часов вы&nbsp;сможете начать выкладывать свои протоколы. Но, в&nbsp;соответствии с&nbsp;российским законодательством, для просмотра они будут доступны после 21:00 по&nbsp;московскому времени.</p>
<p>Благодарим за&nbsp;терпение и&nbsp;понимание!</p>

<p>P.S. Обращаем ваше внимание, что наш сайт не ведет онлайн-трансляцию с избирательных участков. 
Это <strong>видео доступно на сайте <a href="http://webvybory2012.ru/" target="_blank">Web выборы 2012</a></strong>.</p>
</div>
{% include "dialogs/find_uik.html" %}

{% if request.user.is_authenticated %}
    <p>Чтобы принять участие в работе площадки, рассказать другим пользователям
    о себе и помочь проведению честных выборов, сделайте следующее.</p>

    {% if not request.profile.has_name %}
        <div class="blue-title">Введите свои имя и фамилию</div>
        <div class="check-list-step">
             <form action="{% url update_profile %}?fields=first_name,last_name" method="post">
                {% csrf_token %}
                <div style="display:inline; float: right;">
                    {% button "circle-check" "Сохранить" "save_name" "" "" %}
                </div>
                <div style="margin:0.3em;">Имя: {{ form.first_name }}</div>
                <div style="margin:0.3em;">Фамилия: {{ form.last_name }}</div>
            </form>
        </div>
    {% endif %}

    {% if not request.profile.show_name %}
        <div class="blue-title">Покажите свое имя пользователям</div>
        <div class="check-list-step {% if not request.profile.has_name %}disabled-block{% endif %}">
            {% if not request.profile.has_name %}<div class="i">&nbsp;</div>{% endif %}
            <p>Это увеличит доверие к вам на площадке.</p>
            <form action="{% url update_profile %}?fields=show_name" method="post">
                {% csrf_token %}
                {{ form.show_name }}
                <div style="display:inline;">
                    {% button "circle-check" "Сохранить" "save_show_name" "" "" %}
                </div>
            </form>
        </div>
    {% endif %}

    {% if not request.roles.voter %}
        <div class="blue-title">Выберите свой район</div>
        <div class="check-list-step">

            <p>Выберите район, где вы проживаете и/или будете голосовать.</p>

            <form id="become_voter_form" method="post" action="{% url become_voter %}">
                {% csrf_token %}
                <div id="choose_regions">
                    {% include "elements/region_choice.html" %}
                </div>
            </form>
            <div style="display: inline;">
                {% button "circle-check" "Сохранить" "choose_region" "" "" %}
            </div>
        </div>

        <script type="text/javascript">
            set_select_location("choose_regions", []);
            init_find_uik();

            $("#choose_region").click(function(){
                signup_for_role("voter", "{% url main %}");
            });
        </script>
    {% endif %}

    <div class="blue-title">Присоединяйтесь к нам в соцсетях</div>
    <div class="check-list-step">
        <p>Присоединяйтесь к нам в соцсетях и расскажите о нас своим друзьям</p>
        {% include "elements/share_horizontal.html" %}
        <p>или подпишитесь на нас:</p>
        <div>
            {% include "elements/read_us.html" %}
        </div>
    </div>

    <div class="blue-title">Станьте активным участником на выборах</div>
    <div class="check-list-step">
        {% if roles %}
            <!--ul>
                {% include "elements/roles.html" %}
            </ul-->
        {% endif %}

        <ul class="nobullet">
            <li><span class="pseudolink blue" id="become_observer1">Наблюдатель</span></li>
            <li><span class="pseudolink blue" id="become_member1">Член комиссии</span></li>
            <li><span class="pseudolink blue" id="become_journalist1">Представитель СМИ</span></li>
            <li><span class="pseudolink blue" id="become_lawyer1">Юрист</span></li>
            <li><span class="pseudolink blue" id="become_prosecutor1">Представитель прокуратуры</span></li>
            <li><span class="pseudolink blue" id="become_authority1">Представитель власти</span></li>
        </ul>

    </div>

    {% with btn_id="become_observer1" role="observer" status_plural="наблюдатели" %}
        {% include "elements/dialog_open_button.html" %}
    {% endwith %}

    {% with btn_id="become_member1" role="member" status_plural="члены комиссии" %}
        {% include "elements/dialog_open_button.html" %}
    {% endwith %}

    {% with btn_id="become_journalist1" role="journalist" status_plural="представители СМИ" %}
        {% include "elements/dialog_open_button.html" %}
    {% endwith %}

    {% with btn_id="become_lawyer1" role="lawyer" status_plural="юристы" %}
        {% include "elements/dialog_open_button.html" %}
    {% endwith %}

    {% with btn_id="become_prosecutor1" role="prosecutor" status_plural="представители прокуратуры" %}
        {% include "elements/dialog_open_button.html" %}
    {% endwith %}

    {% with btn_id="become_authority1" role="authority" status_plural="представители власти" %}
        {% include "elements/dialog_open_button.html" %}
    {% endwith %}

    {% if not request.profile.about %}
        <script src="{{ STATIC_URL }}libs/tiny_mce/tiny_mce.js" type="text/javascript"></script>
        <div class="blue-title">Добавьте информацию о себе</div>
        <div class="check-list-step">
            <p>Вы можете оставить свои координаты,
            написать про участие в выборах и как готовность помочь другим участникам.</p>
            <form action="{% url update_profile %}?fields=about" method="post">
                {% csrf_token %}
                <div style=" overflow: hidden;">
                    {{ form.about }}
                </div>
                <div class="mt15">
                    {% button "circle-check" "Добавить" "save_about" "" "" %}
                </div>
            </form>
        </div>
    {% endif %}
{% else %}
    <p>Гракон&nbsp;&mdash; мини-соцсеть для координации работы любых организаций и&nbsp;граждан,
объединенных одной целью&nbsp;&mdash; <b>проведением честных выборов</b> президента 4&nbsp;марта.</p>

	<p>Удобная структура площадки позволяет участникам эффективно находить поблизости
    именно тех людей и&nbsp;группы, которые могут им&nbsp;помочь. В&nbsp;результате активные участники
    могут скоординировать свои действия в&nbsp;день выборов и&nbsp;минимизировать шансы
    возникновения нарушений на&nbsp;участках.</p>

    <!--{% button "circle-check" "Короткая презентация" "view_presentation" "" %}-->

    <div class="center">
        <iframe width="560" height="315" src="http://www.youtube.com/embed/9YQTq4d3WJ0" frameborder="0" allowfullscreen></iframe>
    </div>

    <br/>
    {% include "dialogs/presentation.html" %}

    <div class="blue-title">Примите участие!</div>

    <div class="step"><i>1</i> <p>Найдите <b>свой избирательный участок</b> и
            посмотрите, как проходят выборы в вашем городе:</p>
        <div id="choose_regions">
            {% include "elements/region_choice.html" %}
            <div style="display: inline;">
                {% button "arrowreturnthick-1-e" "Перейти" "goto_location" "" "" %}
            </div>
            &nbsp; &nbsp; <b>или</b>&nbsp; &nbsp;
            <div style="display: inline;">
                {% button "circle-zoomout" "Найти на карте" "map_location" "" "" %}
            </div>
        </div>
    </div>

    <div class="step"><i>2</i>
        <p>Хотите получать <b>новости</b> о ходе выборов в вашем городе?</p>
        <div>{% button "circle-check" "Подписаться" "login_content1" "" "" %}</div>
    </div>

    <div class="step"><i>3</i>
        <p>Хотите помочь проведению честных выборов, но нет возможности стать наблюдателем?</p>
        <ul>
            <li>Станьте <b>веб-наблюдателем</b> и&nbsp;следите за&nbsp;ходом выборов на&nbsp;своем участке через веб камеру.</li>
			<li>Войдите в&nbsp;состав <b>мобильной группы</b> для отлова &laquo;карусельщиков&raquo;.</li>
        </ul>
        <div>{% button "circle-check" "Записаться" "login_content2" "" "" %}</div>
    </div>

    <div class="step"><i>4</i>
        <p>Уже записались <b>наблюдателем</b> или <b>членом избирательной комиссии</b>?
        Найдите других наблюдателей на вашем участке.
        </p>
        <div>{% button "circle-check" "Регистрация" "login_content3" "" "" %}</div>
    </div>

    <div class="step"><i>5</i>
        <p>Следите за <b>новостями проекта</b></p>
        {% include "elements/read_us.html" %}
    </div>

    <script type="text/javascript">
        set_select_location("choose_regions", []);
        $("#login_content1, #login_content2, #login_content3").click(function(){
            login_dialog_init("Войдите в систему, используя логин/email или свой аккаунт на других сервисах:");
        });
        $("#view_presentation").click(function(){presentation_dialog_init();});
    </script>
{% endif %}
