{% load elements %}

{% include "dialogs/find_uik.html" %}

{% if request.user.is_authenticated %}
    {% if not request.profile.has_name %}
        <div class="check-list-step"><i>+1<br/>балл</i>
            <p>
                Введите свои имя и фамилию:
            </p>

            <form action="{% url update_profile %}?fields=first_name,last_name" method="post">
                {% csrf_token %}
                <div style="display:inline; float: right;">
                    {% button "circle-check" "Сохранить" "save_name" "" "" %}
                </div>
                <div style="margin:0.3em;">Имя: {{ form.first_name }}</div>
                <div style="margin:0.3em;">Фамилия: {{ form.last_name }}</div>
            </form>
        </div>
        <hr/>
    {% endif %}

    {% if not request.profile.show_name %}
        <div class="check-list-step {% if not request.profile.has_name %}disabled-block{% endif %}"><i>+2<br/>балла</i>
            {% if not request.profile.has_name %}<div class="i">&nbsp;</div>{% endif %}
            <p>
                Покажите свое имя остальным пользователям. Это увеличит доверие к вам на площадке.
            </p>
            <form action="{% url update_profile %}?fields=show_name" method="post">
                {% csrf_token %}
                {{ form.show_name }}
                <div style="display:inline;">
                    {% button "circle-check" "Сохранить" "save_show_name" "" "" %}
                </div>
            </form>
        </div>
        <hr/>
    {% endif %}

    {% if request.profile %}
        <div class="check-list-step"><i>+2<br/>балла</i>
            Выберите район, где вы проживаете и/или будете голосовать.

            <form id="become_voter_form" method="post" action="{% url become_voter %}">
                {% csrf_token %}
                <div id="choose_regions">
                    {% include "elements/region_choice.html" %}
                </div>
            </form>
            <div style="display: inline;">
                {% button "circle-check" "Сохранить" "choose_region" "" "" %}
            </div>
        </div>
        <hr/>

        <script type="text/javascript">
            set_select_location("choose_regions", []);
            init_find_uik();

            $("#choose_region").click(function(){
                signup_for_role("voter", "{% url main %}");
            });
        </script>
    {% endif %}

    <div class="check-list-step"><i>+1<br/>балл</i>
        "Полюбите" нас в соцсетях и расскажите о нас своим друзьям
        <div style="margin:1em;">
            {% include "elements/share_horizontal.html" %}
        </div>
    </div>

    <hr/>

    <div class="check-list-step"><i>+3<br/>балла</i>
        Стать активным участником на выборах

        {% if roles %}
            <ul>
                {% include "elements/roles.html" %}
            </ul>
            <div class="points points_active">+N</div>
        {% endif %}

        <div class="user_actions">
            {% button "circle-check" "Наблюдатель" "become_observer" "" "" %}
            {% button "circle-check" "Член комиссии" "become_member" "" "" %}
            {% button "circle-check" "Представитель СМИ" "become_journalist" "" "" %}

        </div>

        <div class="user_actions">
            {% button "circle-check" "Юрист" "become_lawyer" "" "" %}
            {% button "circle-check" "Представитель прокуратуры" "become_prosecutor" "" "" %}
            {% button "circle-check" "Представитель власти" "become_authority" "" "" %}
        </div>
    </div>

    <hr/>

    <script src="{{ STATIC_URL }}libs/tiny_mce/tiny_mce.js" type="text/javascript"></script>

    <div class="check-list-step"><i>+3<br/>балла</i>
        <p>Добавить информацию о себе</p>
        {{ form.about }}
    </div>
{% else %}
    <h2>Что такое Гракон?</h2>
    <p>Гракон - мини-соцсеть для координации работы любых организаций и граждан,
    объединенных одной целью - <b>проведением честных выборов</b> президента 4 марта.

    Удобная структура площадки позволяет участникам эффективно находить поблизости
    именно тех людей и группы, которые могут им помочь. В результате активные участники
    могут скоординировать свои действия в день выборов и минимизировать шансы
    возникновения нарушений на участках.
    </p>

    <h2>Примите участие!</h2>

    <div class="step"><i>1</i> <p>Найдите свой избирательный округ и посмотрите, как проходят выборы в Вашем городе:</p>
        <div id="choose_regions">
            {% include "elements/region_choice.html" %}
            <div style="display: inline;">
                {% button "arrowreturnthick-1-e" "Перейти" "goto_location" "" "" %}
            </div>
            &nbsp; &nbsp; <b>или</b>&nbsp; &nbsp;
            <div style="display: inline;">
                {% button "circle-zoomout" "Найти на карте" "map_location" "" "" %}
            </div>
        </div>
    </div>

    <hr/>

    <div class="step"><i>2</i>
        {% if request.user.is_authenticated %}
            <p>Начните участвовать в работе на своем избирательном участке.
            Для этого выберите свою роль на выборах в панели слева и запишитесь.</p>
        {% else %}
            <p>Начните участвовать в работе на своем избирательном участке.
            Для этого необходимо зарегистрироваться.
            </p>
            <div>{% button "circle-check" "Регистрация" "login_content" "" "" %}</div>
        {% endif %}
    </div>

    <hr/>

    <div class="step"><i>3</i> <div style="margin-bottom: 7px;">следить за новостями проекта</div>
                    <a href="http://www.facebook.com/grakonteam" title="Читайте нас в Facebook" target="_blank"><img src="{{ STATIC_URL }}images/facebook.gif" align="absmiddle" /></a>
                    <a href="http://vk.com/grakonteam" title="Читайте нас во Вконтакте" target="_blank"><img src="{{ STATIC_URL }}images/vkontakte.gif" align="absmiddle" /></a>
                    <a href="https://twitter.com/#!/grakonteam" title="Читайте нас в Твиттере" target="_blank"><img src="{{ STATIC_URL }}images/twitter.gif" align="absmiddle" /></a>         
                    <a href="http://grakonteam.livejournal.com/" title="Читайте нас в ЖЖ" target="_blank"><img src="{{ STATIC_URL }}images/lj.png" align="absmiddle" /></a>           
    </div>

    <script type="text/javascript">
        set_select_location("choose_regions", []);
        $("#login_content").click(function(){
            login_dialog_init("Войдите в систему, используя логин/email или свой аккаунт на других сервисах");
        });
    </script>

    <h2>Презентация</h2>
    <script>
        $(document).ready(function(){
            function resizeSlide() {
                jQuery("#__ss_11568118").css('width','100%').find('iframe').css('width','100%');
                var slideHeight = jQuery("#__ss_11568118").width()/1.1917;
                jQuery("#__ss_11568118").css('height',slideHeight).find('iframe').css('height',slideHeight);
                jQuery("#player div").css('background-color', '#fff');              
            }
            resizeSlide();
            $(window).resize(function() {
                resizeSlide();
            });
        });
    </script>

    <p>Нажмите на иконку <img src="{{ STATIC_URL }}images/fullscreen.gif" align="absmiddle" style="padding: 3px; border: 1px solid #ccc; border-radius: 5px;" /> в правом нижнем углу презентации для полноэкранного просмотра</p>
    <div id="__ss_11568118" style="border: 1px solid #ccc; width:100%"><iframe src="http://www.slideshare.net/slideshow/embed_code/11568118" width="100%" height="420" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe></div>
{% endif %}
