<div id="delete_from_contacts_dialog">
    <center>
        Удалить пользователя <span id="delete_from_contacts_user"> из контактов?
        <form id="delete_from_contacts_form" method="post" action="{% url become_voter %}">
            {% csrf_token %}
            <input type="hidden" name="username" value="" />
        </form>
    </center>
</div>

<script type="text/javascript">
    // Delete user from contacts dialog
    $("#delete_from_contacts_dialog").dialog({width:650, height:250, modal: true, title: "Удалить из контактов",
        buttons: {
            "Удалить": function(){
                $.post($("#delete_from_contacts_form").attr("action"),
                    $("#delete_from_contacts_form").serialize(), function(data){
                        $("#delete_from_contacts_dialog").trigger("delete_from_contacts", []);
                        $("#delete_from_contacts_dialog").dialog("close");
                    }
                );
            },
            "Отмена": function(){$("#delete_from_contacts_dialog").dialog("close");}
        }
    }).dialog("close");
</script>