<div id="add_link_dialog">
    <center>
        Добавить ссылку
        <form id="add_link_form" class="dialog_form" method="post" action="{% url add_link %}">
            {% csrf_token %}
            <table>
                <tr>
                    <td>Название</td>
                    <td><input id="link_name_input" name="name" value="" /></td>
                </tr>
                <tr>
                    <td>URL</td>
                    <td><input id="link_url_input" name="url" value="" /></td>
                </tr>
            </table>
            <input type="hidden" name="location" value="" />
        </form>
    </center>
</div>

<script type="text/javascript">
    // Add link dialog
    $("#add_link_dialog").dialog({width: 650, height: 250, modal: true, title: "Добавить ссылку",
        buttons: {
            "Добавить": function(){
                $.post("{% url add_link %}", $("#add_link_form").serialize(), function(data){
                    if (data=="ok")
                        $("#add_link_dialog").trigger("add_link_event", []);
                    else
                        alert("Ссылка не была добавлена"); // TODO: show why

                    $("#add_link_dialog").dialog("close");
                });
            },
            "Отмена": function(){$("#add_link_dialog").dialog("close");}
        }
    }).dialog("close");

    // Add link on pressing Enter
    $("#add_link_form input").keypress(function(e){
        if(e.which == 13){
            $("#add_link_dialog").dialog("option", "buttons")["Добавить"]();
        }
    });

    function add_link_dialog_init(location_id){
        $("#link_name_input").val("");
        $("#link_url_input").val("");
        $('#add_link_form input[name="location"]').val(location_id);
        $("#add_link_dialog").dialog("open");
    }


</script>
