<div id="become_observer_dialog">
    <center>
        Чтобы записаться в наблюдатели, заполните
        <a href="http://www.nabludatel.org/stat-nablyudatelem/" target="_blank">форму</a>
        на сайте организации Гражданин Наблюдатель.
    </center>
</div>

<script type="text/javascript">
    // Become observer dialog
    $("#become_observer_dialog").dialog({width:650, height:250, modal: true, title: "Записаться в наблюдатели",
        buttons: {
            "Записаться": function(){
                window.open("http://www.nabludatel.org/stat-nablyudatelem/");
            },
            "Отмена": function(){$("#become_observer_dialog").dialog("close");}
        }
    }).dialog("close");

    function become_observer_dialog_init(){
        $("#become_observer_dialog").dialog("open");
    }
</script>
