{% if user.is_authenticated %}
    <div id="become_observer_dialog">
        <center>
            Чтобы записаться в наблюдатели, заполните
            <a href="http://www.nabludatel.org/stat-nablyudatelem/" target="_blank">форму</a>
            на сайте организации Гражданин Наблюдатель.
        </center>
    </div>
{% endif %}

<script type="text/javascript">
    // Become observer dialog
    $("#become_observer").button({icons: {primary: "ui-icon-check"}});

    {% if user.is_authenticated %}
        $("#become_observer_dialog").dialog({width:650, height:250, modal: true, title: "Записаться в наблюдатели",
            buttons: {
                "Записаться": function(){
                    window.open("http://www.nabludatel.org/stat-nablyudatelem/");
                },
                "Отмена": function(){$("#become_observer_dialog").dialog("close");}
            }
        }).dialog("close");

        function become_observer_dialog_init(){
            $("#become_observer_dialog").dialog("open");
        }

        $("#become_observer").click(function(){
            become_observer_dialog_init();
        });
    {% else %}
        $("#become_observer").click(function(){
            login_dialog_init("Чтобы записаться в наблюдатели, пожалуйста, войдите в систему");
        });
    {% endif %}
</script>
