<div id="become_voter_dialog">
    <center>
        Записаться в избиратели на избирательном округе
        <form id="become_voter_form" method="post" action="{% url become_voter %}">
            {% csrf_token %}
            {% include "elements/region_choice.html" %}
        </form>
    </center>
</div>

<script type="text/javascript">
    // Become voter dialog
    $("#become_voter_dialog").dialog({width:650, height:250, modal: true, title: "Записаться в избиратели",
        buttons: {
            //"Перейти": function(){
            //    $("#become_voter_form").attr("action", "{% url goto_location %}")
            //            .attr("method", "get").submit();
            //},
            "Записаться": function(){
                $.post($("#become_voter_form").attr("action"), $("#become_voter_form").serialize(), function(data){
                    if (data=="ok"){
                        $("#become_voter_dialog").trigger("become_voter", [form_location_id("become_voter_form")]);
                        $("#become_voter_dialog").dialog("close");
                        $("#become_voter_form").attr("action", "{% url goto_location %}")
                                .attr("method", "get").submit();
                    } else
                        alert(data);
                });
            },
            "Отмена": function(){$("#become_voter_dialog").dialog("close");}
        }
    }).dialog("close");

    function become_voter_dialog_init(path){
        set_select_location("become_voter_form", path);
        $("#become_voter_dialog").dialog("open");
    }
</script>
