<div id="report_user_dialog">
    <center>
        Пожаловаться на пользователя <span id="report_user_dialog_user" class="dialog_user_span"></span>?
    </center>

    <form id="report_user_form" method="post" action="{% url report_user %}">
        {% csrf_token %}
        <input type="hidden" name="username" value="" />
    </form>
</div>

<script type="text/javascript">
    // Report user dialog
    $("#report_user_dialog").dialog({width: 650, height: 250, modal: true, title: "Пожаловаться на пользователя", buttons: {
        "Пожаловаться": function(){
            $.post("{% url report_user %}", $("#report_user_form").serialize(), function(data){
                $("#report_user_dialog").trigger("report_user_dialog_event", []);
                $("#report_user_dialog").dialog("close");
            });
        },
        "Отмена": function(){$("#report_user_dialog").dialog("close");}
    }}).dialog("close");

    function report_user_dialog_init(username){
        $("#report_user_dialog_user").text(username);
        $('#report_user_form input[name="username"]').val(username);
        $("#report_user_dialog").dialog("open");
    }
</script>
