{% extends "base.html" %}

{% load elements uni_form_tags %}

{% block title %}
Выложить копию протокола - Результаты президентских выборов - Гракон
{% endblock %}

{% block left_column %}
{% endblock %}

{% block content_header %}
    <h2 class="location_header">Выложить копию протокола</h2>

    <div class="ym-cbox static-content">
        <p><b>Внимание! Мы собираем только копии протоколов с <u>фотографиями</u>.</b></p>
        <p><b>Мы автоматически импортируем копии протоколов, опубликованные другими
        организациями. На данный момент собрана часть протоколов <a href="http://nabludatel.org/statistic/web/viol.php" target="_blank">Гражданина Наблюдателя</a>.
        В ближайшее время мы введем в систему протоколы из <a href="https://svodnyprotokol.ru/" target="_blank">Сводного протокола</a>
        и <a href="http://контроль-выборов.рф/" target="_blank">контроль-выборов.рф</a>.
        Перед заполнением формы, пожалуйста, проверьте, что ваша копия протокола еще не выложена на нашем сайте
        (можно выкладывать разные копии протоколов с одного УИКа).</b></p>

        <p>Выложенные протоколы сразу появляются на сайте, однако не учитываются в статистике,
        пока не пройдут верификацию нашими волонтерами.</p>

        {% uni_form form form.helper %}
    </div>
{% endblock %}
