{% extends "base.html" %}

{% load elements %}

{% block title %}
Протокол -
{% if protocol.location.region %}{{ protocol.location.region }} - {% endif %}
{% if protocol.location.tik %}{{ protocol.location.tik }} - {% endif %}
{{ protocol.location }} - Результаты президентских выборов - Гракон
{% endblock %}

{% block left_column %}
    <div class="ym-clearfix">
        <h3 class="column_header column_header_icon"><span class="protocols">Фотографии</span></h3>

        <div class="content_block">
            <ul>
                {% if protocol.url %}<li><a href="{{ protocol.url }}" target="_blank">Ссылка</a></li>{% endif %}
                {% for file in files %}
                <li><a href="{{ file.get_absolute_url }}" target="_blank">Файл {{ forloop.counter }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <h3 class="column_header column_header_icon"><span class="">Источник</span></h3>

        <div class="content_block">
            <ul>
                <li><a href="{{ protocol.source.get_absolute_url }}">{{ protocol.source }}</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block content_header %}
    <h2 class="location_header">{{ protocol.location }}</h2>

    <div class="ym-cbox">
        <div class="static-content">
            <p>
                <b>Избирательная комиссия:</b>
                {% with location=protocol.location %}
                    {% include "elements/location_path.html" %}
                {% endwith %}
            </p>

            <table class="web_observers_table results_table" width="100%">
                <tr>
                    <th style="text-align:left"><span>Поля</span></th>
                    <th width="15%"><span>Протокол</span></th>
                    <th width="15%"><span>ЦИК</span></th>
                </tr>
                {% for field in fields %}
                <tr>
                    <td style="text-align:left">{{ field.0 }}</td>
                    <td>{{ field.1 }}</td>
                    <td>{{ field.2 }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
