<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!--link rel="icon" href="{{ STATIC_URL }}favicon.ico" type="image/x-icon" /-->
    <title>{% block title %}{{ title }}{% endblock %}</title>

    <link href="{{ STATIC_URL }}libs/yaml/base.css" rel="stylesheet" type="text/css"/>
    <!--[if lte IE 7]>
    <link href="{{ STATIC_URL }}libs/yaml/iehacks.css" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <link href="{{ STATIC_URL }}css/hlist.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}libs/jquery-ui/jquery-ui.css" rel="stylesheet" type="text/css"/>

    <link href="{{ STATIC_URL }}css/layout.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}css/typography.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" href="{{ STATIC_URL }}libs/tipsy/tipsy.css" type="text/css" />

    <script type="text/javascript">
        //var current_location = "{{ current_location.id }}";
        var IS_USER_PROFILE = {% if user == profile_user %}true{% else %}false{% endif %};
        var USERNAME = "{{ user.username }}";
        var CONTACTS = {{ CONTACTS|safe }};
        var REPORTED_USERS = {{ REPORTED_USERS|safe }};
        var LOGIN_URL = "{% url login %}";
        var GET_SUB_REGIONS_URL = "{% url get_sub_regions %}";
    </script>

    <script type="text/javascript" src="{{ STATIC_URL }}libs/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}libs/jquery-ui/jquery-ui.js"></script>
    <script type='text/javascript' src='{{ STATIC_URL }}libs/tipsy/jquery.tipsy.js'></script>
    <script type="text/javascript" src="{{ STATIC_URL }}libs/underscore.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}libs/backbone.js"></script>
    <script type="text/javascript" src="http://userapi.com/js/api/openapi.js?47"></script>
    <script type="text/javascript" src="http://loginza.ru/js/widget.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
    {% block head %}{% endblock %}
</head>
<body>

    <header>
        <div class="ym-wrapper">
            <div class="ym-wbox">
                <a id="title_link" href="{% url main %}">
                    <span class="title_letter">Г</span>ра<span class="title_letter">К</span>он
                </a>
                <span id="slogan">Гражданский контроль за выборами</span>
            </div>
        </div>
    </header>

    <nav>
        <div class="ym-wrapper">
            <div class="ym-hlist">
                <ul>
                    <li><a href="{% url main %}">Главная</a></li>
                    <li><a href="{% url about %}">О проекте</a></li>
                    <li><a href="#">Новости</a></li>
                    <li><a href="{% url partners %}">Партнеры</a></li>
                    <li><a href="{% url help %}">Как помочь</a></li>
                    <li><a href="{% url contacts %}">Контакты</a></li>
                </ul>

                <!--form class="ym-searchform">
                    <input class="ym-searchfield" type="search" placeholder="Search..." />
                    <input class="ym-searchbutton" type="submit" value="Search" />
                </form-->

                <div class="login_logout">
                    {% if user.is_authenticated %}
                        <a href="{{ user.get_absolute_url }}">{{ user.get_full_name }}</a> |
                        <a href="{% url logout %}?next={{ request.get_full_path }}">Выйти</a>
                    {% else %}
                        <span id="login_btn" class="clickable">Войти</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    {% block breadcrumbs %}{% endblock %}

    <div id="main">

        <div class="ym-wrapper">
            <div class="ym-wbox">

                <div class="ym-column">
                    <div class="ym-col1">
                        <div class="ym-cbox">
                            {% block left_column %}{% endblock %}
                        </div>
                    </div>
                    <div class="ym-col2">
                        <div class="ym-cbox">
                            {% block right_column %}{% endblock %}
                        </div>
                    </div>
                    <div class="ym-col3">
                        <div class="ym-cbox">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="ym-wrapper">
            <div class="ym-wbox">
                <center>
                    <div class="footer_menu">
                        <a href="{% url about %}">О проекте</a>
                        <a href="">Блог</a>
                        <a href="">Политика конфиденциальности</a>
                        <a href="{% url contacts %}">Контакты</a>
                    </div>
                    <div>
                        <a href="https://sites.google.com/site/electionsnetwork/">Гракон</a> &copy;2012.
                        &ndash; Верстка выполнена с помощью <a href="http://www.yaml.de">YAML</a>
                    </div>
                </center>
            </div>
        </div>
    </footer>

{% if not user.is_authenticated %}
    <!-- TODO: move it to the top -->
    {% include "dialogs/login.html" %}
    <script type="text/javascript">
        $("#login_btn").click(function(){
            login_dialog_init("Войдите в систему используя логин/пароль или свой аккаунт на других сервисах");
        });
    </script>
{% endif %}

<script type="text/javascript">
    var reformalOptions = {
        project_id: 53657,
        project_host: "electionsnetwork.reformal.ru",
        force_new_window: false,
        tab_alignment: "left",
        tab_top: "300",
        tab_bg_color: "#248c39",
        tab_image_url: "http://tab.reformal.ru/0J7RgdGC0LDQstC40YLRjCDQvtGC0LfRi9Cy/FFFFFF/f5dab822e975a4eb45fcae69ce487412"
    };

    (function() {
        if ('https:' == document.location.protocol) return;
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'http://media.reformal.ru/widgets/v1/reformal.js';
        document.getElementsByTagName('head')[0].appendChild(script);
    })();
</script>

<!-- Yandex.Metrika counter -->
<div style="display:none;"><script type="text/javascript">
(function(w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter12024115 = new Ya.Metrika({id:12024115, enableAll: true, webvisor:true});
        }
        catch(e) { }
    });
})(window, "yandex_metrika_callbacks");
</script></div>
<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
<noscript><div><img src="//mc.yandex.ru/watch/12024115" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

</body>
</html>
