<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="icon" href="{{ STATIC_URL }}favicon.ico" type="image/x-icon" />
    <title>{% block title %}{{ title }}{% endblock %}</title>

    <link href="{{ STATIC_URL }}css/base.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    {% block head %}{% endblock %}
</head>

<body>

<table>
    <tr>
        <td><a href="/">Home</a></td>
        <td><a href="">ede</a></td>
        <td><a href="">refre</a></td>
        {% block menu %}{% endblock %}
    </tr>
</table>

{% block content %}{% endblock %}

</body>
</html>