{% extends "base.html" %}

{% block head %}
    <script type="text/javascript">
        VK.init({apiId: 2749623, onlyWidgets: true});
    </script>
{% endblock %}

{% block menu %}
    <li>&rarr;</li>
    {% with location=current_location %}
        {% include "elements/location_path.html" %}
    {% endwith %}

    {% if sub_regions %}
        <li>&rarr;</li>
        <li>
            <form id="goto_subregion_form" action="{% url goto_location %}" method="get" style="display:inline; margin:0; padding:0;">
                <select id="goto_subregion" name="region_1">
                    <option value="" selected="selected">Перейти на нижестоящий регион</option>
                    {% for sub_region in sub_regions %}
                    <option value="{{ sub_region.id }}">{{ sub_region.name }}</option>
                    {% endfor %}
                </select>
            </form>
        </li>
    {% endif %}
{% endblock %}

{% block left_column %}
    <h3>Участники</h3>

    <div class="clearfix">
        <div class="side_block_header">
            <h4>Наблюдатели</h4>
        </div>

        <div class="content_block">
            <ul class="side_list">
                {% for observer in participants.observer %}
                <li><a href="{{ observer.get_absolute_url }}">{{ observer.username }}</a></li>
                {% endfor %}
            </ul>
            <button id="become_observer">Записаться</button>
        </div>
    </div>

    <div class="clearfix">
        <div class="side_block_header">
            <h4>Избиратели</h4>
        </div>

        <div class="content_block">
            <ul id="voters_ul" class="side_list">
                {% for voter in participants.voter %}
                <li><a href="{{ voter.get_absolute_url }}">{{ voter.username }}</a></li>
                {% endfor %}
            </ul>
            <button id="become_voter">
                <span id="become_voter_sign_up_btn" {% if is_voter_here %}style="display:none"{% endif %}>
                    Записаться
                </span>
                <span id="become_voter_change_region_btn" {% if not is_voter_here %}style="display:none"{% endif %}>
                    Сменить округ
                </span>
            </button>
        </div>
    </div>
{% endblock %}

{% block right_column %}
    <h3>Инструменты</h3>

    <div class="clearfix">
        <div class="side_block_header">
            <h4>Ссылки</h4>
        </div>

        <div class="content_block">
            <ul id="links_ul" class="side_list">
                {% for link in links %}
                <li><a href="{{ link.url }}" target="_blank">{{ link.name }}</a></li>
                {% endfor %}
            </ul>
            <button id="add_link" title="Добавить ссылку">Добавить</button>
            <button id="report_link" title="Пожаловаться на ссылку">Пожаловаться</button>
        </div>
    </div>
{% endblock %}

{% block content %}

    <h2>{{ current_location }}</h2>

    <div id="vk_comments"></div>
    <script type="text/javascript">
        VK.Widgets.Comments("vk_comments", {limit: 10, width: "496", attach: "*"});
    </script>

    <script type="text/javascript">
        // Create buttons
        $("#become_observer").button({icons: {primary: "ui-icon-check"}});
        $("#become_voter").button({icons: {
            primary: {% if is_voter_here %}"ui-icon-arrowreturnthick-1-e"{% else %}"ui-icon-check"{% endif %}
        }});
        $("#add_link").button({icons: {primary: 'ui-icon-circle-plus'}}).tipsy({gravity: 'w'});
        $("#report_link").button({icons: {primary: 'ui-icon-alert'}}).tipsy({gravity: 'w'});

        $("#goto_subregion").change(function(){
            $("#goto_subregion_form").submit();
        });
    </script>

    {% if user.is_authenticated %}
        {% include "dialogs/become_voter.html" %}

        {% include "dialogs/become_observer.html" %}

        {% include "dialogs/add_link.html" %}

        {% include "dialogs/report_link.html" %}

        <script type="text/javascript">
            // Add link
            $("#add_link_dialog").on("add_link_event", function(){
                $("#links_ul").append($("<li/>").append(
                    $("<a/>").attr("target", "_blank").attr("href", $("#link_url_input").val())
                        .text($("#link_name_input").val())
                ));
            });

            $("#add_link").click(function(){
                add_link_dialog_init("{{ current_location.id }}");
            });

            // Report link
            $("#report_link").click(function(){
                report_link_dialog_init();

                // TODO: move it inside report_link_dialog_init
                $("#links_ul li").each(function(index){
                    var url = $(this).children("a").attr("href");
                    var text = $(this).text();
                    var a_copy = $("<a/>").attr("href", url).text(text);
                    var radio_btn = $("<input/>").attr("type", "radio").attr("name", "report_link_radio").attr("value", url);
                    $("#report_link_ul").append($("<li/>").append(radio_btn).append(a_copy));
                });
            });

            // Become observer
            $("#become_observer").click(function(){
                $("#become_observer_dialog").dialog("open");
            });

            // Become voter
            $("#become_voter").click(function(){
                become_voter_dialog_init([
                    {% if current_location.parent_1 %}{{current_location.parent_1.id }},{% endif %}
                    {% if current_location.parent_2 %}{{current_location.parent_2.id }},{% endif %}
                    {{ current_location.id }}
                ]);
            });

            $("#become_voter_dialog").on("become_voter", function(event, location_id){
                var user_voter_li = $('#voters_ul li a[href="{{ user.get_absolute_url }}"]').parent();
                if (location_id=={{ current_location.id }}){
                    $("#become_voter_sign_up_btn").hide();
                    $("#become_voter_change_region_btn").show();
                    if (user_voter_li.length==0)
                        $("#voters_ul").append($("<li/>").append(
                            $("<a/>").attr("href", "{{ user.get_absolute_url }}").text("{{ user.username }}")
                        ));
                } else {
                    $("#become_voter_sign_up_btn").show();
                    $("#become_voter_change_region_btn").hide();
                    user_voter_li.remove();
                }
            });
        </script>
    {% else %}
        <script type="text/javascript">
            $("#become_observer").click(function(){
                login_dialog_init("Чтобы записаться в наблюдатели, пожалуйста, войдите в систему");
            });

            $("#become_voter").click(function(){
                login_dialog_init("Чтобы записаться в избиратели, пожалуйста, войдите в систему");
            });

            $("#add_link").click(function(){
                login_dialog_init("Чтобы добавить ссылку, пожалуйста, войдите в систему");
            });

            $("#report_link").click(function(){
                login_dialog_init("Чтобы пожаловаться на ссылку, пожалуйста, войдите в систему");
            });
        </script>
    {% endif %}

{% endblock %}
