{% extends "base.html" %}

{% block menu %}
{% if current_location.parent_1 %}
<li>&rarr;</li>
<li><a href="{{ current_location.parent_1.get_absolute_url }}">{{ current_location.parent_1.name }}</a></li>
{% endif %}
{% if current_location.parent_2 %}
<li>&rarr;</li>
<li><a href="{{ current_location.parent_2.get_absolute_url }}">{{ current_location.parent_2.name }}</a></li>
{% endif %}
<li>&rarr;</li>
<li><a href="{{ current_location.get_absolute_url }}">{{ current_location.name }}</a></li>

{% endblock %}

{% block left_column %}
<h3>Участники</h3>
<div id="col1_content_observers" class="clearfix content_block">
    <b>Наблюдатели</b>
    <ul>
        {% for observer in participants.observer %}
        <li><a href="{{ observer.get_absolute_url }}">{{ observer.username }}</a></li>
        {% endfor %}
    </ul>
</div>
<div id="col1_content_voters" class="clearfix content_block">
    <b>Избиратели</b>
    <ul id="voters_ul">
        {% for voter in participants.voter %}
        <li><a href="{{ voter.get_absolute_url }}">{{ voter.username }}</a></li>
        {% endfor %}
    </ul>
    <button id="become_voter">{% if is_voter_here %}Голосовать в другом месте{% else %}Записаться в избиратели{% endif %}</button>
</div>
{% endblock %}

{% block right_column %}
<h3>Инструменты</h3>
<div class="clearfix content_block" id="col2_content_links">
    <b>Ссылки</b>
    <ul id="links_ul">
        {% for link in links %}
        <li><a href="{{ link.url }}" target="_blank">{{ link.name }}</a></li>
        {% endfor %}
    </ul>
    <button id="add_link">Добавить ссылку</button>
    <button id="report_link">Пожаловаться на ссылку</button>
</div>
{% endblock %}

{% block content %}

<h2>{{ current_location }}</h2>

<script type="text/javascript">
    VK.init({apiId: 2749623, onlyWidgets: true});
</script>

<div id="vk_comments"></div>
<script type="text/javascript">
VK.Widgets.Comments("vk_comments", {limit: 10, width: "496", attach: "*"});
</script>


<div id="add_link_dialog">
    Добавить ссылку
    <form id="add_link_form" method="post" action="{% url add_link %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>Название</td>
                <td><input id="link_name_input" name="name" value="" /></td>
            </tr>
            <tr>
                <td>URL</td>
                <td><input id="link_url_input" name="url" value="" /></td>
            </tr>
        </table>
        <input type="hidden" name="location" value="{{ current_location.id }}" />
    </form>
</div>

<div id="report_link_dialog">
    Пожаловаться на ссылку
    <form id="report_link_form" method="post" action="{% url report_link %}">
        {% csrf_token %}
        <ul id="report_link_ul"></ul>
        <input type="hidden" name="location" value="{{ current_location.id }}" />
    </form>
</div>

<div id="become_voter_dialog">
    Записаться в голосующие
    <form id="become_voter_form" method="post" action="{% url become_voter %}">
        {% csrf_token %}
        {% include "region_choice.html" %}
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        // Add links dialog
        $("#add_link_dialog").dialog({width:650, height:250, modal: true, buttons: {
            "Добавить": function(){
                $.post($("#add_link_form").attr("action"), $("#add_link_form").serialize(), function(data){
                    if (data=="ok")
                        $("#links_ul").append($("<li/>").append(
                            $("<a/>").attr("target", "_blank").attr("href", $("#link_url_input").val()).text($("#link_name_input").val())
                        ));
                    $("#add_link_dialog").dialog("close");
                });
            },
            "Отмена": function(){$("#add_link_dialog").dialog("close");},
        }}).dialog("close");

        $("#add_link").button().click(function(){
            $("#link_name_input").val("");
            $("#link_url_input").val("");
            $("#add_link_dialog").dialog("open");
        });

        // Report link dialog
        $("#report_link_dialog").dialog({width:650, height:250, modal: true, buttons: {
            "Пожаловаться": function(){
                $.post($("#report_link_form").attr("action"), $("#report_link_form").serialize(), function(data){
                    $("#report_link_dialog").dialog("close");
                    alert("Ваша жалоба будет рассмотрена в ближайшее время");
                });
            },
            "Отмена": function(){$("#report_link_dialog").dialog("close");},
        }}).dialog("close");

        $("#report_link").button().click(function(){
            $("#report_link_dialog").dialog("open");
            $("#report_link_ul li").remove();
            $("#links_ul li").each(function(index){
                var url = $(this).children("a").attr("href");
                var text = $(this).text();
                var a_copy = $("<a/>").attr("href", url).text(text);
                var radio_btn = $("<input/>").attr("type", "radio").attr("name", "report_link_radio").attr("value", url);
                $("#report_link_ul").append($("<li/>").append(radio_btn).append(a_copy));
            });
        });

        // Register as a voter dialog
        $("#become_voter_dialog").dialog({width:650, height:250, modal: true, buttons: {
            "Записаться": function(){
                $.post($("#become_voter_form").attr("action"), $("#become_voter_form").serialize(), function(data){
                    $("#become_voter_dialog").dialog("close");
                });
            },
            "Отмена": function(){$("#become_voter_dialog").dialog("close");},
        }}).dialog("close");

        $("#become_voter").button().click(function(){
            $("#select_region_1").val(current_location);
            $("#become_voter_dialog").dialog("open");
        });
    });
</script>
{% endblock %}
