<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Сеть Народных Наблюдателей</title>
<link href="css/main_layout.css" rel="stylesheet" type="text/css"/>
<link href="css/ui-lightness/jquery-ui-1.8.16.custom.css" rel="stylesheet" type="text/css"/>
<!--[if lte IE 7]>
<link href="css/patches/patch_main_layout.css" rel="stylesheet" type="text/css" />
<![endif]-->
<script type="text/javascript" src="js/jquery-dev.js"></script>
<script type="text/javascript" src="js/jquery-ui.custom.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</head>
<body>
<div class="page_margins">
  <div class="page">

    <!-- begin: main navigation #nav -->
    <div id="nav" role="navigation">
      <div class="hlist">
        <ul>
          <li>&rarr;</li>
          <li><a href="index.html">Главная ></a></li>
          <li>&rarr;</li>
          <li><a href="#" id="location_link_12">г. Москва ></a></li>
          <li>&rarr;</li>
          <li><a href="location_uik.html" id="location_link_123">УИК 1 ></a></li>
          <li>&rarr;</li>
          <li><a href="#" id="register">Зарегистрироваться</a></li>
          <li>&rarr;</li>
          <li><a href="#" id="login">Войти</a></li>
        </ul>
      </div>
    </div>
    <!-- end: main navigation -->

    <!-- begin: main content area #main -->
    <div id="main">
      <!-- begin: #col1 - first float column -->
      <div id="col1" role="complementary">
        <div id="col1_content" class="clearfix">
        <h3>Участники</h3>
         <div id="col1_content_nabludateli" class="clearfix content_block">
	          <b>Наблюдатели (2)</b>
	          <ul id='candidates_ul'><li>Ирина</li><li>Виктор</li></ul>
          </div>
          <div id="col1_content_voters" class="clearfix content_block">
          	<b>Избиратели (3) </b>
          	<ul id='candidates_ul'><li>Анна</li><li>Виталий</li><li>Екатерина</li></ul>
          	<button id="become_voter">Записаться избирателем</button>
          </div>
        </div>
         
      </div>
      <!-- end: #col1 -->

      <!-- begin: #col2 second float column -->
      <div id="col2" role="complementary">
        <div id="col2_content" class="clearfix">
          <h3>Инструменты</h3>
          <div class="clearfix content_block" id="col2_content_links">
          <b>Ссылки</b>
          <ul>
          <li><a href="#">Как стать наблюдателем</a></li>
          <li><a href="#">Инструкция наблюдателя</a></li>
          <li><a href="#">Карта нарушений</a></li>
          <li><a href="#">Местная газета о выборах</a></li>
          <li><a href="#">Страница райнона в localo.ru</a></li>
          </ul>
          </div>
          <div class="clearfix content_block" id="col2_content_uik_nav">
          <b>Выбрать УИК</b>
           <select id="select_region" name="eregion"><option value="">Выбрать регион</option>
 <option value="Алтайский край">Алтайский край</option>
<option value="Амурская область">Амурская область</option>
<option value="Архангельская область">Архангельская область</option>
<option value="Астраханская область">Астраханская область</option>
<option value="Белгородская область">Белгородская область</option>
<option value="Брянская область">Брянская область</option>
<option value="Владимирская область">Владимирская область</option>
<option value="Волгоградская область">Волгоградская область</option>
<option value="Вологодская область">Вологодская область</option>
<option value="Воронежская область">Воронежская область</option>
<option value="город Москва">город Москва</option>
<option value="город Санкт-Петербург">город Санкт-Петербург</option>
<option value="Еврейская автономная область">Еврейская автономная область</option>
<option value="Забайкальский край">Забайкальский край</option>
<option value="Ивановская область">Ивановская область</option>
<option value="Иные территории">Иные территории</option>
<option value="Иркутская область">Иркутская область</option>
<option value="Кабардино-Балкарская Р-ка">Кабардино-Балкарская Р-ка</option>
<option value="Калининградская область">Калининградская область</option>
<option value="Калужская область">Калужская область</option>
<option value="Камчатский край">Камчатский край</option>
<option value="Карачаево-Черкесская Р-ка">Карачаево-Черкесская Р-ка</option>
<option value="Кемеровская область">Кемеровская область</option>
<option value="Кировская область">Кировская область</option>
<option value="Костромская область">Костромская область</option>
<option value="Краснодарский край">Краснодарский край</option>
<option value="Красноярский край">Красноярский край</option>
<option value="Курганская область">Курганская область</option>
<option value="Курская область">Курская область</option>
<option value="Ленинградская область">Ленинградская область</option>
<option value="Липецкая область">Липецкая область</option>
<option value="Магаданская область">Магаданская область</option>
<option value="Московская область">Московская область</option>
<option value="Мурманская область">Мурманская область</option>
<option value="Ненецкий а. о.">Ненецкий а. о.</option>
<option value="Нижегородская область">Нижегородская область</option>
<option value="Новгородская область">Новгородская область</option>
<option value="Новосибирская область">Новосибирская область</option>
<option value="Омская область">Омская область</option>
<option value="Оренбургская область">Оренбургская область</option>
<option value="Орловская область">Орловская область</option>
<option value="Пензенская область">Пензенская область</option>
<option value="Пермский край">Пермский край</option>
<option value="Приморский край">Приморский край</option>
<option value="Псковская область">Псковская область</option>
<option value="Р-ка Адыгея (Адыгея)">Р-ка Адыгея (Адыгея)</option>
<option value="Р-ка Алтай">Р-ка Алтай</option>
<option value="Р-ка Башкортостан">Р-ка Башкортостан</option>
<option value="Р-ка Бурятия">Р-ка Бурятия</option>
<option value="Р-ка Дагестан">Р-ка Дагестан</option>
<option value="Р-ка Ингушетия">Р-ка Ингушетия</option>
<option value="Р-ка Калмыкия">Р-ка Калмыкия</option>
<option value="Р-ка Карелия">Р-ка Карелия</option>
<option value="Р-ка Коми">Р-ка Коми</option>
<option value="Р-ка Марий Эл">Р-ка Марий Эл</option>
<option value="Р-ка Мордовия">Р-ка Мордовия</option>
<option value="Р-ка Саха (Якутия)">Р-ка Саха (Якутия)</option>
<option value="Р-ка Северная Осетия-Алания">Р-ка Северная Осетия-Алания</option>
<option value="Р-ка Татарстан (Татарстан)">Р-ка Татарстан (Татарстан)</option>
<option value="Р-ка Тыва">Р-ка Тыва</option>
<option value="Р-ка Хакасия">Р-ка Хакасия</option>
<option value="Ростовская область">Ростовская область</option>
<option value="Рязанская область">Рязанская область</option>
<option value="Самарская область">Самарская область</option>
<option value="Саратовская область">Саратовская область</option>
<option value="Сахалинская область">Сахалинская область</option>
<option value="Свердловская область">Свердловская область</option>
<option value="Смоленская область">Смоленская область</option>
<option value="Ставропольский край">Ставропольский край</option>
<option value="Тамбовская область">Тамбовская область</option>
<option value="Тверская область">Тверская область</option>
<option value="Томская область">Томская область</option>
<option value="Тульская область">Тульская область</option>
<option value="Тюменская область">Тюменская область</option>
<option value="Удмуртская Р-ка">Удмуртская Р-ка</option>
<option value="Ульяновская область">Ульяновская область</option>
<option value="Хабаровский край">Хабаровский край</option>
<option value="Ханты-Мансийский а. о.">Ханты-Мансийский а. о.</option>
<option value="Челябинская область">Челябинская область</option>
<option value="Чеченская Р-ка">Чеченская Р-ка</option>
<option value="Читинская область">Читинская область</option>
<option value="Чувашская Р-ка - Чувашия">Чувашская Р-ка - Чувашия</option>
<option value="Чукотский а. о.">Чукотский а. о.</option>
<option value="Ямало-Ненецкий а. о.">Ямало-Ненецкий а. о.</option>
<option value="Ярославская область">Ярославская область</option></select><br/>
<select id="region_uik"><option value="">Выбрать участок</option><option value="">Участок 2</option></select><br/>
<button id="goto_region">Перейти</button>
          </div>
        <div class="clearfix content_block" id="twitter_block">  
          <p><a href="http://twitter.com/nabludatel_org" class="twitter-follow-button" data-lang="ru" data-show-count="false">Читать @nabludatel_org</a></p>
<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
		</div>
		<div class="clearfix content_block" id="vk_groups">
			<script type="text/javascript" src="http://userapi.com/js/api/openapi.js?34"></script>
          <script type="text/javascript">VK.Widgets.Group("vk_groups", {mode: 0, width: "175", height: "360"}, 28505189);</script>          
        </div>
                <!-- IE Column Clearing -->
        <div id="ie_clearing">&nbsp;</div>
      </div>
      </div>
      <!-- end: #col2 -->

      <!-- begin: #col3 static column -->
      <div id="col3" role="main">
        <div id="col3_content" class="clearfix">
        <h2>Страница города Москва</h2>
         <p>Чтобы общаться с участниками, войдите в систему:  <button id="login2">Зарегистрируйтесь/Войдите</button></p>
         <p>В г. Москва 3374 избирательных участка. Чтобы просматривать информацию анонимно выберите избирательный участок: <br/>
         <select id="region_raion1"><option value="">Выбрать округ</option><option value="">ЦАО</option><option value="">САО</option><option value="">ЮАО</option><option value="">ЮВАО</option></select><br/>
         <select id="region_uik1"><option value="">Выбрать участок</option><option value="">Участок 1</option></select><br/>
         <button id="goto_region2">Перейти</button></p>
        </div>
        <!-- IE Column Clearing -->
        <div id="ie_clearing">&nbsp;</div>
      </div>
      <!-- end: #col3 -->
    </div>
    <!-- end: #main -->

</div>
<div id="login_dialog" title="Авторизация"><b>Вход в систему через внешние сервисы авторизации</b></div>
<!-- begin: #footer -->
    <div id="footer" role="contentinfo"> Footer with copyright notice and status information<br />Layout based on <a href="http://www.yaml.de/">YAML</a> </div>
    <!-- end: #footer -->
  </div>

</body>
</html>
