{% extends "base.html" %}

{% block content %}

<h1>{{ profile_user.first_name }} {{ profile_user.last_name }} ({{ profile_user.username }})</h1>

<h4>Участие в выборах</h4>
<ul>
    {% for participation in participations %}
    <li><a href="{{ participation.location.get_absolute_url }}">{{ participation.location }}</a> - {{ participation.type_name }}</li>
    {% empty %}
    <li>Еще не записан. <a href="/">Записаться.</a></li>
    {% endfor %}
</ul>

<h4>Ссылки</h4>
<ul>
    {% for link in links %}
    <li>
        <a href="{{ link.location.get_absolute_url }}">{{ link.location }}</a>:
        <a href="{{ link.url }}" target="_blank">{{ link.name }}</a>
    </li>
    {% empty %}
    <li>Ссылки еще не добавлены.</li>
    {% endfor %}
</ul>

{% if profile_user != user %}
<table>
    <tr>
        <td><button id="send_message">Отправить сообщение</button></td>
        {% if not is_friend %}<td><button id="add_to_contacts">Добавить в контакты</button></td>{% endif %}
        <td><button id="report_user">Пожаловаться</button></td>
    </tr>
</table>

<script type="text/javascript">
    $("#add_to_contacts").click(function(){
        $.post("{% url add_friend %}", {user: "{{ profile_user.username }}"}, function(data){
            console.log(data);
        });
    });
</script>
{% endif %}

{% endblock %}