{% extends "base.html" %}

{% load loginza_widget %}

{% block left_column %}
    <div class="clearfix content_block">
        <h4>Контакты</h4>
        <ul id="contacts_ul">
            {% for contact in contacts %}
            <li><a href="{{ contact.contact.get_absolute_url }}">{{ contact.contact.username }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="clearfix content_block">
        <h4>Добавлен в контакты</h4>
        <ul id="have_in_contacts_ul">
            {% for contact in have_in_contacts %}
            <li><a href="{{ contact.user.get_absolute_url }}">{{ contact.user.username }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block right_column %}
    <div class="clearfix content_block">
        <h4>Ссылки</h4>
        <ul>
            {% for link in links %}
            <li>
                <a href="{{ link.url }}" target="_blank">{{ link.name }}</a>
                (<a href="{{ link.location.get_absolute_url }}">{{ link.location }}</a>)
            </li>
            {% empty %}
            <li>Ссылки еще не добавлены.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block content %}

<h1>{{ profile_user.first_name }} {{ profile_user.last_name }} ({{ profile_user.username }})</h1>

<div id="in_contacts" {% if not in_contacts %}class="hidden"{% endif %}><i>Добавлен в контакты</i></div>
<div id="is_reported" {% if not is_reported %}class="hidden"{% endif %}><b>Вы пожаловались на этого пользователя</b></div>

{% if profile_user != user %}
    <div class="user_actions">
        <button id="send_message">Отправить сообщение</button></td>
        <button {% if in_contacts %}class="hidden"{% endif %} id="add_to_contacts">Добавить в контакты</button>
        <button {% if is_reported %}class="hidden"{% endif %} id="report_user">Пожаловаться</button>
    </div>

    {% if user.is_authenticated %}
    <div id="send_message_dialog">
        Отправить сообщение пользователю {{ profile_user.username }}

        <form id="send_message_form" method="post" action="{% url send_message %}">
            {% csrf_token %}
            <table>
                <tr>
                    <td><input type="text" name="title" name="message_title" value="" /></td>
                </tr>
                <tr>
                    <td><textarea name="message_body"></textarea></td>
                </tr>
            </table>
            <input type="hidden" name="username" value="{{ profile_user.username }}" />
        </form>
    </div>

    <div id="add_to_contacts_dialog">
        Добавить пользователя {{ profile_user.username }} в список контактов?

        <form id="add_to_contacts_form" method="post" action="{% url add_to_contacts %}">
            {% csrf_token %}
            <input type="hidden" name="username" value="{{ profile_user.username }}" />
        </form>
    </div>

    <div id="report_user_dialog">
        Пожаловаться на пользователя {{ profile_user.username }}?

        <form id="report_user_form" method="post" action="{% url report_user %}">
            {% csrf_token %}
            <input type="hidden" name="username" id="report_user_hidden_username" />
        </form>
    </div>

    <script type="text/javascript">
        // Send message
        // TODO: write shortcut function with params (dialog_div_id, btn_name, on_click)
        $("#send_message_dialog").dialog({width:650, height:250, modal: true, title: "Отправить сообщение",
            buttons: {
                "Отправить": function(){
                    $.post("{% url send_message %}", $("#send_message_form").serialize(), function(data){
                        $("#send_message_dialog").dialog("close");
                        if (data=="ok")
                            alert("Сообщение успешно отправлено");
                        else
                            alert("Не удалось отправить сообщение");
                    });
                },
                "Отмена": function(){$("#send_message_dialog").dialog("close");}
            }
        }).dialog("close");

        $("#send_message").button().click(function(){
            $("#send_message_dialog").dialog("open");
        });

        // Add to contacts dialog
        $("#add_to_contacts_dialog").dialog({width:650, height:250, modal: true, title: "Добавить в контакты",
            buttons: {
                "Добавить": function(){
                    $.post("{% url add_to_contacts %}", $("#add_to_contacts_form").serialize(), function(data){
                        $("#in_contacts").removeClass("hidden");
                        $("#add_to_contacts").parent().addClass("hidden");
                        $("#add_to_contacts_dialog").dialog("destroy");

                        var user_link = $("<a/>").attr("href", "{{ user.get_absolute_url }}").text("{{ user.username }}");
                        $("#have_in_contacts_ul").append($("<li/>").append(user_link));
                    });
                },
                "Отмена": function(){$("#add_to_contacts_dialog").dialog("close");}
            }
        }).dialog("close");

        $("#add_to_contacts").button().click(function(){
            $("#add_to_contacts_dialog").dialog("open");
        });

        // Report user dialog
        $("#report_user_dialog").dialog({width:650, height:250, modal: true, title: "Пожаловаться на пользователя",
            buttons: {
                "Пожаловаться": function(){
                    $.post("{% url report_user %}", $("#report_user_form").serialize(), function(data){
                        $("#is_reported").removeClass("hidden");
                        $("#report_user").parent().addClass("hidden");
                        $("#report_user_dialog").dialog("close");
                    });
                },
                "Отмена": function(){$("#report_user_dialog").dialog("close");}
            }
        }).dialog("close");

        $("#report_user").button().click(function(){
            $("#report_user_hidden_username").val("{{ profile_user.username }}");
            $("#report_user_dialog").dialog("open");
        });

    </script>

{% else %} {# User is not authenticated #}

    <div>
        <div id="login_dialog">
            {% loginza_icons providers_set="google,vkontakte,facebook,livejournal,yandex,mailru,rambler,twitter,odnoklassniki" lang="ru" %}
        </div>
    </div>

    {% endif %}

{% endif %}

<h4>Участие в выборах</h4>
<ul>
    <li>
        {% if profile_user == user and user.is_authenticated %}
            <button id="become_observer">Записаться в наблюдатели</button>
        {% endif %}
    </li>

    <li>
        {% if activities.voter %}
            {% with location=activities.voter.location %}
            {% include "elements/location_path.html" %}
            {% endwith %} - Избиратель
        {% else %}
            Еще не записан на голосование.
        {% endif %}

        {% if profile_user == user %}
            <button id="become_voter">{% if activities.voter %}Сменить участок{% else %}Записаться в избиратели{% endif %}</button>
        {% endif %}
    </li>
</ul>

{% include "elements/become_observer.html" %}

{% include "elements/become_voter.html" %}

<script type="text/javascript">
    $("#become_observer").button().click(function(){
        $("#become_observer_dialog").dialog("open");
    });
    $("#become_voter").button().click(function(){
        set_select_location("become_voter_form"
            {% if activities.voter.location.parent_1 %}, {{activities.voter.location.parent_1.id }}{% endif %}
            {% if activities.voter.location.parent_2 %}, {{activities.voter.location.parent_2.id }}{% endif %}
            , {{activities.voter.location.id }}
        );
        $("#become_voter_dialog").dialog("open");
    });
</script>

{% endblock %}
