<select id="select_region_1" name="region_1">
    <option value="">Выбрать регион</option>
    {% for location in locations %}
        <option value="{{ location.id }}">{{ location }}</option>
    {% endfor %}
</select>
<br/>
<select id="select_region_2" name="region_2">
    <option value="">Выбрать район</option>
</select>
<br/>
<select id="select_region_3" name="region_3">
    <option value="">Выбрать УИК</option>
</select>

<script type="text/javascript">
    $(document).ready(function(){
        $("#select_region_1 option").click(function(){
            if ($(this).val()!=""){
                
            }
        });
        
    });
</script>
