<select id="select_region_1" name="region_1">
    <option value="">Выбрать регион</option>
    {% for location in locations %}
        <option value="{{ location.id }}">{{ location }}</option>
    {% endfor %}
</select>
<br/>
<select id="select_region_2" name="region_2">
    <option value="">Все районы</option>
</select>
<br/>
<select id="select_region_3" name="region_3">
    <option value="">Все УИКи</option>
    <option value="1245">1245</option>
</select>

<script type="text/javascript">
    $(document).ready(function() {
        $("#select_region_2, #select_region_3").hide();
        $("#select_region_1").change(function() {
            $("#select_region_2, #select_region_3").hide();
            if ($(this).val() != "") {
            //TODO: Load options and select default.
            $("#select_region_2").show();
            }
        });
        $("#select_region_2").change(function() {
            $("#select_region_3").hide();
            if ($(this).val() != "") {
            //TODO: Load options and select default.
            $("#select_region_3").show();
            }
        });
    });
</script>
