@media screen, projection
{
  /**
   * (en) Repositioning content container
   *
   * |-------------------------------|
   * | #header                       |
   * |-------------------------------|
   * | #col1   | #col3     | #col2   |
   * | 25%     | flexible  | 25%     |
   * |-------------------------------|
   * | #footer                       |
   * |-------------------------------|
   */

  /* #col1 becomes the left column */
  #col1 { width: 25%; }

  /* #col2 becomes the right column */
  #col2 { width: 25%; }

  /* #col3 becomes the middle column */
  #col3 { margin-left: 25%; margin-right: 25%; }
}
