@media screen, projection
{
  /** 
   * (en) Forcing vertical scrollbars in IE8, Firefox, Webkit & Opera 
   * (de) Erzwingen vertikaler Scrollbalken in IE8, Firefox, Webkit & Opera 
   *
   * @workaround
   * @affected IE8, FF, Webkit, Opera
   * @css-for all
   * @valid CSS3
   */

  body { overflow-y:scroll; }

  /*------------------------------------------------------------------------------------------------------*/
  
  /* Formatting YAML's  basic layout elements */

  /* Marginal areas & page background */
  body { background:#4d87c7 url("../../images/bg_blue.png") repeat-x top left fixed; padding:10px 0; }

  /* Centering layout in old IE-versions */
  body { text-align:center; }
  .page_margins { text-align:left; margin:0 auto; }

  /* Layout:width, background, borders */
  .page_margins { min-width:740px; max-width:80em; background:#fff; }
  .page { padding:10px; }

  #header {
    color:#000;
    background:#fff repeat-x top left;
    padding:45px 2em 1em 20px;
	position:relative;
  }

  /* #topnav gets absolute positioning within #header */
  #topnav { 
	background:transparent; 
  	color:#aaa; 
	
    position:absolute;
    top:10px;
    right:10px; /* LTR */
	text-align:right; /* LTR */
  }

  /* (en) adjustment of main navigation */
  #nav ul { margin-left:20px; }

  #main { background:#fff;padding:10px 0; }

  #footer {
    color:#666;
    background:#f9f9f9;
    padding:10px 20px;
    border-top:5px #efefef solid;
    line-height:1.5em;
  }

  /* Backup for correct positioning */
  #header, #nav, #main, #footer { clear:both; }

  /*------------------------------------------------------------------------------------------------------*/

  /**
   * Formatting content container
   *
   * |-------------------------------|
   * | #header                       |
   * |-------------------------------|
   * | #col1   | #col3     | #col2   |
   * | 25%     | flexible  | 25%     |
   * |-------------------------------|
   * | #footer                       |
   * |-------------------------------|
   */


  #col1 { width:25%; }
  #col1_content { padding:10px 10px 10px 20px; }

  #col2 { width:25%; }
  #col2_content { padding:10px 20px 10px 10px; }

  #col3 { margin:0 25%; }
  #col3_content { padding:10px; }

 /**
  * ------------------------------------------------------------------------------------------------- #
  *
  * (en) Styling of layout specific elements
  */

  #header h1 {
    font-weight:bold;
    font-size:2.5em;
    letter-spacing:-2px;
    line-height:65%;
    color:#000;
  }

  #header span { color:#999; }

  #topnav a { color:#999; font-weight:normal; background:transparent; text-decoration:none; }
  #topnav a:focus,
  #topnav a:hover,
  #topnav a:active { text-decoration:underline; background-color:transparent; }

  #footer a { color:#999; background:transparent; font-weight:bold; }
  #footer a:focus,
  #footer a:hover,
  #footer a:active {color:#4D87C7; background-color:transparent; text-decoration:underline; }

 /**
  * ------------------------------------------------------------------------------------------------- #
  *
  * Skiplinks 
  *
  * (en) Visual styling for skiplink navigation
  *
  * @section content-skiplinks
  */
  
  #skiplinks a.skip:focus,
  #skiplinks a.skip:active { 
	color:#fff; 
	background:#333; 
	border-bottom:1px #000 solid;
	padding:10px 0;
	text-decoration:none;
  }
}
