@media screen, projection
{
/** 
* (en) Forcing vertical scrollbars in IE8, Firefox, Webkit & Opera 
* (de) Erzwingen vertikaler Scrollbalken in IE8, Firefox, Webkit & Opera 
*
* @workaround
* @affected IE8, FF, Webkit, Opera
* @css-for all
* @valid CSS3
*/

body {
     overflow-y: scroll;
}

/*------------------------------------------------------------------------------------------------------*/

/* Formatting YAML's  basic layout elements */

.page_margins {
    text-align: left;
    margin: 0 auto;
}

/* Layout: width, background, borders */
.page_margins {
    width: 95%;
    min-width: 890px;
    max-width: 1200px;
    background: #fff;
}
.page {
    padding: 10px;
}

#header {
    color: #000;
    background: -webkit-gradient(linear, left top, left bottom, from(#1C94C4), to(#003366));
    background: -moz-linear-gradient(top, #1C94C4, #003366);
    margin: 0 -5px 10px;
    padding: 30px 30px 20px;
    position: relative;
    -webkit-box-shadow: 0 0 10px #333;
    box-shadow: 0 0 10px #333;
}

/* #topnav gets absolute positioning within #header */
#topnav {
    background: transparent;
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 10px;
    /* LTR */
    text-align: right;
    /* LTR */
}

/* (en) adjustment of main navigation */

#main {
    background: #fff;
    padding: 20px 0 140px;
}

#footer {
    color: #666;
    background: #f5f5f5;
    margin-bottom: 30px;
    padding: 10px 20px;
    border-top: 5px #efefef solid;
    line-height: 1.5em;
}

/* Backup for correct positioning */
#header, #nav, #main, #footer {
    clear: both;
}

/*------------------------------------------------------------------------------------------------------*/

/**
* Formatting content container
*
* |-------------------------------|
* | #header                       |
* |-------------------------------|
* | #col1   | #col3     | #col2   |
* | 25%     | flexible  | 25%     |
* |-------------------------------|
* | #footer                       |
* |-------------------------------|
*/


#col1 {
    width: 24%;
    min-width: 212px;
    max-width: 250px;
}
#col1_content {
    padding: 10px 10px 10px 20px;
}

#col2 {
    width: 24%;
    min-width: 212px;
    max-width: 250px;
}
#col2_content {
    padding: 10px 20px 10px 10px;
}

#col3 {
    margin: 0 25%;
}
#col3_content {
    padding: 10px;
}

/**
* ------------------------------------------------------------------------------------------------- #
*
* (en) Styling of layout specific elements
*/

#header h1 {
    color: #000;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}

#header span {
    color: #999;
}

#topnav a {
    color: #999;
    font-weight: normal;
    background: transparent;
    text-decoration: none;
}
#topnav a:focus,
#topnav a:hover,
#topnav a:active {
    text-decoration: underline;
    background-color: transparent;
}

#footer a {
    color: #999;
    background: transparent;
    font-weight: bold;
}
#footer a:focus,
#footer a:hover,
#footer a:active {
    color: #4D87C7;
    background-color: transparent;
    text-decoration: underline;
}

/**
* ------------------------------------------------------------------------------------------------- #
*
* Skiplinks 
*
* (en) Visual styling for skiplink navigation
*
* @section content-skiplinks
*/

#skiplinks a.skip:focus,
#skiplinks a.skip:active {
    color: #fff;
    background: #333;
    border-bottom: 1px #000 solid;
    padding: 10px 0;
    text-decoration: none;
}




}

