{% extends "base.html" %}

{% load elements %}

{% block left_column %}
    <div class="ym-clearfix">
        <div class="side_block_header">
            <h4>Контакты</h4>
        </div>
        <div class="content_block">
            <ul id="contacts_ul" class="side_list">
                {% for contact in contacts %}
                <li>
                    <a href="{{ contact.contact.get_absolute_url }}">{{ contact.contact.username }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="side_block_header">
            <h4>Добавлен в контакты</h4>
        </div>
        <div class="content_block">
            <ul id="have_in_contacts_ul" class="side_list">
                {% for contact in have_in_contacts %}
                    <li><a href="{{ contact.user.get_absolute_url }}">{{ contact.user.username }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block right_column %}
    <div class="ym-clearfix">
        <div class="side_block_header">
            <h4>Ссылки</h4>
        </div>
        <div class="content_block">
            {% if links %}
            <ul class="side_list">
                {% for link in links %}
                    <li>
                        <a href="{{ link.url }}" target="_blank">{{ link.name }}</a>
                        <br/>
                        <a href="{{ link.location.get_absolute_url }}">{{ link.location }}</a>
                    </li>
                {% endfor %}
            </ul>
            {% else %}
            <i>Ссылки еще не добавлены</i>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content_header %}
    <h2 class="location_header">{{ profile_user.first_name }} {{ profile_user.last_name }} ({{ profile_user.username }})</h2>

    {% if profile_user == user %}
        {% tabs "tabs" profile_view "Профиль" "my_profile" "users/profile_view.html" "Редактировать" "edit_profile" "users/profile_edit.html" %}
    {% else %}
        <div class="ym-cbox">
            {% include "users/profile_view.html" %}
        </div>
    {% endif %}

    <script type="text/javascript">
        $("#contacts_ul li").each(function(index){
            var list_item = new UserListItem($(this));
        });

        $("#have_in_contacts_ul li").each(function(index){
            var list_item = new UserListItem($(this));
        });
    </script>

    {% include "dialogs/report.html" %}

    {% include "dialogs/send_message.html" %}

    {% include "dialogs/add_to_contacts.html" %}

    {% include "dialogs/remove_from_contacts.html" %}

    {% if user.is_authenticated %}
        <script type="text/javascript">
            $("#add_to_contacts_dialog").on("add_to_contacts_event", function(event, username){
                if (IS_USER_PROFILE){
                    $('#have_in_contacts_ul li a[href="/users/'+username+'/"]').parent().children(".ui-icon-plus").remove();
                    new UserListItem($("<li/>").appendTo("#contacts_ul"), username);
                } else {
                    $('#contacts_ul li a[href="/users/'+username+'/"]').parent().children(".ui-icon-plus").remove();
                    $('#have_in_contacts_ul li a[href="/users/'+username+'/"]').parent().children(".ui-icon-plus").remove();
                }

                if (username=="{{ profile_user.username }}"){
                    $("#in_contacts").show();
                    $("#add_to_contacts").hide();
                    $("#remove_from_contacts").show();
                    new UserListItem($("<li/>").appendTo("#have_in_contacts_ul"), USERNAME);
                }
            });

            $("#remove_from_contacts_dialog").on("remove_from_contacts_event", function(event, username){
                if (IS_USER_PROFILE)
                    $('#contacts_ul li a[href="/users/'+username+'/"]').parent().remove();

                if (username=="{{ profile_user.username }}"){
                    $("#in_contacts").hide();
                    $("#remove_from_contacts").hide();
                    $("#add_to_contacts").show()
                    $('#have_in_contacts_ul li a[href="{{ user.get_absolute_url }}"]').parent().remove();
                }
            });

            $("#report_user_dialog").on("report_dialog_event", function(event, username){
                $('#contacts_ul li a[href="/users/'+username+'/"]').parent().children(".ui-icon-notice").css("visibility", "hidden");
                $('#have_in_contacts_ul li a[href="/users/'+username+'/"]').parent().children(".ui-icon-notice").css("visibility", "hidden");
            });
        </script>
    {% endif %}
{% endblock %}

