<p>Идея создания этой интернет-площадки родилась в&nbsp;декабре 2011&nbsp;года. Группа друзей-выпускников Физтеха,
учась в&nbsp;аспирантуре за&nbsp;рубежом, напряжённо следила за&nbsp;развитием событий на&nbsp;Родине после выборов в&nbsp;Госдуму.
Мы&nbsp;видели, как появляются в&nbsp;Интернете заметки, фото и&nbsp;видео, свидетельствующие о&nbsp;массовых нарушениях и
фальсификациях на&nbsp;выборах. Многие россияне, включая наших друзей, вышли на&nbsp;митинги, чтобы выразить своё
отношение к&nbsp;происходящему и&nbsp;бороться за&nbsp;свои права. Мы&nbsp;тоже хотели каким-то образом помочь и&nbsp;решили,
что самым эффективным вкладом с&nbsp;нашей стороны будет создание интернет-площадки для общественного контроля за&nbsp;выборами.</p>


<h4>Цель</h4>

<p>Обеспечить прозрачность и&nbsp;честность президентских выборов-2012. В&nbsp;сложившейся ситуации поможет только
<b>общественный контроль над их&nbsp;проведением</b>.</p>

<h4>Для кого эта площадка?</h4>

<p><b>Для каждого гражданина России</b>. Каждому из&nbsp;нас виден только один кусочек паззла&nbsp;&mdash; свой город,
свой избирательный участок. Но&nbsp;мы&nbsp;хотим видеть общую картину&nbsp;&mdash; реальную, а&nbsp;не&nbsp;ту, что показывают по&nbsp;ТВ.
И&nbsp;для этого надо сложить наши кусочки паззла вместе. Именно так строится гражданское общество.</p>

<h5>Что здесь можно сделать ДО&nbsp;ВЫБОРОВ?</h5>

<ul>
    <li>найти небезразличных к&nbsp;происходящему на&nbsp;выборах избирателей, наблюдателей, юристов, журналистов,
    членов УИК <b>в&nbsp;своём городе</b>;</li>
    <li><b>скоординировать действия</b> друг с&nbsp;другом;</li>
    <li>собрать в&nbsp;открытом доступе <b>имена членов избирательных комиссий</b>;</li>
    <li>узнать, <b>как стать наблюдателем</b>;</li>
    <li>узнать о&nbsp;защите своих <b>избирательных прав</b>.</li>
</ul>

<h5>Что здесь можно сделать ВО&nbsp;ВРЕМЯ ВЫБОРОВ?</h5>

<ul>
    <li>узнать, как <b>действовать в&nbsp;ситуации</b> возникшего нарушения;</li>
    <li>легко и&nbsp;оперативно <b>документировать</b> нарушение;</li>
    <li><b>привлечь к&nbsp;нему внимание</b> широкой общественности.</li>
</ul>

<h5>Что здесь можно сделать ПОСЛЕ ВЫБОРОВ?</h5>

<ul>
    <li>с&nbsp;помощью сайта <b>легко оформить жалобу и&nbsp;заявление</b> о&nbsp;нарушении;</li>
    <li><b>следить за&nbsp;ходом обжалования</b> в&nbsp;случае отказа;</li>
    <li>выложить в&nbsp;открытый доступ копии <b>итоговых протоколов</b> по&nbsp;своему участку;</li>
    <li>узнать <b>результаты выборов</b> по&nbsp;другим участкам;</li>
    <li>сравнить эти результаты <b>с&nbsp;данными ЦИК</b>.</li>
</ul>

<h4>Что нового даёт эта площадка?</h4>

<p>Многие из&nbsp;перечисленных функций в&nbsp;том или ином виде уже реализованы на&nbsp;других сайтах.
Однако ни&nbsp;один из&nbsp;существующих ресурсов не&nbsp;обладает функционалом, который позволил&nbsp;бы людям
<b>легко самоорганизоваться на&nbsp;местах</b>. Даже социальные сети не&nbsp;могут реализовать эту идею удобно и&nbsp;доступно
в&nbsp;масштабах всей страны. Кроме того, на&nbsp;данный момент нет интернет-сервисов, которые <b>облегчают
обжалование нарушений выборного законодательства</b>.</p>


<h4>Принципы</h4>


<ul>
    <li>содействие проведению прозрачных и&nbsp;честных выборов;</li>
    <li>распространение информации о&nbsp;выборном законодательстве;</li>
    <li>независимость от&nbsp;любых политических сил (надпартийность);</li>
    <li>участие как можно большего количества граждан России (инструмент гражданского общества);</li>
    <li>свободный доступ ко&nbsp;всем документам, данным и&nbsp;исходному коду (кроме базы данных пользователей);</li>
    <li>простота в&nbsp;использовании;</li>
    <li>учёт особенностей российских выборов.</li>
</ul>
