{% extends "base.html" %}

{% load elements %}

{% block title %}
    О проекте - Гракон - гражданский контроль за президентскими выборами
{% endblock %}

{% block head %}
    <!-- This style is used in a number of pages already - avoid it -->
    <style type="text/css">
        .ym-col3 .ym-cbox:last-child {display: none;}
		.ym-col3 {padding-right: 0;}
	/* for static pages */
		.ym-col3 .ui-tabs .ui-tabs-nav li a {height: 45px; text-align:center}
		.ym-col3 .ui-tabs .ui-tabs-nav li.ui-tabs-selected {height: 53px;}
		.ym-col3 .ui-tabs .ui-tabs-nav li.ui-tabs-selected a {padding-top: 2px;}
		.ym-col3 .ui-tabs .ui-tabs-nav li {line-height: 1.2em;}
    </style>
{% endblock %}

{% block left_column %}

    <h3 class="column_header column_header_icon"><span class="team">Команда</span></h3>
    <div class="ym-clearfix">
        <div class="content_block">
            <ul class="side_list">
                <li><a href="https://www.facebook.com/mikpanko" target="_blank">Михаил Панько</a> <br/> <i>координатор проекта</i></li>
                <li><a href="https://www.facebook.com/sergey.kopylov"  target="_blank">Сергей Копылов</a> <br/> <i>главный разработчик</i></li>
                <li><a href="https://www.facebook.com/profile.php?id=100001256049867"  target="_blank">Леонид Хайлов</a> <br/> <i>разработка интерактивных карт</i></li>
                <li><a href="http://ampersant.ru/" target="_blank">Николай Письменный</a> <br/> <i>продвижение и юзабилити</i></li>
                <li><a href="https://www.facebook.com/dukovsky" target="_blank">Антон Дуковский</a> <br/> <i>позиционирование проекта</i></li>
                <li><a href="https://www.facebook.com/maria.gaidar" target="_blank">Мария Гайдар</a> <br/> <i>информационная работа и интеграция</i></li>
                <li><a href="http://www.facebook.com/Ilia.Boykov" target="_blank">Илья Бойков</a> <br/> <i>продвижение, официальный представитель в России</i></li>
                <li><a href="http://www.facebook.com/profile.php?id=589927701" target="_blank">Мария Чарная</a> <br/> <i>информационный контент</i></li>
                <li><a href="http://www.facebook.com/profile.php?id=100000559544517" target="_blank">Ирина Хряева</a> <br/> <i>ведение блога проекта</i></li>
            </ul>
        </div>
    </div>
    
    <h3 class="column_header column_header_icon"><span class="documents">Документы</span></h3>
    <div class="ym-clearfix">
        <div class="content_block">
            <ul class="side_list">
                <li><a href="http://bit.ly/elections_pdf" style="font-weight: normal;">Презентация проекта</a></li>
                <!--li><a href="http://bit.ly/zOi7Fz">Подробная презентация проекта</a></li-->
                <li><a href="{{ STATIC_URL }}images/table_edited.png" style="font-weight: normal;">Таблица сравнения с&nbsp;другими проектами</a></li>
            </ul>
        </div>

    </div>
{% endblock %}

{% block content_header %}
    <h2 class="location_header">О проекте</h2>

    {% tabs "tabs" tab "" "" "<span style='line-height: 2em'>Описание</span>" "about" "static_pages/about/about.html" "<span style='line-height: 2em'>Правила</span>" "rules" "static_pages/about/rules.html" "<span style='line-height: 2em'>Новости</span>" "news" "static_pages/development/news.html" "<span style='line-height: 2em'>Функциональность</span>" "functionality" "static_pages/development/functionality.html"  "Сравнение<br />проектов" "comparison" "static_pages/about/comparison.html" "<span style='line-height: 2em'>О нас в СМИ</span>" "publications" "static_pages/about/publications.html" "Видеоконференция" "videoconf" "static_pages/about/videoconf.html" %}
{% endblock %}
