<script type="text/javascript">
$(function() {
	$('#lightbox').lightBox({
	imageLoading: '{{ STATIC_URL }}libs/lightbox/lightbox-ico-loading.gif',
	imageBtnClose: '{{ STATIC_URL }}libs/lightbox/lightbox-btn-close.gif',
	imageBtnPrev: '{{ STATIC_URL }}libs/lightbox/lightbox-btn-prev.gif',
	imageBtnNext: '{{ STATIC_URL }}libs/lightbox/lightbox-btn-next.gif'	
	}); // Select all links in the page
	// ... The possibility are many. Use your creative or choose one in the examples above
});
</script>
<a href="{{ STATIC_URL }}images/table_edited.png" id="lightbox"><img src="{{ STATIC_URL }}images/table_edited.png" width="100%" /></a>
<p>Поскольку тема честных выборов близка и волнует <strong>очень многих гражданРоссии</strong>, то появился <strong>целый ряд проектов и организаций</strong> по контролю за выборами. Это очень полезно для нашей страны, ведь чем больше людей защищает свои политические права, тем сильнее становится наше гражданское движение.</p>
<p>На первый взгляд кажется, что проекты конкурируют между собой. Но на самом деле <strong>у всех нас одна цель</strong>: чтобы выборы были честными, а результаты – легитимными. Поэтому мы говорим не о конкуренции, а о <strong>сотрудничестве и взаимной поддержке</strong>. Вы можете выбрать из разных возможностей проектов самый удобный для вас формат участия. А на интернет-площадке Гракон вы найдёте <strong>участников разных проектов</strong>, которые будут наблюдать <strong>на конкретно вашем избирательном участке</strong>. <br>
</p>

<p><em>ВНИМАНИЕ! Поскольку до выборов 4 марта 2012 г. осталось совсем мало времени, проекты по подготовке наблюдателей настоятельно рекомендуют не затягивать с заявками. Вам понадобится ещё оформить необходимые документы и, по возможности, пройти подготовку для наблюдателей. <br>
</em></p>

<h4><a href="http://rosvybory.org/" target="_blank" rel="nofollow">РосВыборы</a></h4>
<p>Организует и готовит группы наблюдателей на те участки, где были подозрения или факты фальсификаций на прошлых выборах в Госдуму 4 декабря 2011 г. Также создаёт мобильные группы для отлова «каруселей» и обеспечивает юридическую помощь. На сайте ведётся статистика участников по субъектам РФ – там можно посмотреть, насколько защищён от фальсификаций ваш регион. Выложены видео с примерами типичных нарушений. Проект активно развивается.</p>
<h4><a href="http://nabludatel.org/" target="_blank" rel="nofollow">Гражданин Наблюдатель</a></h4>
<p>Готовит и распределяет наблюдателей группами по 3-4 человека, чтобы эффективнее контролировать выборы. Во время выборов им помогает call-центр и мобильные группы из юристов и журналистов для проблемных участков. По данным о нарушениях юристы-волонтёры готовят жалобы и заявления. На сайте собрано много материалов для наблюдателей. Планируется запустить вебинары для наблюдателей из всех регионов.</p>
<h4><a href="http://ligaizbirateley.ru/" target="_blank" rel="nofollow">Лига Избирателей</a></h4>
<p>Проект помогает координировать действия волонтёрам и инициативным группам. На сайте ведётся лента новостей, создана база данных волонтёров и рабочих групп с конкретными задачами по регионам. Также есть юридическая помощь для всех, на кого оказывается незаконное давление по политическим причинам. Протоколы наблюдателей будут собраны, обработаны и систематизированы.</p>
<h4><a href="http://www.golos.org/" target="_blank" rel="nofollow">Голос</a></h4>
<p>Ассоциация «Голос» работает с 2000 г. и охватывает более 40 регионов. Размещает аналитические материалы, информацию и новости по теме выборов. Для выборов 4 марта ассоциация сосредоточилась на качественной фиксации нарушений: запущен проект «Репортёры на выборах» для граждан, которые хотят наблюдать в статусе корреспондентов СМИ (оформление, тренинги, координация в день выборов). Также на сайте есть много материалов для самоподготовки наблюдателей.</p>
<h4><a href="http://www.kartanarusheniy.ru/" target="_blank" rel="nofollow">Карта Нарушений</a></h4>
<p>Проект Ассоциации «Голос» и «Газеты.ru». Наглядная статистика нарушений предвыборного периода на карте России. На сайте можно оставить сообщение о различных нарушениях: отказ в регистрации независимых членов УИК, нарушение правил агитации, давление начальства на избирателей, нарушение прав кандидатов, подкуп избирателей и др. Проект проводит журналистские расследования по поступившим сообщениям, а также помогает в юридическом оформлении жалоб.</p>
<h4><a href="http://ruelect.com/" target="_blank" rel="nofollow">RuElect.com</a></h4>
<p>Наглядная сводка большого массива протоколов наблюдателей и количество фальсифицированных голосов по регионам. Альтернативные итоги выборов.</p>
<h4><a href="http://demvybor.ru/" target="_blank" rel="nofollow">Демократический Выбор</a></h4>
<p>Готовит наблюдателей, проводит семинары, в день выборов будет организована горячая линия, юридическая поддержка, СМС-информирование, мобильные группы поддержки.</p>
<h4><a href="http://rosmiting.ru/" target="_blank" rel="nofollow">РосМитинг</a></h4>
<p>Объединяет информацию по всем проводимым митингам в России, позволяет гражданам координировать действия. Можно зарегистрировать своё мероприятие, публиковать новости о нём, узнать о том, как вести себя на митинге, получить помощь юристов-волонтёров и др.</p>
<h4><a href="http://rosprotest.com/" target="_blank" rel="nofollow">РосПротест</a></h4>
<p>Интерактивная карта по протестным мероприятиям, можно вносить в базу и отображать акции протеста, случаи задержаний и судов, скопления полиции, войск, нашистов и техники, расположение ОВД, юристов и др.</p>
<h4><a href="http://karik.info/" target="_blank" rel="nofollow">КАРИК</a></h4>
<p>Комитет по Альтернативному Расследованию и Контролю. Проект даёт возможность наблюдателям выкладывать итоговые протоколы по участкам и сравнивать результаты наблюдателей с официальными данными.</p>