<div class="static-content">
  <p><strong>Дорогие друзья, посетители и&nbsp;участники проекта Гракон!</strong></p>
  <p>Выборы президента России прошли. Как и&nbsp;в&nbsp;ходе парламентских выборов в&nbsp;декабре прошлого года, на&nbsp;этот раз многими наблюдателями отмечены нарушения выборного процесса. В&nbsp;интернете появляются записи с&nbsp;установленных на&nbsp;участках веб-камер, фиксирующие &laquo;карусели&raquo;, <a href="http://ruscesar.livejournal.com/516210.html" target="_blank">вбросы</a> и&nbsp;другие фальсификации. Началось сравнение копий протоколов, полученных наблюдателями, и&nbsp;официальных данных ЦИК. В&nbsp;ряде случаев уже обнаружены существенные <a href="https://svodnyprotokol.ru/analytics.php?t=gas" target="_blank">расхождения</a>. </p>
<p>У&nbsp;многих возникают вопросы: каковы масштабы подобных нарушений? Оказали&nbsp;ли они существенное влияние на&nbsp;результаты выборов? Почему беспрецедентное число россиян&nbsp;&mdash; 14&nbsp;миллионов&nbsp;&mdash; голосовало по&nbsp;открепительным талона? Что происходило на&nbsp;множестве <a href="http://echo.msk.ru/blog/vice_chancellor/865587-echo/" target="_blank">&laquo;однодневных&raquo; УИКов</a>, в&nbsp;которых распределение голосов сильно расходится с&nbsp;соседними участками? Мог&nbsp;ли быть второй тур? Что нам делать дальше? </p>
<p>В&nbsp;этих вопросах сложно разобраться поодиночке. Но&nbsp;всем вместе, нам вполне по&nbsp;силам собрать по&nbsp;кусочкам и&nbsp;восстановить общую картину событий. После этого каждый сможет сам решить для себя, насколько он&nbsp;доверяет официальным результатам, и&nbsp;выбрать дальнейшие действия. </p>
<p>Площадка Гракон разрабатывается специально для того, чтобы дать обществу для этого удобные инструменты. Сейчас мы&nbsp;работаем в&nbsp;двух направлениях:</p>
  <h4>Сбор и&nbsp;анализ информации о&nbsp;прошедших выборах</h4>
  <ol type="1">
    <li>
      <p><strong>Нарушения</strong></p>
      <p>Расскажите о&nbsp;нарушениях, свидетелем которых вы&nbsp;стали. Напишите о&nbsp;факте нарушения, закачайте в&nbsp;интернет видео или документ, свидетельствующий о&nbsp;нем, и&nbsp;разместите ссылку на&nbsp;нашем сайте. Фото-, видео- или другие документальные доказательства особенно приветствуются. С&nbsp;ними нам будет легче доказать факт нарушения в&nbsp;суде. </p>
<p>Также мы&nbsp;транслируем базы нарушений с&nbsp;&laquo;Гражданина Наблюдателя&raquo;, &laquo;Карты нарушений&raquo; и&nbsp;других.</p>
    </li>
    <li>
      <p><strong>Протоколы</strong></p>
      <p>Добавляйте копии итоговых протоколов голосования. Они позволят нам сравнивать результаты выборов на&nbsp;избирательных участках, контролируемых наблюдателями, с&nbsp;результатами, выданными системой ГАС &laquo;Выборы&raquo;, контроля за&nbsp;которой у&nbsp;общества нет. Мы&nbsp;призываем всех наблюдателей и&nbsp;членов избирательных комиссий поделиться своими копиями с&nbsp;другими гражданами, даже если расхождений с&nbsp;системой нет. </p>
<p>Мы&nbsp;ведем общую базу протоколов вместе с&nbsp;проектами &laquo;Гражданин наблюдатель&raquo;, общественной организацией &laquo;Голос&raquo; т.д.</p>
    </li>
    <li>
      <p><strong>Официальные данные ЦИК</strong></p>
      <p>Мы&nbsp;публикуем официальные результаты выборв предоставленных ЦИК. Таким образом, вы&nbsp;можете сравнить официальные данные с&nbsp;тем, что выкладывают наблюдатели и&nbsp;другие активисты. Уже сейчас видно, что часть протоколов была &laquo;переписана&raquo;. Размещайте свои копии у&nbsp;нас&nbsp;&mdash; так будет легче сверить данные, собрать их&nbsp;все в&nbsp;одном месте!</p>
    </li>
    <li>
      <p><strong>Сбор ссылок на&nbsp;видео-записи сделанные веб-наблюдателями</strong></p>
      <p>В&nbsp;ближайшее время любой веб-наблюдатель, записавший видео с&nbsp;установленных на&nbsp;участках веб-камер, сможет оставить ссылку на&nbsp;свое видео на&nbsp;странице соответствующей УИК. Это поможет в&nbsp;фиксации нарушений и&nbsp;послужит лишним доказательство в&nbsp;суде.</p>
    </li>
    <li>
      <p><strong>Отчеты о&nbsp;наблюдении</strong></p>
      <p>Мы&nbsp;начинаем сбор отчетов наблюдателей, веб-наблюдателей и&nbsp;членов избирательных комиссий на&nbsp;выборах. Напишите нам, как все прошло и&nbsp;что вы&nbsp;увидели. Ссылки на&nbsp;видео- и&nbsp;документальные материалы приветствуются! Лучшие отчеты будут помещены на&nbsp;главной странице сайта. В&nbsp;ближайшее время мы&nbsp;добавим специальный инструмент для оставления отчетов на&nbsp;Граконе.</p>
    </li>
    <li>
      <p><strong>Рейтинг участков</strong></p>
      <p>Для выявления наиболее проблемных мест, составления &laquo;черных&raquo; и&nbsp;&laquo;белых&raquo; списков УИК, сотрудников избиркомов и&nbsp;т.д., мы&nbsp;добавим инструмент для оценки работы участковых избирательных комиссий. Любой участник площадки сможет оставить свое мнение. </p>
    </li>
    <li>
      <p><strong>Размещение собранных Граконом данных в&nbsp;открытом доступе</strong></p>
      <p>Наверное, самый главный вклад Гракона в&nbsp;освещении выборов будет состоять в&nbsp;том, что, начиная со&nbsp;следующей недели, мы&nbsp;будем выкладывать все собранные и проверенные данные в&nbsp;открытом доступе. (Разумеется, это не&nbsp;распространяется на&nbsp;личные данные пользователей.) В&nbsp;результате, любой сможет скачать их&nbsp;и&nbsp;провести собственный анализ. Это беспрецедентное явление. Наша база данных содержит широкий спектр ранее недоступной информации, позволяющей ответить на&nbsp;такие вопросы, как:</p>
      <ul>
        <li>как количество зафиксированных нарушений отразилось на&nbsp;распределении голосов;</li>
        <li>распределение голосов в&nbsp;зависимости от&nbsp;того, наблюдатели от&nbsp;каких организаций и&nbsp;партий были на&nbsp;участке;</li>
        <li>сколько процентов в&nbsp;среднем &laquo;накидывалось&raquo; через:</li>
        <ol>
          <li>вбросы</li>
          <li>карусели</li>
          <li>переписывания протоколов.</li>
        </ol>
      </ul>
    </li>
  </ol>
  <p>На&nbsp;эти и&nbsp;другие вопросы можно будет отвечать как по&nbsp;всей России, так и&nbsp;в&nbsp;срезах по&nbsp;любым субъектам и&nbsp;ТИКам.</p>
  <h4>Координация действий после выборов</h4>
  <ol type="1">
    <li>
      <p><strong>Помощь в&nbsp;написании и&nbsp;подаче жалоб по&nbsp;выборам в&nbsp;прокуратуру</strong></p>
      <p>Благодаря партнерству сайта &laquo;Куда?Кому?&raquo; и&nbsp;проекта Гракон у&nbsp;пользователей будет возможность оперативно и&nbsp;юридически грамотно составить жалобу о&nbsp;нарушении на&nbsp;выборах и&nbsp;отправить ее&nbsp;в&nbsp;прокуратуру. Обязательно вывесите свою жалобу на&nbsp;сайте Гракона и&nbsp;пишите о&nbsp;том, как происходит ее&nbsp;рассмотрение&nbsp;&mdash; остальные пользователи смогут узнать, как работает судебная система, а&nbsp;также получить новый опыт или поддержать вас.</p>
    </li>
    <li>
      <p><strong>Бесплатные юридические консультации по&nbsp;нарушениям на&nbsp;выборах</strong></p>
      <p>На&nbsp;данный момент на&nbsp;Граконе зарегистрировано 80&nbsp;юристов. Некоторые из&nbsp;них дали идею создания единого сообщества юристов, готовых дать бесплатную консультацию любому пользователю площадки по&nbsp;поводу прошедших выборов. Это можно будет сделать через специальные стены для общения или по&nbsp;телефону/скайпу.</p>
    </li>
    <li>
      <p><strong>Организация акций и&nbsp;мероприятий</strong></p>
      <p>В&nbsp;ближайшее время пользователи смогут публиковать информацию о&nbsp;мероприятиях и&nbsp;акциях в&nbsp;поддержку гражданского общества, чтобы участники площадки из&nbsp;их&nbsp;региона узнали о&nbsp;планируемом событии и&nbsp;могли записаться</p>
    </li>
    <li>
      <p><strong>Группы и&nbsp;организации</strong></p>
      <p>Мы&nbsp;призываем координаторов региональных групп и&nbsp;организаций, так или иначе борющихся за&nbsp;честные выборы, завести свои страницы на&nbsp;Граконе. До&nbsp;выборов вы&nbsp;подготавливали наблюдателей. Теперь Гракон поможет вам собрать и&nbsp;организовать местных активных граждан для после-выборных действий.</p>
    </li>
    <li>
      <p><strong>Помощь пострадавшим по&nbsp;политическим мотивам</strong></p>
      <p>На&nbsp;Граконе появится инструмент для оперативного информирования о&nbsp;задержанных по&nbsp;политическим мотивам. Местные активисты смогут отслеживать ситуацию и&nbsp;помогать по&nbsp;необходимости.</p>
    </li>
    <li>
      <p><strong>Объединение тех, на&nbsp;кого оказывалось давление начальства при голосовании</strong></p>
      <p>Мы&nbsp;начнем анонимный сбор людей по&nbsp;организациям и&nbsp;компаниям, которые считают, что на&nbsp;них оказывалось административное давление во&nbsp;время голосования. Такие группы смогут общаться и&nbsp;получать юридические консультации, сохраняя анонимность. Если они решат, то&nbsp;в&nbsp;любой момент люди в&nbsp;этих группах смогут &laquo;выйти из&nbsp;тени&raquo; и&nbsp;подать коллективную жалобу.</p>
    </li>
  </ol>
  <p><strong>ВНИМАНИЕ!</strong></p>
  <p>Дорогой участник, команда Гракон старается для Вас, и&nbsp;вместе мы&nbsp;делаем действительно важное дело. В&nbsp;данный момент нам очень нужны деньги на&nbsp;поддержание проекта. Если Вы&nbsp;считаете наш сайт полезным и&nbsp;можете профинансировать наше начинание, то&nbsp;подробности <a href="/donate">здесь</a>. Мы&nbsp;будем предоставлять полную отчетность о&nbsp;собранных и&nbsp;потраченных средствах.</p>
  
  <p>Также нам нужен дополнительный профессиональный веб-разработчик с&nbsp;большим опытом работы с&nbsp;Python/Django. С&nbsp;ним разработка инструментов, указанных выше, значительно ускорится. Если Вы&nbsp;можете помочь, пожалуйста, свяжитесь с&nbsp;нами через <a href="mailto:admin@grakon.org">admin@grakon.org</a>. В&nbsp;зависимости от&nbsp;ситуации возможна конкурентная компенсация труда.</p>
</div>