<p>О нас пишут:</p>

<ul class="logo_list">
    <li>
        <a href="http://www.kommersant.ru/doc/1879339" target="_blank"><img src="/static/images/logos/kommersant.jpg" height="25" style="margin: 0 10px 10px 0" /></a>
    </li>
    <li>
        <a href="http://www.bg.ru/news/10045/" target="_blank"><img src="/static/images/logos/bigcity.jpg" height="40"/></a>
    </li>
    <li>
        <a href="http://rbth.ru/articles/2012/02/16/political_fraud_fuels_civil_action_14863.html" target="_blank"><img src="/static/images/logos/rbh.jpg" height="40"/></a>
    </li>
    <li>
        <a href="http://www.bbc.co.uk/russian/rolling_news/2012/02/120223_rn_grakon_election.shtml" target="_blank"><img src="/static/images/logos/bbcrussia.jpg" height="40"/></a>
    </li>
    <li>
        <a href="http://www.worldcrunch.com/new-website-hopes-be-russian-elections-monitoring-facebook/4754" target="_blank"><img src="/static/images/logos/worldcrunch.jpg" height="40"/></a>
    </li>
    <li>
        <a href="http://www.worldcrunch.com/new-website-hopes-be-russian-elections-monitoring-facebook/4754" target="_blank"><img src="/static/images/logos/ruformator.jpg" height="40"/></a>
    </li>
    <li>
        <a href="http://cogita.ru/syuzhety/vybory-2011/novyi-media-instrument-dlya-kontrolya-za-vyborami" target="_blank"><img src="/static/images/logos/cogita.jpg" height="40"/></a>
    </li>
</ul>