<p>Главная цель площадки Гракон - объединение активных граждан России для независимого общественного
мониторинга хода выборов президента 4 марта. На площадке запрещена любая деятельность,
не связанная напрямую с контролем выборов или нарушающая Российское законодательство:</p>

<ul>
    <li>любая прямая агитация за или против любых политических сил</li>
    <li>флуд, спам, троллинг</li>
    <li>действия, не связанные напрямую с выборным процессом</li>
    <li>экстремистская деятельность</li>
    <li>разжигание межнациональной или межрасовой вражды</li>
    <li>призывы к насилию, угрозы</li>
</ul>

<p>Администрация площадки не может полностью контролировать соблюдение выше-обозначенных правил
и не несет ответственность за материалы, размещенные на сайте. В то же время, мы призываем пользователей
помогать нам проводить модерирование, используя инструмент “пожаловаться” в случаях обнаружения грубых нарушений.
Мы будем удалять запрещенные материалы и банить пользователей, не соблюдающих установленные правила.</p>

<p>Площадка не ставит целью заменить существующие онлайн-ресурсы, используемые для мониторинга выборов
(это не имеет смысла и невозможно в условиях ограниченного времени до 4 марта). Мы призываем пользователей
использовать Гракон только для выкладывания контактных данных для связи, установления начального контакта
и внесения статистики для последующего анализа. По возможности, ставьте ссылки и выносите обсуждения
и работу на внешние ресурсы, например, социальные сети и email-рассылки.</p>
