<p>Главная цель площадки Гракон&nbsp;&mdash; объединение активных граждан России для независимого общественного
мониторинга хода выборов президента 4&nbsp;марта. На&nbsp;площадке запрещена любая деятельность,
не&nbsp;связанная напрямую с&nbsp;контролем выборов или нарушающая Российское законодательство:</p>

<ul>
    <li>любая прямая агитация за&nbsp;или против любых политических сил;</li>
    <li>флуд, спам, троллинг;</li>
    <li>действия, не&nbsp;связанные напрямую с&nbsp;выборным процессом;</li>
    <li>экстремистская деятельность;</li>
    <li>разжигание межнациональной или межрасовой вражды;</li>
    <li>призывы к&nbsp;насилию, угрозы.</li>
</ul>

<p>Администрация площадки не&nbsp;может полностью контролировать соблюдение выше-обозначенных правил
и&nbsp;не&nbsp;несет ответственность за&nbsp;материалы, размещенные на&nbsp;сайте. В&nbsp;то&nbsp;же время, мы&nbsp;призываем пользователей
помогать нам проводить модерирование, используя инструмент &laquo;пожаловаться&raquo; в&nbsp;случаях обнаружения грубых нарушений.
Мы&nbsp;будем удалять запрещенные материалы и&nbsp;банить пользователей, не&nbsp;соблюдающих установленные правила.</p>

<p>Площадка не&nbsp;ставит целью заменить существующие онлайн-ресурсы, используемые для мониторинга выборов
(это не&nbsp;имеет смысла и&nbsp;невозможно в&nbsp;условиях ограниченного времени до&nbsp;4&nbsp;марта). Мы&nbsp;призываем пользователей
использовать Гракон только для выкладывания контактных данных для связи, установления начального контакта
и&nbsp;внесения статистики для последующего анализа. По&nbsp;возможности, ставьте ссылки и&nbsp;выносите обсуждения
и&nbsp;работу на&nbsp;внешние ресурсы, например, социальные сети и&nbsp;email-рассылки.</p>