<p>2 марта в 20 часов (время московское) разработчики <a href="/">grakon.org</a> организуют телемост с посетителями сайта и со всеми заинтересованными гражданами России. Мы расскажем вам о нашем проекте, целях и задачах, планах развития, а также ответим на все интересующие вопросы о ресурсе.</p>
<p>Нам не терпится познакомиться с вами, выслушать все ваши предложения и замечания. Не забудьте &mdash; 2 марта, 20:00.</p>
<p>Для участия в конференции зарегистрируйтесь на сайте <a href="http://firmbook.ru/" target="_blank">firmbook.ru</a></p>


<div align="center">
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="640" height="300" id="conferencePlayer"><param name="movie" value="http://firmbook.ru/Content/Flash/EmbededClient.swf?14102010"/><param name="allowfullscreen" value="true" /><param name="flashvars" value="conferenceId=SYkCt5eX_USNZ3ZdDl55uA&amp;flashComAddress=rtmp://62.213.87.116/conference-production"/><!--[if !IE]>--><object type="application/x-shockwave-flash" data="http://firmbook.ru/Content/Flash/EmbededClient.swf?14102010" width="640" height="300"><param name="allowfullscreen" value="true"/><param name="flashvars" value="conferenceId=SYkCt5eX_USNZ3ZdDl55uA&amp;flashComAddress=rtmp://62.213.87.116/conference-production"/><!--<![endif]--><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" /></a><!--[if !IE]>--></object><!--<![endif]--></object>

<p class="grey"><small>Обращаем ваше внимание, что для участия в конференции<br />вам необходима последняя версия <a href="http://get.adobe.com/ru/flashplayer/" target="_blank">Adobe Flash Player</a> и открытый порт TCP 1935.</small></p>
</div>
<p>Конференция пройдет при технической поддержке сайта <a href="http://firmbook.ru/" target="_blank">firmbook.ru</a></p>
<br /><br />
