<p>Видеоконференция начнется 2-го&nbsp;марта в 20:00 (по московскому времени).</p>

<div align="center">
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="640" height="300" id="conferencePlayer"><param name="movie" value="http://firmbook.ru/Content/Flash/EmbededClient.swf?14102010"/><param name="allowfullscreen" value="true" /><param name="flashvars" value="conferenceId=SYkCt5eX_USNZ3ZdDl55uA&amp;flashComAddress=rtmp://62.213.87.116/conference-production"/><!--[if !IE]>--><object type="application/x-shockwave-flash" data="http://firmbook.ru/Content/Flash/EmbededClient.swf?14102010" width="640" height="300"><param name="allowfullscreen" value="true"/><param name="flashvars" value="conferenceId=SYkCt5eX_USNZ3ZdDl55uA&amp;flashComAddress=rtmp://62.213.87.116/conference-production"/><!--<![endif]--><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" /></a><!--[if !IE]>--></object><!--<![endif]--></object>

<p class="grey"><small>Обращаем ваше внимание, что для участия в конференции<br />вам необходима последняя версия <a href="http://get.adobe.com/ru/flashplayer/" target="_blank">Adobe Flash Player</a> и открытый порт TCP 1935.</small></p>
</div>

