{% extends "base.html" %}

{% load uni_form_tags %}

{% block content_header %}
    <h2 class="location_header">Вход в систему</h2>
{% endblock %}

{% block content %}
    {% uni_form form form.helper %}

    <center>
        <iframe src="http://loginza.ru/api/widget?overlay=loginza&providers_set=google,vkontakte,facebook,livejournal,yandex,mailru,rambler,twitter,odnoklassniki&lang=ru&token_url={{ LOGINZA_IFRAME_URL }}"
                style="width:359px;height:170px;" scrolling="no" frameborder="no"></iframe>
        <br/>
        <a href="{% url register %}">Или зарегистрируйтесь</a>
    </center>

    <!--a href="{% url password_reset %}">Забыли пароль?</a-->
{% endblock %}
