{% extends "base.html" %}

{% load uni_form_tags %}

{% block content_header %}
    <h2 class="location_header">Вход в систему</h2>
{% endblock %}

{% block content %}
    <div class="static-content">
        {% uni_form form form.helper %}

        <div class="center">
            {% include "elements/loginza.html" %}
            <br/>
            <a href="{% url password_reset %}">Забыли пароль?</a>&nbsp;&nbsp;&nbsp;
            <a href="{% url register %}">Регистрация</a>
        </div>
    </div>
{% endblock %}
