{% extends "base.html" %}

{% load uni_form_tags %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
    <h2>Восстановление пароля</h2>

    {% if validlink %}
        <p>Введите новый пароль</p>
        {% uni_form form form.helper %}		
    {% else %}
        <p>При восстановлении пароля произошла ошибка. Данная ссылка для восстановления пароля недействительна, возможно, потому что уже была использована.
            Попробуйте запросить восстановление пароля ещё раз.</p>
    {% endif %}
{% endblock %}

