{% extends "base.html" %}

{% block content_header %}
    <h2 class="location_header">Регистрация успешно завершена</h2>
{% endblock %}

{% block content %}
    <p>Чтобы активировать аккаунт, проверьте электронную почту (<b>в том числе папку спам</b>), и перейдите по ссылке из письма.
    Если письмо пришло в папку спам, отметьте его как “не спам”, и добавьте наш электронный адрес в список своих контактов,
    чтобы избежать потери писем от Гракона в будущем.</p>

    {% include "elements/share_horizontal.html" %}
{% endblock %}