{% extends "base.html" %}

{% load uni_form_tags %}

{% block content_header %}
    <h2 class="location_header">Регистрация нового пользователя</h2>
{% endblock %}

{% block content %}
    <div class="static-content">
        <p>Поля отмеченные звездочкой (<span class="asteriskField">*</span>) обязательны для заполнения.</p>

        {% uni_form form form.helper %}

        <div style="display:none;"><script type="text/javascript">
            {% with yandex_target="register" %}
                {% include "services/yandex-target.html" %}
            {% endwith %}
        </script></div>
    </div>
{% endblock %}

